[2014-07-20 13:28] KiarashS opened #1 ".Net Framework"
Hi,
Very thanks for devicon.

Where is .Net Framework, C#, ASP.NET, ASP.NET MVC icons?

[2014-07-21 10:12] ghost opened #2 "Backbone"

[2014-07-21 11:50] #2 closed, assigned to nobody

[2014-07-21 11:53] #1 closed, assigned to nobody

[2014-07-22 02:35] wakatara opened #3 "Ruby and a Rails icon please!"
Much as I was happy to see a Python icon in the list, since I'm a Rails and Ruby person, I'd be a slightly happier panda not to see my fave language and web framework represented here.

[2014-07-22 06:17] #3 closed, assigned to nobody

[2014-07-22 08:32] KiarashS opened #4 "MS SQL SERVER Logo"
Hi,
very thanks for .NET logo ;)
Please add Microsoft SQL Server logo:
http://upload.wikimedia.org/wikipedia/de/8/8c/Microsoft_SQL_Server_Logo.svg
and
http://infiniox.com/wp-content/uploads/2014/01/SQL-integration-with-DotActiv.png

Also add this .NET logo which "Microsoft .NET" text located on the right:
http://www.nilkanth.com/my-uploads/2008/10/newdotnetlogo_2.png

Thanks in advance.

[2014-07-30 12:10] patri-baroni opened #5 "Node JS, Kraken JS, PostgreSQL & mongoDB"
Hi,
Congratulations and thanks for devicon!
Could you add Node JS, Kraken JS, PostgreSQL & mongoDB icons?
Thanks in advance,
Patricia.

[2014-08-01 08:33] #5 closed, assigned to nobody

[2014-08-15 11:55] patri-baroni opened #6 "Spring, Struts, Drupal, Oracle & Moodle"
¿Could you add this ones?
Thanks.

[2014-09-01 20:47] zheref opened #7 "Awesome work. Missing a lot yet. Congrats and thanks"
It would be great to see:

Microsoft SQL Server
MariaDB
Redis
CouchDB
Visual Studio
JetBrains
WebStorm
PhpStorm
IntelliJ
AppCode
ReSharper
NetBeans
Eclipse
Atom
Sublime Text
Trello
StackOverflow
Chrome
iOS
OS X
Windows Phone
Windows 8
Windows 7
ExpressJS
SocketIO
C#
Objective-C
Xamarin
Ionic Framework
Steroids Framework
Amazon Web Services
Windows Azure
Google Developers
Google Cloud
Android

And

[2014-09-09 21:19] ricardoalcocer opened #8 "Icon request"
Appcelerator

[2014-10-04 16:06] PatrickGalvin opened #9 "Icons removed"
I looked back to a version of devicons I downloaded before, and so many icons have been removed. Why?

[2014-10-10 07:56] #9 closed, assigned to nobody

[2014-10-10 13:46] #8 closed, assigned to nobody

[2014-10-10 13:46] #6 closed, assigned to nobody

[2014-10-10 13:46] #4 closed, assigned to nobody

[2014-11-27 20:17] rubenabergel opened #10 "the apple icon does not work"

[2014-11-28 12:54] konpa opened #11 "Icon Requests [outdated]"
_Please comment this issue in order to request an icon and I will update this list._

~~Android~~
~~Amazon Web Services~~
API
AppCode
~~Atom~~
Autodesk
Bash
BEM
BizTalk
Blender3d
~~CakePHP~~
CentOS
~~Chrome~~
Clojure
ClojureScript
~~CoffeeScript~~
chef
CMake
Common Lisp
Compass
Composer
~~CouchDB~~
CUDA
~~C#~~
D
Eclipse
~~ElectronJS~~
~~Elm~~
Elixir
~~Ember~~
~~ExpressJS~~
F#
Firebase
Flask
FreeBS

[2014-11-28 12:55] #7 closed, assigned to nobody

[2014-11-28 13:05] #10 closed, assigned to nobody

[2015-01-23 19:13] toastal commented on #11
I'll add too some popular things:

#### Server OSs
- CentOS
- FreeBSD
- OpenBSD

#### Servers
- Nginx
- Apache

#### Databases
- MariaDB
- PostreSQL

#### Browsers
- Midori

#### Languages
- NodeJS
- Haskell
- Erlang
- Elixir
- Clojure
- Lua
- Go
- Scala
- Elm
- Dart
- Perl

#### Frameworks
- Django (Python)
- Flask (Python)
- Yesod (Haskell)
- Phoenix (Elixir)
- Koa (NodeJS)
- Hapi (NodeJS)
- Sym

[2015-01-23 22:43] Kerrick commented on #11
Another JS Framework: Ember.js (the logotype or the tomster)

[2015-01-24 08:50] konpa commented on #11
Hi Guys,

Thx for your inputs. I'll add them to the icon requests list.

Another icon set is coming soon :) Stay tuned

[2015-01-27 09:52] konpa commented on #11
fc6f0b7cee59d7f96149cc43dfa518c818b18035

[2015-02-02 18:24] diegobfernandez commented on #11
Missing Heroku.
When is Microsoft Azure and Redis coming?

[2015-02-16 16:26] ChihChengLiang commented on #11
Docker and meteor please

[2015-03-03 09:52] zhangns commented on #11
C
C++
Common Lisp
D
Pascal
Scheme
Tcl
VB.NET

please

[2015-03-04 18:28] connor4312 commented on #11
+1 to Go and Erlang :)

[2015-03-18 11:27] ae0000 commented on #11
+1 Go

[2015-03-21 17:14] bakx commented on #11
Great icons, exactly what I was looking for. Too bad C# doesn't have an icon yet (guess which one I was mostly looking for)

Is it possible to add it?

[2015-03-23 15:43] konpa commented on #11
Hi bakx,

Thanks for your feedback. I planned to add C, C++ and C# but these programming languages don't seem to have an official logo. If you have any suggestions, please let me know

[2015-03-24 09:28] KabbAmine commented on #11
I know that they're small but you can have an idea from [dash docsets icons](https://kapeli.com/dash#docsets).

And another request :laughing: [Jade](http://jade-lang.com).
Thanks again.

[2015-04-21 03:24] lexcast commented on #11
Composer
Node Webkit
Doctrine
Open Source
+1 Apache
+1 Nginx
Vagrant
VirtualBox

[2015-05-13 08:16] konpa commented on #11
Go, Heroku, Redis, Meteor & Docker icons added

61ef8f1de7a2bb2d4f80c2648946a4b6e39a6f92

[2015-05-13 14:37] konpa commented on #11
Erlang, Apache, Doctrine, Nginx & Nodewebkit icons added

e05de2250ced5a5a0ba61dcc4dd2871d688aa0d6

[2015-05-14 10:51] konpa commented on #11
C, C++, C#, Redhat & Gimp icons added

e1e71358efd844876dfc3217aa6429957ad92bc8

[2015-05-20 23:40] azzamaurice commented on #11
Safari

[2015-05-22 05:26] ElvantoStewart commented on #11
+1 Safari
+1 Django
+1 Flask
+1 Jetbrains
PyCharm
+1 PHP Storm

[2015-05-22 05:39] bensinclair commented on #11
+1 Safari

[2015-05-22 10:04] konpa commented on #11
JetBrains, Django & Safari icons added

89f2f44ba07ea3fff7e561c2142813b278c2d6c6

[2015-05-24 16:45] poonwu commented on #11
Would game development tools be appropriate?

Unity Game Engine
Unreal Engine
CryEngine
Game Maker

Notepad++
Gitlab
Bitbucket

[2015-05-25 20:57] andrepoleza commented on #11
+1 Clojure

[2015-06-06 08:46] wjramos commented on #11
+1 Vagrant

[2015-06-17 16:50] vizv opened #12 "Add to npm registry?"
Could you make this awesome project available on the npm registry so I can add into dependencies of my `package.json`?

I saw there is already a `package.json` in the project root directory, however it's not available on the npm registry.

[2015-06-17 17:02] konpa commented on #12
Sure. I'll do this as soon as possible.

[2015-06-17 17:21] vizv commented on #12
Thanks! :+1:

[2015-06-18 06:20] konpa commented on #12
https://www.npmjs.com/package/devicon

[2015-06-18 06:20] #12 closed

[2015-07-01 20:18] dylanstewart commented on #11
You have Photoshop and Illustrator up, so it would make sense to have inDesign up there as well. Awesome work so far.

[2015-07-02 14:43] sortsen commented on #11
Could you add cURL?

[2015-07-08 13:13] chypriote commented on #11
+1 ExpressJS & Jade

[2015-07-10 04:30] Dev814 commented on #11
How do I make the svg versions smaller?

[2015-07-10 06:09] konpa commented on #11
You simply add a class to the svg and set a max-width in your css

HTML
[code]

CSS
[code]

PS: please open a new issue when asking question that are not related with the current issue (this is a icon request thread)

[2015-07-14 20:44] TheLastShadow commented on #11
Awesome work, thank you !

A cordova icon would be welcome.

[2015-07-20 20:01] bmrscott opened #15 "How do you change the size."
how do you change the size of the HTML icon or do I have to use a SVG?

<i class="devicon-amazonwebservices-original"></i>

[2015-07-21 08:07] konpa commented on #15
You simply use the font-size property in your stylesheet

HTML
[code]

CSS
[code]

[2015-07-21 08:07] #15 closed

[2015-07-24 12:21] Elhebert commented on #11
Awesome, but I miss :
- Bash
- DOS
- Scss
- Cakephp
- Phpstorm
- Intellij
- Cisco
- Debian
- OOP (object oriented programming)

[2015-07-24 15:38] toastal commented on #11
@Elhebert

Already exist: Sass (which includes SCSS) and Debian
Tangentially exists: JetBrains (which includes PhpStorm and IntelliJ)
Already listed here: CakePHP
Are you really building a website in Bash or DOS?
How or why would you make a logo for a programming paradigm?

[2015-07-24 15:57] Elhebert commented on #11
Are you really building a website in Bash or DOS?

No, but I tough that ur icon set was about programming languages and bash/dos are both programming languages, for scripts, but still programming 😊 But I can understand that I must be the only one asking for such thing (must be my sys admin side taking over the dev one ^^).

How or why would you make a logo for a programming paradigm?

I had in min

[2015-08-05 15:25] herau commented on #11
Could you had Spring, Maven, Jenkins please ?

+1 for intellij IDEA

[2015-08-12 02:29] simaodeveloper commented on #11
Please, I request a Jeet Icon http://jeet.gs/

- Jeet

[2015-08-14 16:00] zelphir commented on #11
- Stylus (CSS)
- Handlebars
- Jade

[2015-08-14 18:35] adammacias commented on #11
- Jekyll
- WooCommerce
- GitHub
- Bitbucket
- Gitlab

[2015-08-22 11:29] KarlPurk commented on #11
+1 [Ember.js](http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200)

[2015-08-26 21:55] anthony-dandrea commented on #11
+1 Flask (python)
+1 Pyramid (python)
+1 Twisted (python)
+1 iOS (more specific than just the apple logo)
+1 OAuth http://oauth.net/
+1 SSH
+1 Spring (java)
+1 Grails (java)

Awesome library btw

[2015-08-28 14:34] gausie commented on #11
Swift

[2015-09-08 04:11] esecules commented on #11
Kubernetes

[2015-09-11 19:01] Penagwin commented on #11
+1 sublime text. I would like to use it for a project I'm working on.

[2015-09-12 07:02] andrewjensen commented on #11
d3.js

[2015-09-14 12:07] virgiliu commented on #11
I would like the following added if/when possible:

* [Polymer](https://www.polymer-project.org/1.0/docs/)
* [Elasticsearch](https://www.elastic.co/)
* [Django Rest Framework](http://www.django-rest-framework.org/)

[2015-10-18 09:05] makadlcik commented on #11
I love your work! I would like to request these:
* JSON
* XML

[2015-10-19 00:17] sul4bh commented on #11
Semantic-UI please (http://semantic-ui.com)

[2015-10-19 02:48] Penagwin commented on #11
+1 Semantic-UI

[2015-10-24 22:02] claytonbrown1 commented on #11
+1 Jekyll

[2015-10-26 04:46] ruicosta042 commented on #11
+1 Jenkins
JIRA https://www.atlassian.com/software/jira

[2015-10-29 13:41] clouddra commented on #11
webpack https://webpack.github.io/
flux https://facebook.github.io/flux/
babel https://babeljs.io/
+1 elasticsearch
+1 Jekyll

[2015-11-09 21:49] konpa commented on #11
Bitbucket, Confluence, D3.js, Github, Gitlab, Jeet, PhpStorm, Source Tree and SSH added

946857079b5357c3ef5c1198e7822bd875fbd719

[2015-11-12 00:42] chonz0 commented on #11
Awesome work, konpa!
+1 CakePHP
+1 Ionic Framework

Thanks!

[2015-11-15 22:00] dyzajash commented on #11
+1 Elixir
+1 TypeScript
+1 CentOs
+1 MariaDB

[2015-11-18 19:54] lukaszgrolik commented on #11
Thanks for great work. My requests:

- Sublime Text
- NPM
- Babel
- Webpack
- Linux Mint

[2015-11-18 20:08] lukaszgrolik opened #20 "React svg icons are black instead of blue"

[2015-11-18 20:22] konpa commented on #20
Oh you're right. The `fill` attribute is missing in `path`. I'll add it as soon as possible.

[2015-12-01 00:59] curtisblackwell commented on #11
- [Statamic](http://statamic.com/press)
- Vagrant :+1:

[2015-12-01 08:09] jbarzegar commented on #11
Amazing work :) My Requets

* :+1: Jade

* :+1: Sublime Text

* :+1: Npm

* [Jekyll](http://jekyllrb.com/)

[2015-12-05 04:22] Ch4s3 commented on #11
+1 elixir

[2015-12-09 01:16] curtisblackwell commented on #11
json :+1:

[2015-12-29 04:00] princemaple commented on #11
Rustlang ![Rust](https://www.rust-lang.org/logos/rust-logo-blk.svg)

[2015-12-30 21:25] princemaple opened #21 "Update NPM"
@konpa could you publish the latest version to NPM please? Thanks!

[2016-01-07 23:25] excalq commented on #11
Perhaps "O-notation"? e.g. an italicized "O(n)" or even "Ω(n)".

[2016-01-27 21:31] aydrian commented on #11
+1 elixir
Thanks!

[2016-01-27 21:32] princemaple commented on #11
Yeah +1 Elixir

[2016-02-02 01:54] EngHell commented on #11
+1 in Phonegap and Cordova

[2016-02-08 22:03] simaodeveloper commented on #11
-1 terminal icon

[2016-02-16 22:30] kl2611 commented on #11
+1 Matlab

[2016-02-19 13:00] winterstein commented on #11
Thank you Julien - this is a great set of icons.

I'd like to request some "general purpose" icons, such as "database"

[2016-02-27 19:45] pzenger commented on #11
+1 EmberJS

[2016-03-02 13:44] StrubT commented on #11
Great job! Thanks a lot.
Could you please add
- [ ] VB.NET (already mentioned)
- [ ] Kotlin

[2016-03-07 21:13] emkk commented on #11
+1 Clojure

[2016-03-12 23:43] noczesc commented on #11
+1 Jade

[2016-03-20 19:49] bdkent commented on #11
+1 [Purescript](http://www.purescript.org)

[2016-03-24 17:04] danatcofo commented on #11
- Tomcat
- JBoss

[2016-03-26 07:59] NiVanc commented on #11
Thanks a lot, this is a great set of icons. I would like to request the following icon:
+1 [Elasticsearch](http://elastic.co)

[2016-03-29 10:28] vishalce commented on #11
Magento

[2016-04-08 03:25] #21 closed

[2016-04-09 01:09] tiagonbotelho commented on #11
Elixir
Phoenix
Emacs
Hugo
Jekyll
Sinatra
Vivaldi
GNU
R
Rust
Swift
Objective C
Open GL
Struts
Hip Hop

[2016-04-12 22:08] NealRame commented on #11
I really like the font. Could you please add:
- Arduino,
- Jenkins,
- CMake.

[2016-04-16 02:10] christophermiles commented on #11
Great work!

+1 Ionic Framework
+1 npm
+1 Twig

Also requesting:

- Underscore.js ([underscorejs.org](http://underscorejs.org))
- Propel Orm ([propelorm.org](http://propelorm.org))
- Bolt CMS ([bolt.cm](https://bolt.cm))
- NotORM ([notorm.com](http://www.notorm.com))

[2016-05-02 20:09] bronek-szulc-tdw commented on #11
+1 R

[2016-05-04 04:45] myeramareddy commented on #11
+1 Swift
+1 Spring
+1 Jenkins
Hibernate

[2016-05-15 03:32] Nekmo opened #24 "Add sass version"
At present it is impossible to import a css file and then use minified.
https://github.com/sass/sass/issues/556

This makes difficult the use of the project with SASS.

[2016-05-26 21:45] vahid-bastani commented on #11
latex

[2016-06-03 12:59] Arbitrary-T commented on #11
+1 Swift
+1 Matlab
VHDL

[2016-06-16 05:49] GorgonsMaze commented on #11
Materialize CSS

[2016-06-18 21:34] phatcatmatt commented on #11
+1 Babel
+1 Express

[2016-06-21 09:23] DiederikvandenB commented on #11
+1 for Swift.

[2016-06-25 07:19] foxmedia95 opened #25 "please add these icons"
please add these icons

**Opera Mini
Maxthon
Netscape
Mac
Mybb**

[2016-06-25 07:21] foxmedia95 commented on #11
please add these icons

**Opera Mini
Maxthon
Netscape
Mac
Mybb**

[2016-07-11 19:13] dedles commented on #11
Jekyll

[2016-07-18 08:02] darianno commented on #25
Please add SilverStripe icon (www.silverstripe.org)

[2016-07-20 15:10] mrsdohpaz commented on #25
Would also like to see:
Blender3d,
Unity3d,
Threejs,
Autodesk programs

Thanks!

[2016-07-22 05:12] phitranphitranphitran opened #26 "Error importing with Webpack"
Trying to import the CSS files using Webpack throws some errors.

[code]
Results in:
[code]
Similar errors also appear for the .ttf and .svg files in the folder devicon/fonts.

[2016-07-22 05:24] phitranphitranphitran commented on #26
Found a workaround for this issue. What was needed was that the font files needed to be processed through file-loader and url-loader with Webpack.

Here was my webpack.config.js before:

[code]

Simply append an expression to the Regex to match the "-hdf3wh" prefix added to the files by devicon.
Required Regex: **(\?-hdf3wh)?**
webpack.config.js afterwards:

[code]

Hope this helps out anyone with

[2016-07-22 05:24] #26 closed

[2016-07-22 08:21] oligibson commented on #20
@konpa Can this issue be closed? As of the latest commit against master the React svg icons are blue

[2016-07-31 08:25] 4ndv commented on #25
Elixir and Sublime Text plz :)

[2016-08-01 10:07] chrisbarnett1 commented on #11
Nice collection of icons. Could you add Varnish?

[2016-08-18 15:29] remyo commented on #25
Maybe Markdown too?

[2016-08-19 17:11] kwstasna commented on #25
there are no plans for update soon right?

[2016-08-19 17:35] konpa commented on #25
@kwstasna I'd like to update this repo (pull requests & icons to add) but I really have no time... I'm looking for someone to help me on maintaining this repo but without luck for now...

[2016-08-19 17:59] kwstasna commented on #25
I understand and already your work is really appreciated! Would love to help but i dont have any idea of SVG etc. You could kindly ask at the ReadMe though! @konpa :+1:

[2016-08-27 23:38] yamiko-ninja commented on #11
puppet
chef

[2016-08-28 21:34] Nexuist opened #28 "Website Down"
http://devicon.fr/ returns a default nginx page.

[2016-08-29 06:27] konpa commented on #28
I forgot to restart nginx service after migrating the site... It should be ok now.

[2016-08-29 06:27] #28 closed

[2016-09-15 12:52] Nexuist commented on #28
Thank you!

[2016-09-16 12:35] Yonimdo opened #29 "Ceylon?"
https://ceylon-lang.org/

![ceylon](https://cloud.githubusercontent.com/assets/15890521/18586016/1a0638c0-7c23-11e6-9c7d-85c5c6a63fe5.png)

[2016-09-16 12:56] Yonimdo opened #30 "Elm?"
http://elm-lang.org/

![elm](https://cloud.githubusercontent.com/assets/15890521/18586600/16fcaa80-7c26-11e6-8902-26b49620ee26.png)

[2016-09-19 20:56] qwertwerty21 opened #31 "Having trouble loading from CDN"
Just started having this problem today. Following documentation I linked
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css"> in my html header, but it's been timing out every single time I try to load. Even directly visiting the cdn site results in a connection error.

[2016-10-09 15:39] konpa commented on #31
I had some bad nginx config that I fixed today. Is it working fine now? If not, what link do you use?

[2016-10-16 13:56] Warnier-zhang opened #32 "Can I use it when developing android native app?"

[2016-10-16 20:46] yakschuss opened #33 "Elixir & Phoenix Icons?"
HI! http://elixir-lang.org/docs.html
http://www.phoenixframework.org/

are up and coming language/framework. I'm not much of an image-worker - curious if there are plans or if anyone's interested in making these any time soon. Thanks!

[2016-10-18 04:38] BinaryWaves commented on #11
Firebase

[2016-10-18 09:11] konpa commented on #32
No idea, I never developed an android native app... I suppose you could use the svg files if the font is not working. I close the issue, don't hesitate to re-open it if you need more infos.

[2016-10-18 09:11] #32 closed

[2016-11-01 19:57] filipecsweb commented on #11
WooCommerce
Bash
Ajax

[2016-11-14 22:24] dmetzler1988 commented on #25
Windows batch / shell scripting and PowerShell pls :)

[2016-11-30 02:47] kuwood commented on #11
redux - https://github.com/reactjs/redux

[2016-12-01 01:44] TiagoMaiaL opened #40 "iOS icons?"
Since we have one icon for Android, it'd also be nice to have one for iOS.

[2016-12-02 04:28] jordanbrauer commented on #40
@TiagoMaiaL You can use "apple". AFAIK this project seems to no longer be maintained.

[2016-12-02 15:16] TiagoMaiaL commented on #40
@jordanbrauer I see, thanks for the information.

[2016-12-02 15:16] #40 closed

[2016-12-04 00:41] andersonpe commented on #11
Thanks! This is a great icon set.

My suggestions:
Apache Cordova
Adobe Phonegap

[2016-12-05 23:50] Penagwin commented on #11
Guys as amazing as this icon set is, there hasn't been a commit in over a year. Konpa also doesn't have many commits in the last year.

This icon set is amazing! But if we want more icons we'd need somebody to fork or move to a different icon set.

[2016-12-06 12:52] oligibson commented on #11
@Penagwin I have forked this repo and have been adding icons to it. You can check it out here - https://github.com/oligibson/devicon

If you add an issue requesting icons you want I'm happy to add them there when I can, or make a pull request against my fork and I'll review. I've tried putting in a number of pull requests to this repo with my changes but haven't had any of them reviewed or merged.

[2016-12-08 05:58] konpa commented on #11
You're right @Penagwin and @oligibson, I really thought I could find some time to maintain this repo but it's not the case for now.
@oligibson I saw your many pull requests but couldn't find the time to review them. I'm really sorry for that. As you seem motivated to keep this repo (or your fork) alive, I could make you a collaborator of devicon so you can maintain it without needing review from m

[2016-12-12 22:23] noobularkid opened #41 "No Devicon, Icon?"
Why isn't there a DevIcon icon yet? It would be helpful lol.

[2016-12-19 12:36] the94air opened #42 "Apache icon"
apache logo does work well in svg implement
![apache](https://cloud.githubusercontent.com/assets/18303390/21313022/6589d9ba-c600-11e6-845b-eee797d11032.png)

System: Ubuntu 16.04
Browser: Chrome Version 53.0.2785.143

[2016-12-21 20:09] TheJaredWilcurt opened #43 "Node-Webkit is now NW.js"
Node-Webkit rebranded to NW.js a year ago. The search on your site should probably show it for both.

* http://nwjs.io

[2016-12-28 04:22] ppazos opened #44 "add icon for the groovy programming language"

[2016-12-28 23:43] MTyson opened #45 "Add Maven icon"
https://maven.apache.org/index.html

Java build tool.

[2016-12-29 00:43] MTyson commented on #11
What needs to happen for a new release?

[2017-01-06 17:41] oligibson commented on #45
@MTyson could you add the icon and create a pull request?

[2017-01-17 00:59] chrisdothtml commented on #11
Thanks for this icon font!

+1 webpack
+1 babel
+1 stylus

[2017-01-18 11:41] oligibson commented on #11
@chrisdothtml Thanks for the request Chris, we have babel icons in the set, ready for the next release. I'll put together stylus and webpack icons soon.

[2017-01-20 16:08] DxF5H commented on #11
TYPO3

[2017-01-22 07:45] dennis95stumm commented on #11
- +1 Ember.js
- +1 ExpressJS
- +1 Jekyll
- +1 Arduino
- QUnit

[2017-01-23 06:52] Cloze commented on #11
Than you for this amazing set.

- Font Awesome
- Microsoft Edge
- IIS
- Aurelia

[2017-01-23 14:36] the94air commented on #42
no one is replying

[2017-01-23 14:36] #42 closed

[2017-01-23 20:48] ava-dylang opened #49 "sphinx-doc is missing"
http://www.sphinx-doc.org/en/stable/
thanks <3

[2017-01-27 13:37] pabloanabalonf commented on #11
+1 Redux
+1 Webpack
+1 Babel

[2017-02-03 20:17] Jacrys opened #50 "devicon.fr is missing typescript from the available icons"
I spent 30-45 minutes trying to find an svg for TypeScript since devicon.fr didn't show it as available.  I couldn't find one, so I settled on a png and was shoehorning it into the icons directory when I noticed a TS folder and svgs for it.  Could you add them to the site if possible?

[2017-02-04 06:56] oligibson commented on #50
@konpa how can we update the website with the latest icons and do a proper release of an up to date npm package?

[2017-02-10 19:29] onemustcode commented on #11
+1 Composer (PHP dependency manager)

[2017-02-16 07:42] Gynidark opened #51 "Add icon CakePHP"
Hello,

- https://cakephp.org/logos

[2017-02-21 09:39] emygeek opened #52 "JSON - LARAVEL- IONIC"
Please add ajax, laravel, ionic icons

[2017-02-22 10:55] replaceits commented on #11
+1 Fedora
+1 Digital Ocean

[2017-02-22 16:55] michaelgira23 commented on #11
Thanks for the repository, it's fantastic! I'd also suggest adding the TypeScript logo?

[2017-02-23 01:34] dungquoctrinh commented on #11
+1 firebase

[2017-03-14 09:18] AlexMcArdle opened #54 "Swift icon"
No icon for Swift (or Objective-C).

Wiki Commons has the logo in the public domain:
https://commons.wikimedia.org/wiki/File:Swift_logo.svg

[2017-03-15 20:57] AlexMcArdle commented on #54
Also, logo + wordmark
https://commons.wikimedia.org/wiki/File:Swift_logo.svg#/media/File:Swift_logo_with_text.svg

[2017-03-18 18:27] konpa commented on #50
Devicon website is now hosted on Github (gh-pages branch) and up to date.

@oligibson Feel free to update it if needed. If you need help don't hesitate.

Thanks ! :)

[2017-03-18 18:27] #50 closed

[2017-03-21 19:39] #31 closed

[2017-03-21 19:41] #20 closed

[2017-03-21 20:51] akgoode opened #55 "Typescript Icon not appearing"
I used the <i> tag link to insert a typescript icon into my webpage, but it doesn't appear on the screen.  I have successfully loaded about 12 other icons in the exact same format as this one, so I'm confident it is not my error.  I'm going through the files a little bit to see if I can find some inconsistencies, but I'm still unfamiliar with how the whole repo works.

[2017-03-21 20:58] konpa commented on #55
What are you calling the tag like ? Are you using the font or the svg version ?

[2017-03-21 21:38] konpa commented on #55
If you were talking about the font stylesheet rawgit url from the website, it was not up to date. I generated a new link in the last commit https://github.com/konpa/devicon/commit/9610debb764c3b1ba8739a2eb77f9ec564c61453

[2017-03-21 21:38] #55 closed

[2017-03-21 22:54] akgoode commented on #55
Sorry I meant to say that I used the font version inside the I tag to insert it.  When I get back to my computer I will add the new link and test it.

[2017-03-26 01:08] yaserig opened #56 "how to change the size of the icon?"
somehow i couldn't change the size of the icon, i'd like to make it bigger, i tried your example with the 2em , but it didn't work. can you give an example of how to manually change its size through css? thank you!

[2017-03-26 03:56] nawazishali commented on #56
Have not tried these awesome Icons myself yet but I would love to help you out as I am looking forward to use them in my Portfolio soon. Can you please provide a live example of what you are trying to achieve, May be a Codepen or a JSfiddle and also what Icon you are currently playing with?

[2017-03-26 22:19] yaserig commented on #56
hey, Thanks for your fast response! I figured it out, it was the font-size that i should change using em , not the width/height.. which is weird a bit, but as long as it works, that what matters :) , thanks again!

[2017-03-27 02:59] nawazishali commented on #56
@yaserig Width/height should only work with the SVG code not with Fonts. Now you are on right track.

[2017-04-03 23:55] #56 closed

[2017-04-09 19:26] anoopkhandelwal commented on #11
Please add for elasticsearch and influxdb

[2017-04-14 21:09] Flame2057 commented on #54
+1

[2017-04-17 00:01] darkenedsky commented on #11
Common API integrations would be super useful for folks working on resumes, etc:

* Stripe
* Square
* Paypal
* USPS
* UPS
* FedEx
* All the social networks

[2017-04-19 03:12] GorgonsMaze commented on #11
+1 Bulma

[2017-04-19 12:14] icve commented on #11
Please add
 * Ipython
 * Jupyter
 * Scipy
 * Numpy
 * Matplotlib
 * Spyder (python IDE)

[2017-04-19 21:37] michaelknigge commented on #11
Could you please add an icon for the operating System z/OS? z/OS does not have an official Icon. IBM uses a circle with the text "z/OS" within - see https://www-03.ibm.com/systems/de/z/os/zos/

I could imagine an devicon icon that looks like this: https://dt-cdn.net/assets/images/gfx/icons/tech/zos-21ab442649.svg

This would be very helpful for me.

Thank you! Keep up the great work!

[2017-04-22 22:04] alxpez commented on #11
- Spring
- Maven

Would be great, really miss them here.

Thanks

[2017-04-25 23:03] kenpropel commented on #11
- [Vue](https://vuejs.org/)

This is really gaining popularity so I wanted to bring it up again. Thank you, Devicon is a great icon collection!

[2017-04-26 11:51] st-andrew commented on #11
@kenpropel - Vue was added to @oligibson's [fork](https://github.com/oligibson/devicon)

[2017-04-26 11:51] chrisdothtml opened #57 "Is this project still alive?"
There's quite a lot of icon requests coming in regularly, and not much activity in the repo in the past months. Even the PRs haven't had much activity in a while.

[2017-04-26 19:22] claudiofantacci commented on #11
@konpa [MATLAB](https://www.mathworks.com/) please!

[2017-04-26 20:12] claudiofantacci commented on #11
@konpa the [CMake](https://cmake.org/) icon will also be a super plus! 👍

[2017-05-01 09:44] stefanomondino commented on #54
+1

[2017-05-04 17:37] rawalprashant commented on #11
Magento

[2017-05-08 16:44] marshall86 opened #58 "SVG alt message and new icons"
Hi, thanks for your repo!

I'm using your svg icons but I'm not able to use the <title></title> and <desc></tags> for making svg accessible,below an example:

[code]

Besides, I would ask you to add the following icons:

prestashop, magento, linkedin, instagram, paypal, basecamp,redbooth and trello.

Thanks a lot for your support.

[2017-05-09 12:40] muceres commented on #11
Prestashop

[2017-05-12 21:03] jasondavis commented on #11
- ElectronJS the  JS Desktop app library
- Boostnote - Programmer Notebook app
- Freeter - Developer Project Dashboards App

[2017-05-29 14:34] moghya commented on #11
I want to contribute by creating icons, how can I develop an icon ? can anyone please help ??

[2017-05-29 14:42] claudiofantacci commented on #11
@moghya have a look at [CONTRIBUTING.md](https://github.com/konpa/devicon/blob/master/CONTRIBUTING.md) file.

I'm not a maintainer, but I suggest to have a look at issue #57. It is not clear whether the project is discontinued or not 😟

[2017-05-29 15:56] moghya commented on #11
@claudiofantacci  thank you very much.

Can you please help with tools to be used or procedure to be followed for creating icons

[2017-05-29 16:09] claudiofantacci commented on #11
@moghya

I'm not a maintainer and I can't provide any support about tools and procedures.
Maybe other people can help you 😄 !

[2017-05-29 18:05] oligibson commented on #11
@moghya it would be great to have you submit some new icons. I have committed to this project in the past and hope to more actively maintain it in future. Here's a couple of steps for creating a new icon:

- Fork this repo and create a branch in your fork for each icon set you create.
- Create your icons in an .eps file and export .svg files from this. See a examples in the icons folder and look a

[2017-05-29 18:10] oligibson commented on #57
@chrisdothtml I'm going to try and review/merge the existing pull requests over the next few days and then put out a release. Then we can move forward and look at the requested icons.

It would be good to get some contribution of icons, I can help create fonts, review and merge requests if the artwork is done.

[2017-05-29 21:30] #57 closed

[2017-05-30 09:19] oligibson commented on #41
@konpa do you have the vector versions of the Devicon logo?

[2017-05-30 10:20] oligibson commented on #54
I've added the swift icon in this [commit](https://github.com/konpa/devicon/commit/f5a522a9093ce2813889c4d93e18034649457b6c), it'll be included in the next release.

[2017-05-30 10:20] #54 closed

[2017-05-30 17:49] konpa commented on #41
Yes, it was part of the library at the beginning and I removed it later. You can find it here : https://github.com/konpa/devicon/tree/f935da07a9db2eb1f2f4e8aea63c271b4d5bd7ab/icons/devicon

[2017-05-30 19:10] oligibson commented on #41
Thanks @konpa I've added this icon in this [commit](https://github.com/konpa/devicon/commit/eec6e09fc25fb9a0ace6d90ee8e5923a4d409ea3) and I'll now close this issue.

[2017-05-30 19:10] #41 closed

[2017-05-31 19:48] diego-lipinski-castro opened #59 "stylus css preprocessor"
if it's possible to add this, here is their website

http://stylus-lang.com/

thanks

[2017-06-01 08:04] oligibson commented on #59
@diego-lipinski-castro added the Stylus logo to the codebase, it'll be included in the next release. You can see the commit [here](https://github.com/konpa/devicon/commit/1931eefd9ed8e64e25c568b4559be02515ba2f61)

[2017-06-01 08:04] #59 closed

[2017-06-01 08:45] oligibson commented on #51
@Gynidark Added CakePHP to the set, will be in the next release. You can see it in this [commit](https://github.com/konpa/devicon/commit/400e1b66810385b911fe002d81a26128ff318a72)

[2017-06-01 08:45] #51 closed

[2017-06-01 11:15] oligibson commented on #29
@Yonimdo added in commit - [8be1c20](https://github.com/konpa/devicon/commit/8be1c20e23ca6c996241bdbfb17746a1990505b8) - will be in the next release.

[2017-06-01 11:15] #29 closed

[2017-06-01 11:15] oligibson commented on #30
@Yonimdo added in commit - [8be1c20](https://github.com/konpa/devicon/commit/8be1c20e23ca6c996241bdbfb17746a1990505b8) - will be in the next release.

[2017-06-01 11:15] #30 closed

[2017-06-02 19:19] sfarori commented on #11
Please add:
Behance
Linkedin
thanks!

[2017-06-03 07:13] oligibson commented on #11
@sfarori I've added these in commit - [7bb323a](https://github.com/konpa/devicon/commit/7bb323a8736ab5255d74a60b163cd201b832a1fd) - will group into the next release.

[2017-06-03 07:28] oligibson commented on #25
I've added all the suggested icons to #11 so we can collate them in the same place. I'm going to close this issue and if anyone wants to add more icon suggestions please comment on #11.

For those looking to contribute to this repo you can see the [contributing.md](https://github.com/konpa/devicon/blob/master/CONTRIBUTING.md), you can open a pull request with just the icon files and I can create f

[2017-06-03 07:28] #25 closed

[2017-06-03 08:26] claudiofantacci commented on #11
Would be also great to have CUDA and OpenCL 😄

[2017-06-11 11:13] albertoperezf commented on #11
MaterializeCSS.
Yarn.
NPM.
ES6.
Jest.
Stylus.
PostCSS.
BEM.
SMACSS.

[2017-06-15 01:55] ksykes commented on #11
Love this icon library. A few requests:

- responsive design
- Firebase
- Sketch
- Bash / Terminal
- API

[2017-06-16 20:38] oligibson commented on #11
@claudiofantacci @albertoperezf @ksykes thanks for your suggestions, I've added them to the list at the top of this thread.

If your suggesting icons can you please check if they are already on the list before adding them here and if your looking to contribute please feel free to add any icon on the list that hasn't been crossed off yet. Thanks 👍

[2017-06-16 21:03] VaclavPavek opened #62 "Slim framework - Nette framework"
Please add icon for

- Slim framework - https://www.slimframework.com/
- Nette framework - https://nette.org/en/logo

[2017-06-16 21:05] oligibson commented on #62
@VaclavPavek we can look to add it, if you can submit a pull request with icons, they will make it into the release quicker. Don't worry about adding the font, I can edit that.

[2017-06-17 10:49] claudiofantacci commented on #11
@oligibson thanks to you and for your effort.

I'm looking forward to seeing new wonderful icon!

[2017-06-17 16:46] eden-lane opened #63 "Some svg icons don't have colors"
Some icons have attribute `fill` (angular's icon for example), but some of them don't. For example, webpack's icon has attribute class `cls-1` instead of `fill`. Is it intended?

[2017-06-17 16:49] oligibson commented on #63
@eden-lane thanks for raising, this isn't intended behaviour. I will look at this when I get a chance.

[2017-06-18 05:29] Lucidpaper commented on #11
Neo4j
Apollo
GraphQL
Lowdash
TensorFlow

[2017-06-19 17:35] noraj1337 commented on #11
OCaml
![](https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/OCaml_Logo.svg/300px-OCaml_Logo.svg.png)

[2017-06-19 20:48] oligibson commented on #11
@noraj1337 could you submit a pull request with the icon as an svg? You can see the contributing.md file to see the formating

[2017-06-19 22:04] noraj1337 commented on #11
@oligibson To be honest, in between I found [izzed/font-mfizz](https://github.com/fizzed/font-mfizz) that is compatible with [Font Awesome](https://github.com/FortAwesome/Font-Awesome).

I prefer the philosophy of font-mfizz. I'm sorry, I'll contribute to font-mfizz but feel free to check if their SVG match your needs.

PS : they lack OCaml too.

[2017-06-23 11:40] eden-lane opened #65 "Dot is missing in react's svg icon"
Here is the preview

http://jsbin.com/mijuhopoyo/edit?html,output

[2017-06-26 23:05] jmsMaupin1 commented on #11
Phaser js
https://phaser.io/

[2017-07-19 10:43] CloudPower97 commented on #11
Hello @konpa,
thank you for your work, I just love it!

I have just one request : a [Qt](https://www.qt.io) icon!

Can you please make it?

Keep up the good work :+1:

[2017-07-20 20:56] Samanix commented on #11
Awesome work, some more ideas/updates:

* Digital Ocean
* Vultr
* Linode
* Jetbrains programs update (phpstorm, webstorm, pycharm etc.)
* Semantic UI

[2017-07-23 11:26] samanix opened #68 "CDN Delivery"
You should try and submit to a more stable CDN like [cdnjs](https://cdnjs.com) and/or [jsdelivr](https://www.jsdelivr.com/)

[This link works](https://cdn.jsdelivr.net/npm/devicon) for jsdelivr but not the [github one](https://cdn.jsdelivr.net/gh/konpa/devicon/devicon.min.css)

https://github.com/jsdelivr/jsdelivr#usage

[2017-07-23 14:00] jimaek commented on #68
If npm works you dont need the github link. They are the same.

[2017-07-24 08:40] otakustay opened #69 "Feature request: color mapping for languages"
In our app we need to render a background color with specified language, however devicon only gives color mappings for `color` css property, is it possible to provide a color mapping for all languages in JSON or js format? Here is a list I collected from current `devicon-color.css`:

[code]

[2017-07-24 18:56] Samanix commented on #68
Some people may want to use others though, having a broader delivery will allow for more people to use it

[2017-07-24 18:58] jimaek commented on #68
I dont really understand your point. For user nothing would change if the file was delivered from Github or npm.

But in any case, if you want github to work then the owner must use semver valid tags in Github. But again its not required because npm already works.

[2017-07-31 08:17] alandolsi commented on #11
TYPO3

[2017-08-03 21:20] yesobo commented on #11
Amazing work, this library will become an standard! Thx!
- npm
- Atlassian Bamboo
- MS Edge
- Sonatype Nexus

[2017-08-08 07:05] Chippd opened #70 "Amend guidelines to avoid mis-matched icon layouts"
I want to use the icons in this repo programatically, but I'm getting awkward results, visually I mean. See screenshot. The "plain-wordmark" icons aren't all the same structure in that some have the icon to the left of the word, and some have it above. I think an update to the guidelines to specify that the wordmark should be one or the other (whatever is most prevalent currently within the repo).

[2017-08-09 14:31] Nightbr commented on #11
Hey in order to develop a Docker Dev Dashboard for [laradock](https://github.com/laradock/laradock), it would be nice to have some new fancy icons such as:

- Adminer
- Aerospike
- beanstalkd
- caddy
- elasticsearch (+1)
- haproxy
- jenkins
- kibana
- Laravel Echo
- Mailhog/Mailcatcher
- mariadb
- Minio
- Mssql
- neo4j
- Percona
- PhpMyAdmin
- RabbitMq
- RethinkDb
- Varnish

[2017-08-10 04:56] januridp opened #71 "Materialize Icon"
could you add materialize icon on there?

thanks before

[2017-08-20 14:16] VladimirDev93 commented on #63
Facebook icon doesn't have the blue background.

[2017-08-24 09:49] Enethion commented on #71
It's already on list #11

[2017-08-24 09:50] MatricksDeCoder commented on #11
Very impressive and cool icon fonts, amazing work ..
Would be great if
1. All major programming languages included- i dont think i saw icons for the below
Visual Basic, Delphi, Assembly Language, Dart, SAS, COBOL, Ada, Lua, Kotlin, Cython, F#, Rust, TypeScript, Unix shell, Windows shell, Lisp, Scheme, Smalltalk,Pascal,UML
2. All the major IDE's
3. All the major front-end technologies -
4. All the

[2017-08-24 11:20] januridp commented on #71
Oh thank you

[2017-08-24 11:20] #71 closed

[2017-08-29 16:46] amandeepmittal commented on #11
+1 Bulma
+1 Redux

[2017-08-29 23:04] MrNime commented on #11
+1 Flask (python)
+1 Bulma
+1 MaterializeCSS

[2017-09-01 08:34] emygeek opened #72 "Materialize, AJAX"
Please add Materialize and AJAX
Thanks

[2017-09-03 17:54] sagarkaurav opened #73 "on npm version 2.0 is available instead of 2.2"
@oligibson  new version is not published on npm. Please update it.

[2017-09-05 03:02] jessamarie commented on #73
@sagarkaurav

Try `npm install --save devicon-2.2`. It works for me!

[2017-09-05 03:40] sagarkaurav commented on #73
@jessamarie  I am using yarn and `yarn add devicon@2.2` doesn't seems to work!.

[2017-09-05 14:01] jessamarie commented on #73
@sagarkaurav For some reason you have to add a different package name, but it should work with yarn as well. Use this command instead: `yarn add devicon-2.2`

[2017-09-06 17:53] sagarkaurav commented on #73
@jessamarie thanks its worked but i am still curious  why different name is used and why is devicon 2.2 is not available?

[2017-09-11 20:38] apcamargo commented on #11
- R

[2017-09-13 18:25] MiguelBrito1086 commented on #56
@yaserig Funny. It's definitely not working for me. I've tried using the font-size and nothing. Just tiny little devicons.

Any suggestions?

[2017-09-13 20:10] mi6th opened #74 "Update Atlassian icons"
Hi,
Atlassian has introduced new icons of their products which are included in your icon set:
- [ ] Bitbucket
- [ ] Confluence
- [ ] SourceTree
- [ ] Trello

[2017-09-14 18:31] jgcarlson commented on #11
+1 Spring! :)

[2017-09-15 04:14] edwincarbajal commented on #11
+1 React Router!

[2017-09-21 04:04] santaclauze commented on #11
Man, you have a lot of work on your hands!

Anychance we can get the icons from:

 - Apache Mesos: http://mesos.apache.org/
and
- Sonarqube: https://www.sonarqube.org/

[2017-09-25 17:15] fpoumian commented on #73
I had the same issue when I tried upgrading from version 2.0 to 2.2 on Yarn (I solved it by removing the original package and installing that separate 2.2 package). Will all future releases be released in separate packages in Yarn?

[2017-09-28 12:16] cszatma commented on #11
Amazing icon library! I have 1 request if possible:
* Xcode

[2017-09-30 16:44] paulrberg opened #76 "Swift icon missing from npm module"
I'm able to get the swift icon if I import the devicon.min.css, but when I install the npm module, there's no icon at all.

[2017-10-09 12:04] thhollev opened #77 "Flask icon request"
A python webframework http://flask.pocoo.org/

[2017-10-10 02:05] SrdjanMilivojevic opened #78 "Vue.js web icons does not work"
Vue.js web icons does not work when you install it via npm.

[2017-10-10 17:53] nabijaczleweli commented on #78
They work for me [here](http://konpa.github.io/devicon/) and, as copied from that page:

[code]

[2017-10-11 17:46] DoronBrayer opened #79 "[Suggestion] Additional brands/technologies"
First of all, I love DEVICON. Good job!

Please add the following brands/technologies:

- Stack Overflow
- Go
- iOS
- W3C (World Wide Web Consortium)
- Sublime Text
- Brackets
- CodePen
- JSFiddle
- freeCodeCamp
- Stylus
- PostCSS
- npm (Node Package Manager)
- Yarn
- Ember
- Aurelia
- Redux
- Broccoli
- Mithril.js
- Chart.js
- three.js
- D3.js
- OpenGL
- Direct3D
- PhantomJS
- CasperJS
- Nightwat

[2017-10-15 00:19] SrdjanMilivojevic commented on #78
I justs tested that and It works.
The problem seems to be: It doesn't work with NPM !
Mabye the npm repo is not updated at some point...

So, correction: It doesn't work when you install it via npm.

[2017-10-15 00:33] SrdjanMilivojevic commented on #78
Problem solved after reading this tread : https://github.com/konpa/devicon/issues/73

[2017-10-18 00:06] watchwood commented on #79
That's quite a list.  Personally, I'd just be happy to have Craft and Twig in there,

[2017-10-18 16:17] felpin commented on #11
+1 Redux

[2017-10-19 05:37] Nikodermus opened #80 "Update Visual Studio Code"
They recently changed it, so it would be nice to have the latest. Thanks!

![image](https://user-images.githubusercontent.com/7080621/31755747-aa3a92da-b465-11e7-8305-fc295d20d603.png)

[2017-10-27 14:46] Ja12n0 commented on #11
- R
- Nigtwatch.js
- Selenium
- Elasticsearch
- Kibana
- Neo4J
- Travis
- Jenkins
- HoundCi

[2017-10-29 02:42] KevinMalo commented on #79
+1

[2017-10-30 16:00] jesus-novologic opened #82 "Icon request"
- Phalcon Framework
- C#
- Object-C
- Markdown

[2017-11-01 17:31] knighthawkbro commented on #82
There is already a C# icon (Search csharp). Which Markdown syntax did you want (I.E. Kramdown)?

[2017-11-01 17:42] jesus-novologic commented on #82
Markdown Language

https://en.wikipedia.org/wiki/Markdown <https://en.wikipedia.org/wiki/Markdown>

[2017-11-03 05:09] bhaskarmac opened #83 "Icon request"
1. R language
2. Electron JS
3. QUnit
4. Qt
5. Rust
6. Elixir
7. Ember js
8. Firebase

[2017-11-03 08:34] wolfheart commented on #11
Cool :) What about...
- Datagrip (other Intellij IDEs)
- Kotlin
- Vaadin

[2017-11-03 14:32] NaveenShanmugavel18 commented on #11
Please add lumen

[2017-11-06 01:36] jonyeezs opened #84 "Icon Request: ReactiveX"
![Image of the official icon](http://reactivex.io/assets/Rx_Icon.png)

[2017-11-06 14:18] ksykes opened #85 "Icon request - Jekyll"

[2017-11-07 21:54] jegj commented on #11
Nice work!
+1 redux
+1 vagrant
+1 ansible

[2017-11-09 01:32] cnizzardini opened #86 "Icon Requests - CakePHP, Medium, REST"
CakePHP, Medium, REST

Thanks, awesome project btw.

[2017-11-15 06:59] ebkalderon commented on #11
+1 for Rust, please!

[2017-11-15 07:53] wolfheart opened #87 "Icon request - Kotlin"
Kotlin - see https://kotlinlang.org/docs/reference/faq.html#where-can-i-get-an-hd-kotlin-logo

[2017-11-15 07:54] wolfheart opened #88 "Icon request - Vaadin"
Vaadin - see https://vaadin.com/trademark

[2017-11-15 07:57] wolfheart opened #89 "Icon request - Sketch App"
Sketch App - https://www.sketchapp.com/press/#press-media

[2017-11-21 18:01] greenisagoodcolor commented on #11
+1 for R statistical computing language please :) thank you

[2017-11-21 18:16] greenisagoodcolor commented on #11
+1 for linkedin...keepin it crisp with your theme

[2017-11-23 02:55] adamski52 commented on #73
since 2.2, it's a package named `devicon-2.2` with a version of `2.2.0`.  whoever owns the original `devicon` packages needs to `npm publish` please.

putting the version number in the package name is bad joojoo:  `npm install devicon-2-2@2.2.0` will work.  `npm install devicon@2.2.0` will not.

[2017-11-25 23:24] SushiP commented on #11
Some request:
- OpenGL
- WebGL

Anyway, great job!

[2017-11-26 02:22] adlerluiz opened #91 "Icon request - Ionic Framework"
See - http://ionicframework.com/

[2017-11-28 16:39] breytex commented on #11
* A-Frame
* WebVR

[2017-11-29 17:07] vdeni commented on #11
+1 for the R language :)

[2017-12-01 15:04] robertoarise commented on #83
Firebase :D

[2017-12-02 20:17] davidcv91 commented on #11
+1 Vagrant

Please =)

[2017-12-06 17:48] dhaval-mehta opened #92 "Icon Request for Spring"
It would be great if you will create an icon for spring.
Url: https://spring.io/

[2017-12-08 12:49] idkjs commented on #11
[Reason](https://github.com/reasonml-community/reason-scripts/blob/25b25757269edab001eedfef0844b55aa199af52/template/src/logo.svg?short_path=d777cd4), [Graphql](https://www.vectorlogo.zone/logos/graphql/index.html), [RelayJs](https://github.com/gilbarbara/logos/blob/master/logos/relay.svg)

[code]

[2017-12-08 16:11] KevinMalo opened #93 "Python SVG Icon not work"
Hi, the icons SVG of Python not Work. Its need the Path Fill.

[2017-12-11 01:04] baer commented on #73
To add to @adamski52's comment:
- `devicon-2.2` is a different package published by [boomhq](https://www.npmjs.com/~boomhq)
- That package is NOT owned by @konpa

@konpa would it be possible to publish the latest to NPM?

[2017-12-13 21:11] zeke opened #94 "RSS feed icon"
It would be great it I could use devicon to add an RSS feed icon to my site.

http://www.feedicons.com/

[2017-12-21 13:50] awakekat commented on #80
Didn't they change the icon to blue? Isn't blue now the latest color? Requesting new blue color. Thanks.

[2017-12-22 13:02] estebanpostigo opened #95 "Icon request - BizTalk"
Hi! Thanks for your already created icons!

Would be great to have BizTalk and SQL ones. Here you could find images and ai/eps for BizTalk that I have found, but I don't know how to create a font icon... Maybe if you give me some kind of guide I could done it myself and contribute it.
The SQL one seems to be exactly the same icon but with a different color. So having one font icon will make availa

[2017-12-22 16:35] HactarCE opened #96 "Icon Request - Clojure/Clojurescript"
See https://clojure.org/

[2017-12-28 03:20] sapics opened #97 "Question about displaying license for print media"
First of all, thanks for your awesome icons and fonts.

I have a question about displaying LICENSE for print media.
In my design, it is difficult to display license file in print media.
https://github.com/konpa/devicon/blob/master/LICENSE

Are there any suggested methods to use your icons or fonts in print media?

[2018-01-04 23:17] DrSensor opened #98 "[feat/icon]: circleci"
Many public repos on Github use https://circleci.com

[2018-01-05 14:54] doodhwala commented on #11
+1 for Matlab, TensorFlow
Pytorch

[2018-01-10 23:34] petrenk0n commented on #11
Awesome icons!
Might I suggest adding these:
- IBM watson
- Firebase
- Kotlin
- Alamofire

Thanks!

[2018-01-15 05:13] vikrant4 commented on #11
Awesome icons there. It would be nice to have some icons of popular data science tools

- R
- Scikit
- Pandas
- Hadoop
- Spark
- SAS
- Shiny
- Tidyverse icons

[2018-01-16 11:30] dougmaitelli commented on #73
Sorry guys, but it looks to me that this repository is not being maintained anymore. Also, if we keep adding icons in a font file it will become too large for projects to use.

I would suggest migrating to: https://github.com/gilbarbara/logos/ and use the SVG files independently.

[2018-01-20 05:59] mrcjsph commented on #11
- Adobe XD
- Fedora

[2018-02-09 12:17] joaopidranca commented on #11
May I suggest:

- Adobe Premiere Pro

- Adobe After Effects

- Adobe Lightroom

Thanks! I really enjoy your work

[2018-02-13 01:08] Lucidpaper commented on #11
Redux +1

[2018-02-15 15:29] brianfreytag commented on #11
Jira

[2018-02-16 14:26] Kartstig commented on #93
I have gotten the Python icon to work, but it doesn't release certain backgrounds, casing other subsequent icons to be colored yellow. I'm referring to:

https://github.com/konpa/devicon/blob/master/icons/python/python-original-wordmark.svg

[2018-02-16 14:27] Kartstig opened #100 "Icon Request - Elixir"
https://elixir-lang.org/

[2018-02-16 14:28] Kartstig opened #101 "Icon Request - Phoenix Framework"
http://phoenixframework.org/

[2018-02-17 13:19] JGJP commented on #76
I'm getting the same thing with the webpack icons, maybe just a question of updating the npm module? Webpack definitely seems like it should be included.

[2018-02-18 06:13] JeromeJoestar commented on #65
Was there any resolution to this?

[2018-02-19 23:29] h3t1 opened #104 "Icon Request - UML"

[2018-02-19 23:41] HamzaTalaghzi commented on #11
Assembly 8086
MASM32
UML

[2018-02-20 01:31] JGJP commented on #11
NuxtJS

[2018-02-22 14:44] katgirl opened #105 "Icon request: contao"
see: https://github.com/FortAwesome/Font-Awesome/issues/1644

you find all format here: https://contao.org/de/media.html

[2018-02-22 14:48] katgirl opened #106 "Icon Request - TYPO3"
you find all here: https://typo3.org/about/the-brand/style-guide/the-typo3-logo/

[2018-02-23 08:13] Fhrozen commented on #11
Chainer

[2018-02-24 21:35] Eventyret commented on #80
To add to this, Blue is stable and Green is insider builds.
https://code.visualstudio.com/blogs/2017/10/24/theicon

[2018-02-25 19:56] William-L79 commented on #11
Adobe After Effect would be good ! Thanks ;D

[2018-02-27 11:15] Rameshv commented on #11
Flutter

[2018-02-28 06:38] kgiroux commented on #11
Hi,

Can you add these followings icons ?

Svn
maven
Jenkins
Jira
Eclipse
TensorFlow

[2018-03-06 20:39] #62 closed

[2018-03-08 01:09] pavannz opened #109 "Why i cant see the icon for Selenium webdriver?"
Requesting for  selenium webdriver icon

[2018-03-11 20:52] LennartPS commented on #11
It would be nice if these were available:
- Adobe Lightroom
- Adobe XD
- Adobe Premiere Pro
- Adobe After Effects
- Adobe Lightroom
- Fruity Loops (FL Studio)
- Ableton Live

Best Regards!

[2018-03-15 12:04] blassbasti opened #110 "[feat/icon]: adobe cc"
Hey thank you very much for all your hard work!
It would be great if the following icons would be added to the font:

Adobe Indesign
Adobe Premiere Pro
Adobe After Effects
Adobe Lightroom
Ableton Live
Avid Pro Tools
Avid Media Composer
VVVV
Pure Date
Max/MSP
Resolume

[2018-03-16 00:39] 1kilobyte commented on #11
NASM
Arduino
OpenWrt
Raspberry Pi
Arch Linux

[2018-03-21 13:29] crispaulcastaneda commented on #56
You can resize it. e.g "Font-size: 2rem;". It works for me.

[2018-03-25 08:30] sumeet-bansal commented on #11
+1 Maven, Flask

[2018-03-25 18:55] hendraanggrian commented on #87
I second this.

[2018-03-26 05:59] eyaleizenberg commented on #11
+1 Redux please

[2018-03-26 16:35] deedubs commented on #11
Terraform!

[2018-03-28 17:28] carolineferris commented on #11
+1 Kotlin
+ Pivotal Cloud Foundry
+ Concourse

[2018-04-06 10:11] gyasikn opened #111 "[bug]: some svg's don't have color"
Multiple SVG's don't have color (React, Heroku, Visual Studio Code) to name a few...

Also React SVG is missing the dot in the center of the logo. (I realize this has been brought up before but it seems like nothing was done)

[2018-04-12 16:13] sniafas commented on #11
R language
Keras
Kaggle
Tensorflow

[2018-04-14 17:14] chadwithuhc opened #112 "Mocha Icon Sizing"
Howdy!

The Mocha icon (`devicon-mocha-plain`) displays at proportions other than square (1:1) while the rest of the icons I've seen are using a 1:1 ratio. This is causing the icons to misalign when in a gridded format.

I believe this icon should be fixed to match the others for consistency. See screenshot of icons in a 3 column grid, with each icon being shown at 80px x 80px except the mocha ico

[2018-04-15 13:43] konpa commented on #33
#11 updated

[2018-04-15 13:43] #33 closed

[2018-04-15 13:46] konpa commented on #44
#11 updated

[2018-04-15 13:46] #44 closed

[2018-04-15 13:47] konpa commented on #45
already in #11

[2018-04-15 13:47] #45 closed

[2018-04-15 13:48] konpa commented on #49
#11 updated

[2018-04-15 13:48] #49 closed

[2018-04-15 13:51] konpa commented on #52
Laravel and ionic already added.

Is there an official Ajax logo ?

[2018-04-15 13:51] #52 closed

[2018-04-15 13:57] konpa commented on #58
What do you mean by not able to use the <title></title> ?

Magento already in #11, Prestashop added. I'm not sure for the others, it's not really development specific.

[2018-04-15 13:57] #58 closed

[2018-04-15 14:37] konpa commented on #72
Already in #11

[2018-04-15 14:37] #72 closed

[2018-04-15 14:37] konpa commented on #77
Already in #11

[2018-04-15 14:37] #77 closed

[2018-04-15 14:39] konpa commented on #82
#11 updated

[2018-04-15 14:39] #82 closed

[2018-04-15 14:47] konpa commented on #83
#11 updated

[2018-04-15 14:47] #83 closed

[2018-04-15 14:49] konpa commented on #84
#11 updated

[2018-04-15 14:49] #84 closed

[2018-04-15 14:50] konpa commented on #85
already in #11

[2018-04-15 14:50] #85 closed

[2018-04-15 14:50] konpa commented on #87
#11 updated

[2018-04-15 14:50] #87 closed

[2018-04-15 14:50] konpa commented on #88
#11 updated

[2018-04-15 14:50] #88 closed

[2018-04-15 14:54] konpa commented on #86
#11 updated

[2018-04-15 14:54] #86 closed

[2018-04-15 16:55] konpa commented on #89
icon already added

[2018-04-15 16:55] #89 closed

[2018-04-15 16:56] konpa commented on #91
already added

[2018-04-15 16:56] #91 closed

[2018-04-15 16:57] konpa commented on #94
Not sure if it would fit the purpose of this icon library

[2018-04-15 16:57] #94 closed

[2018-04-15 16:58] konpa commented on #92
already in #11

[2018-04-15 16:58] #92 closed

[2018-04-15 16:58] konpa commented on #100
already in #11

[2018-04-15 16:58] #100 closed

[2018-04-15 16:59] konpa commented on #101
already in #11

[2018-04-15 16:59] #101 closed

[2018-04-15 17:13] konpa commented on #106
added to #11

[2018-04-15 17:13] #106 closed

[2018-04-15 17:15] konpa commented on #96
Already in #11

[2018-04-15 17:15] #96 closed

[2018-04-15 17:16] konpa commented on #95
#11 updated

[2018-04-15 17:16] #95 closed

[2018-04-15 19:46] LeCoupa opened #113 "Sketch File"
Thank you for this fantastic package! I don't know if it could be interested to your community but I have just built a sketch library to easily import these icons in my artboards.

See the attached file in the link below.

https://dribbble.com/shots/4476739-Background-with-Technology-Icons

[2018-04-16 22:11] amilajack opened #114 "[feat/icon]: sqlite"
sqlite is the most popular database in the world. Would be nice if an icon for it can be included in the repo. Thoughts on this?

[2018-04-19 00:48] bartclaeys commented on #11
Shell
Bash
Jupyter Notebook
Verilog
XML
QML
TeX
Rust
WebAssembly

Reason: I will be using these icons to display skills in a resume (think: hiring, recruitment).

[2018-04-20 22:06] hofbi commented on #11
* Dart
* LaTeX

[2018-04-27 03:53] Peyotle commented on #11
Unity (Unity3d)
Xcode
Visual Studio Code
AppCode

[2018-04-30 13:54] harshpanchal-hp commented on #11
All Machine Learning / Deep Learning libraries logos ( Tensorflow, Caffe, etc...)

[ML-Logos_SVG.zip](https://github.com/konpa/devicon/files/1960793/ML-Logos_SVG.zip)

[2018-05-03 16:20] devamaz opened #117 "[feat/icon]: Emberjs"
Many project on Github are build on emberjs https://www.emberjs.com/

[2018-05-03 19:47] ruicaramalho opened #118 "Icon for SQL Server"

[2018-05-03 19:56] ruicaramalho commented on #11
SQL (just a symbol of SQL no matter if it's MySql, SqlServer, Postgree, etc)
SQLServer
Database

[2018-05-06 23:09] EduardoHidalgo opened #120 "Icon Request: Unity"
A lot of people use Unity (:

[2018-05-08 10:44] roccomuso commented on #11
Azure and Ubuntu +1

[2018-05-09 21:14] ebkalderon commented on #11
Could you possibly add [NixOS](https://nixos.org/), please?

[2018-05-18 10:10] zhacpalomares opened #121 "Icon Request: Spring Framework, Kotlin, Maven, Jenkins"

[2018-05-18 21:43] tsassi commented on #121
Also Ant, JSP, JSF, J2EE, JDK.

[2018-05-20 14:57] ramires-cabral commented on #11
Hi! Could we have Rabbitmq?
Thanks and awesome work!

[2018-05-21 18:27] DoctorHowser commented on #11
Redux is on the list, but would Redux-Saga be an option?
https://github.com/redux-saga/redux-saga/tree/master/logo

[2018-05-22 11:38] lukebrewerton commented on #11
Kubernetes, Ceph, Ansible, Puppet, GlusterFS, VMWare/vCenter/vSphere, CircleCI

[2018-05-22 21:35] Angelk90 opened #122 "Request for new icon"
@konpa : It would be possible to add the following icons:
Titanium
SQLite
Realm
Processing
Action Script
VB.NET
MatLab
Batch
Assembly
Assembly x86
Microcontrollers or Processors
blender

[2018-05-24 04:08] vchrombie opened #123 "Google Chrome SVG icon not working"
![screenshot from 2018-05-24 09-36-19](https://user-images.githubusercontent.com/25265451/40463992-09420648-5f36-11e8-898e-5ccfd2926a5d.png)

[2018-05-24 10:26] karanrajpal14 opened #124 "Add icon pack to Icomoon library"
Hey @konpa,

Any chance you'd consider adding all these icons to the icomoon library like FontAwesome and the others? That way we could just pick the icons we needed from everywhere and use them. Would make the websites a tad lighter as well since we'd be downloading fewer files.

I know I can just download the SVGs and do them myself but I'd like to see the library there among the others. What do

[2018-05-25 18:53] Satyabrat35 opened #125 "Icon Request"
Please add icons for the following:
1. Flask Python
2. SQlite
3. Sublime Text

[2018-05-28 01:52] multinerd commented on #125
id also like to add [MS SQL ](https://marketplace.brainwavegrc.com/wp-content/uploads/bw_store_facet_images/bw_sqlserverrights_icon-900x0.png)

[2018-05-28 12:42] ndmax commented on #11
Popper.js (positioning engine for twbs)
https://popper.js.org/

[2018-05-28 18:03] hjpotter92 commented on #11
* Emacs
 * Azure
 * Sublime Text
 * Chef
 * Elixir
 * Lua
 * Numpy
 * Tensorflow
 * Tcl/tk

[2018-05-29 12:12] formher commented on #11
Kubernetes

[2018-06-01 11:11] Nasiek commented on #11
A little surprised that the R programming language logo isn't available. Also, is it possible to get a software program such as the Esri ArcGIS logo?

[2018-06-04 09:11] jandersson-svt commented on #11
**Various open source licenses:**
gpl3
agpl3
lgpl3,
mit
apache 2.0
Creative Commons (various variants by-na, cc0 etc)

Languages:
68k (assembler)
x86 assembler
Modula-2
Amos

Yes, a few obscure languages, but I have a web project listing old source code, with license and programming languages, so they would find their usage in the devicons set.

[2018-06-06 01:52] prachetasp commented on #11
+1 clojure

[2018-06-10 11:31] dazkona opened #127 "C++ SVG"
C++ SVG first version has not filled with #FFF the ++, so appears black. Thanks!

[2018-06-16 16:00] MattIPv4 opened #128 "JetBrains icons out of date"
All the JetBrains product icons appear to be the versions prior to the modern branding update the occurred. Could these all be updated to the modern branding set that JetBrains uses?

See https://www.jetbrains.com/company/press/index.html#product-logos for all current product icons.

[2018-06-18 13:40] mdewey commented on #11
Would like to see GraphQL

[2018-06-18 21:46] brightjade commented on #11
These icons are great, but I'd love to see more!
* WebGL
* Blender
* Wolfram Mathematica
* Oculus
* Wireshark
* Microsoft Office

[2018-06-19 03:02] vrrajkum commented on #11
[Mithril](https://mithril.js.org/)
[Preact](https://preactjs.com/)

[2018-06-20 09:00] lazzyms commented on #11
Phalcon
Electron

[2018-06-25 20:18] aeksco commented on #11
[Onsen UI](https://onsen.io/)

Thanks for all the great work!

[2018-07-03 15:59] DKMitt commented on #11
**Icon Request: firebase**
<br>
URL to png and svg firebase icons from firebase
![https://firebase.google.com/brand-guidelines/](https://firebase.google.com/brand-guidelines/)
<br><br>
Thank you for the Great icons!  They are exactly what I have been seeking.

[2018-07-05 15:59] wendyliga commented on #11
[Android Studio IDE](https://developer.android.com/studio/)

Thank you

[2018-07-05 20:00] henray commented on #121
+1

[2018-07-06 13:30] henray commented on #11
@konpa Hi, are you still working on this project?

[2018-07-09 01:29] vmao19 commented on #11
Audacity
Blender
Unity

[2018-07-11 14:08] vikaskyadav opened #130 "Request for new icon"
Request for Google cloud platform, Microsoft Azure and cloud9

[2018-07-11 14:10] vikaskyadav opened #131 "Request for icon"
Request for Data Science libraries. IoT devices such as Raspberry Pi, Arduino etc.

[2018-07-11 18:11] Angelk90 commented on #122
@konpa : Are there any news?

[2018-07-16 15:23] alsoknownasdrew opened #132 "Nativescript icon request"
Hi! First of all thank you for your awesome work, I love this library!
Is it possible to add Nativescript icon?
Thank you

[2018-07-17 08:43] alsoknownasdrew commented on #132
Oops, nevermind, I didn't see the #11 Issue

[2018-07-17 08:43] #132 closed

[2018-07-17 08:44] alsoknownasdrew commented on #11
How about Nativescript?

Thank you!

[2018-07-17 14:12] komtcho opened #133 "[ICON REQUEST]: Lumen"
Please add icon lumen laravel

[2018-07-22 20:18] Berkmann18 commented on #131
I second that.

[2018-07-28 12:16] #120 closed

[2018-07-28 13:03] Berkmann18 commented on #130
I suggest you mention cloud9 in #11, all the others you mentioned here are in there.

[2018-07-28 13:12] vikaskyadav commented on #130
ook.

[2018-07-28 13:14] #130 closed

[2018-07-28 13:14] vikaskyadav commented on #11
Adding cloud9 from https://github.com/konpa/devicon/issues/130

[2018-08-03 12:57] marcmarcet commented on #11
Would love to see one for:

- Salesforce

I could try to contribute the svg, but not sure how build the fonts :(

[2018-08-03 17:47] bimbo1989 opened #135 "flutter/dart icons"
Due to the increase in popularity of dart and the flutter framework, these would be two nice introductions.
https://www.dartlang.org/
https://flutter.io/

[2018-08-03 19:19] Berkmann18 commented on #135
IMO you should comment that in #11 (as that's the main thread regarding icon requests) and close this issue.

[2018-08-03 19:26] bimbo1989 commented on #135
Whoops! Closing :)

[2018-08-03 19:26] #135 closed

[2018-08-03 19:26] bimbo1989 commented on #11
What about
- Flutter
- Dart

[2018-08-08 23:03] marioarranzr commented on #11
Concourse CI

[2018-08-09 05:51] ankitprahladsoni commented on #11
Hibernate
Drools
Spring Boot
Spring Data
Spring Cloud
Spring Security
logstash
Kibana
Elastic Search
consul

[2018-08-11 19:52] harithadamarla commented on #11
pega tool logo

[2018-08-18 09:03] dgarcia360 commented on #121
+1

[2018-08-18 13:49] aimore commented on #11
xamarin

[2018-09-01 03:35] amyhenning commented on #11
Lightroom

[2018-09-22 17:02] OmidID commented on #11
Xamarin

[2018-09-29 16:45] fausthor97 opened #137 "Update Npm Package"
Could you please update devicon npm package to version 2.2?

[2018-09-29 19:14] ewliang opened #138 "[feat/icon]: Ghost.js"
Please add Ghost.js icon, thanks!
You have Wordpress, so I think Ghost.js should be on the list as well.

[2018-09-29 19:16] ewliang commented on #11
Ghost.js

[2018-10-01 01:16] ewliang commented on #11
Since you have Slack and Twitter, I would love to see
- Discord

[2018-10-03 08:39] Gowee commented on #11
Could you please add Rust (the programming language)?
Thanks!

Either is great:
![](http://rustacean.net/assets/rustacean-orig-noshadow.svg)
![](https://upload.wikimedia.org/wikipedia/commons/d/d5/Rust_programming_language_black_logo.svg)

[2018-10-19 01:14] r3lik commented on #11
+1 Jenkins

[2018-10-26 22:02] jtbairdsr commented on #11
I would love to see Pug
https://github.com/pugjs/pug

[2018-11-02 11:15] issy123 opened #140 "[feat/icon]: Elasticsearch"
something like this

![image](https://user-images.githubusercontent.com/9143253/47912437-f749bc00-de98-11e8-9669-e97f58b8be2e.png)

[2018-11-09 15:10] jithinjk commented on #11
VMware vSphere, Golang

[2018-11-12 16:37] avinash-mishra opened #141 "[feat/icon]: scikit-learn"

[2018-11-12 17:32] Berkmann18 commented on #141
This (iirc) was already mentioned in #11

[2018-11-20 21:29] MrSheldon opened #142 "New ideas"
Add visual studio code and notepad++ 😂👌🏻

[2018-11-21 10:41] Berkmann18 commented on #142
-> #11

[2018-11-30 10:56] suxiaogang opened #144 "[bug/apple-icon]: font is squared off"
![image](https://user-images.githubusercontent.com/1567518/49285141-a34ee900-f4d1-11e8-983c-2f181958411b.png)

[2018-12-12 13:01] iamclaytonray opened #146 "MAINTAINING => New Repo!!!"
Hello all. It seems the original maintainer of this repo is not actively looking to continue maintaining it. For anyone that has a PR or issue, please file them at my [fork](https://github.com/iamclaytonray/devicon). I will be actively maintaining this moving forward so if you'd like PRs to get through, that'll be the place to do it!

If you're interested in becoming a collab, let me know! Even th

[2018-12-12 13:11] iamclaytonray commented on #144
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:11] iamclaytonray commented on #142
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:11] iamclaytonray commented on #141
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:11] iamclaytonray commented on #140
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:11] iamclaytonray commented on #138
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:11] iamclaytonray commented on #137
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:12] iamclaytonray commented on #133
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:12] iamclaytonray commented on #128
If you could, please file your issue (and any new issues) to the new repo/fork [here](https://github.com/iamclaytonray/devicon). Thanks!

[2018-12-12 13:30] konpa commented on #146
@iamclaytonray Indeed, I currently have no time to maintain this repo. And it's a shame to see all these issues and PRs without answer... However, if you're willing to help I could add you as a collaborator to this repo.

Let me know if you're interested. I think it would be better than maintaining a fork.

[2018-12-12 13:31] iamclaytonray commented on #146
Yeah, for sure! I would've reached out to you but didn't know if you'd respond so figured I'd maintain a fork. More than happy to become a collab 😄

[2018-12-12 13:39] konpa commented on #146
Done. Thanks for your help. Don't hesitate to reach me by email if you need details, I'll try to get back to you as soon as I can.

[2018-12-12 13:39] #146 closed

[2018-12-12 14:12] iamclaytonray commented on #128
@MattIPv4 - Thanks for opening an issue on my fork. I didn't think Konpa would make me a collaborator so I didn't ask but I ended up one anyways! We're going to stick with this repo so we don't have to overhaul to another repo, migrating issues, PRs, and so on. Please bear with me as I try to get everything situated (reviewing PRs, issues, and so on) before we really start rolling things out and g

[2018-12-12 14:16] iamclaytonray commented on #125
Hey @multinerd - would you mind opening a new issue for this request? Thanks!

@Satyabrat35 - Can you also edit this issue to include only one icon request and then add additional issues for additional icons that you would like to see land in a future release? Thanks!

[2018-12-12 14:19] Berkmann18 commented on #146
I can also help (if needed) although I'm admittedly not very talented in design (but can and want to improve).

[2018-12-12 14:24] #11 closed, assigned to konpa

[2018-12-12 14:30] iamclaytonray commented on #146
Hey @Berkmann18! Thanks! I'll be honest, I'm not much of a designer but I didn't want to see this project die. I was going to, at the very least, maintain the repo so releases could get out of the door. I think there is a big enough community to where we can all play our part! For now, I'm just getting acquainted to everything and have to finish up some work for today and prepare for my last contr

[2018-12-12 14:41] Berkmann18 commented on #146
@iamclaytonray Thanks for your honesty and as you said we (GHers) can all play our part in improving this repo (which I would also not want to see dying) and even if the number of issues closed and PR merged is low from now to next year, it will still be a push forward.

[2018-12-12 15:13] multinerd opened #147 "Icon request: microsoft sql-server"
Icon: https://chocolatey.org/content/packageimages/sql-server-express.14.1801.3958.1.svg

[2018-12-12 15:14] multinerd commented on #125
I've created the new request, #147

[2018-12-12 15:30] iamclaytonray opened #148 "😄2019 Roadmap & RFC 😄"
Hello community! 😄😄😄

I was added as a collaborator earlier today and I'm in the process of figuring out next steps for this library. Because we are coming up on the end of the year, please do not expect hardcore work to be done on this project until 2019. Most issues and PRs will not be resolved until after the new year due to the holiday season and my other non-OSS obligations. With that being s

[2018-12-12 16:18] iamclaytonray opened #149 "RFC: Icon Types"
As FontAwesome (and many others do), should we provide icon variants? The ones I was thinking of would include:

`outline`
`solid`
`regular`

Thoughts? This would be put in the backlog until we get most issues and PRs dealt with but figured we can start discussion around it now for when we get through open issues and PRs!

[2018-12-12 17:46] Berkmann18 commented on #149
That's a good idea, how would you define each variant?

[2018-12-12 17:49] iamclaytonray commented on #149
Well, I like what Julien did with including text and non-text variants. I think I'd define variants the way FontAwesome does + what Julien did. It's a lot of extra icons but I think it solves a lot more use-cases

[2018-12-12 17:58] Berkmann18 commented on #148
Not sure if you already set that up or have examples in sight but for PR/Issues templates, but you could have a look at [this repo](https://github.com/stevemao/github-issue-templates) which I've based myself on to set up a [template repo](https://github.com/Berkmann18/TemplateJS) (which contains settings for bots that helps with a variety of things, code analysers like BCH/Codacy and of course a f

[2018-12-12 18:01] iamclaytonray commented on #148
This is great! I'll definitely draw from here and make tweaks as needed!

I started a project that I abandoned some time ago but would love to pick it up again, especially if you'd be down to collab on it! It's similar to what you are doing (though, I didn't get to that level of completion). Essentially, it's a convention or "spec" on github flows, like issues, pull request templates, issue templa

[2018-12-12 18:18] iamclaytonray commented on #24
Thank you for filing an issue. This is unrelated to this library and as such, we're unable to do anything about it. This is an outstanding issue so I'm going to go ahead and close it. Thanks again!

[2018-12-12 18:18] #24 closed

[2018-12-12 18:39] iamclaytonray opened #150 "Feature Request: Add 'Click To Copy' Buttons On Website"
To help with DX, I'd like to add a "Click To Copy" button where applicable. I'd also like to add another field of just the class name itself. IE: `devicon-webpack-plain`. This way, if you already have a class stubbed out, you don't have to copy in your editor, remove the `<i class="` and `">`. You can just click the button and paste right into your code!

[2018-12-12 19:09] iamclaytonray opened #151 "Feature Request: Add Sorting To Website"
I think we can break it up into the following categories:

- [ ] All
- [ ] Language (Ruby, JavaScript, etc)
- [ ] Design (Photoshop, Sketch, etc)
- [ ] Framework/Library (React, Angular, etc)
- [ ] Tooling (Webpack, Parcel, etc)
- [ ] Database (Postgres, MySQL, etc)

What am I missing? (This is not high priority)

[2018-12-12 19:12] iamclaytonray commented on #68
We can do this via [unpkg](https://unpkg.com/#/). Thanks for filing an issue!

[2018-12-12 19:14] iamclaytonray commented on #97
Hey @sapics! Thanks for filing an issue! I know it's a little old but I'd like to help if I can and if you still want/need an answer. Do you mind clarifying your question? Are you asking whether or not you're supposed to give `devicon` creative attributes, like in the Creative Commons / Creative Commons Attribution licenses?

[2018-12-12 19:16] iamclaytonray commented on #124
Hey @karanrajpal14! That's a great question! Let me do a little research and get back to you on this. Thanks for your feature request!

[2018-12-12 20:24] iamclaytonray commented on #73
Hey, we are working on getting back on track. We will be following SEMVER releases from now on! I'll go ahead and close this issue. (Docs will be updated accordingly in the future. Trying to get the website back up at the moment.)

[2018-12-12 20:24] #73 closed

[2018-12-13 03:09] sapics commented on #97
@iamclaytonray Thanks for your answer!
I have a plan to create an vector editor by html5 which has a feature drag and drop svg icon.
My user can create their own design in editor.
So, my question is, "If my user create a design which includes devicon, do they need write down license attribution in thier design?"
I will write a license attribution as is obvious in my html5 files.

I guess that my u

[2018-12-13 09:39] Berkmann18 commented on #151
There's also Platforms/OS/distributions (GNU/Linux, Windows, OSX, Android, etc).
There's probably more but other categories could be added later on.

[2018-12-13 09:41] Berkmann18 commented on #150
That's a good idea, although naming the button "copy" near the field that contains either the SVG code or the class name, would be better.

[2018-12-13 09:43] iamclaytonray commented on #150
Yeah, maybe we could do something like:

[https://angular.io/tutorial/toh-pt1](https://angular.io/tutorial/toh-pt1)

[2018-12-13 09:44] iamclaytonray commented on #151
Yeah. Thinking about it, this can become a large rabbit hole. Not sure if it's worth the time...

[2018-12-13 09:51] Berkmann18 commented on #151
@iamclaytonray Well, for the other categories (if any more non-classifiable icons were to be added), they could just go in an "other"/"miscellaneous" category (perhaps until there are enough icons to create another category).

[2018-12-13 09:53] Berkmann18 commented on #150
Yeah, that's also good.

[2018-12-13 09:54] Berkmann18 commented on #149
Oh yeah, that makes sense.
That would definitely be a good thing which would allow for flexibility.

[2018-12-14 14:06] TheJaredWilcurt commented on #43
yeah, I mean, it's still wrong? It's like how Jade was renamed to Pug. The site is just out dated and should be updated to have the correct name

[2018-12-14 15:09] iamclaytonray commented on #43
Okay, we'll rename it. Thanks!

[2018-12-16 14:51] iamclaytonray commented on #141
Hello @avinash-mishra! Thanks for filing an issue! Please create individual issues for individual icons. Thanks!

[2018-12-16 14:57] iamclaytonray commented on #142
Please file individual issues and pull requests. Feel free to update your OP with one icon, update the title accordingly, and then file a new issue for any other icon requests that you have that are not already filed. Thanks!

[2018-12-16 14:59] iamclaytonray commented on #131
Please update this issue with one of those icons and then file issues for other icons that are not yet filed. Thanks!

[2018-12-16 15:02] iamclaytonray commented on #123
Hey @vchrombie - Can you give me some more info? Possibly a repro case? Thanks!

[2018-12-16 15:03] iamclaytonray commented on #121
Please limit issues to one icon request, feature request, or bug. If you'd kindly update this issue and then file issues for other icons that are not yet filed, that would help me out a ton! I'm going to try to get some PRs merged in over the next few days and I'm currently triaging issues. Thanks for your contribution!

[2018-12-16 15:06] iamclaytonray commented on #113
Hey @LeCoupa! This is definitely interesting. I personally don't use anything other than Sketch but I'm not sure about the greater community. What are you envisioning with this request? I assume the Sketch file would be locked into git and we'd use Sketch to manage icons? Thanks!

[2018-12-16 15:09] iamclaytonray commented on #118
Hey @ruicaramalho! Thanks for filing this issue. I seem to have a duplicate above this one that I've already labeled and whatnot so I'm going to close this one. Please take a look at #147 if you have any comments or concerns. Thanks for your contribution!

[2018-12-16 15:10] #118 closed

[2018-12-16 16:09] iamclaytonray commented on #65
It looks like this was resolved. It's coming through properly on the devicon website. I wasn't a collaborator when this was filed. If this issue persists, please reopen this issue and tag me! Thanks!

[2018-12-16 16:18] iamclaytonray commented on #111
Hey @gyasikn - I am unable to reproduce the missing dot in the React icon. Can you give me a way to reproduce this based on latest? I closed another issue pertaining to this but seems that a lot of people are dealing with this. Thanks!

As far as the colors go, I am going to go ahead and tag this as a bug and throw it into the 3.0 Project for the next release.

[2019-01-17 23:16] mi6th opened #153 "[feat/icon]: (update) Slack icon/logo"
On 2019-01-16 Slack [introduced their new logo](https://slackhq.com/say-hello-new-logo) so the old one needs to be updated.

[2019-01-21 19:45] Harshit369 commented on #122
I would like to add a few more, the ones I need badly.
- Redux
- React-Native
- MobX (Though I know this one's not that famous)

Some Thanks in advance if I wasn't thankful already 😅🙏🏽

[2019-01-23 05:36] pratamatama commented on #76
I had same problem. Installed trough npm.

![xscriptindonesia dev_technologies_create 1](https://user-images.githubusercontent.com/42239243/51585235-412bc680-1f0b-11e9-9774-ccb29e5ea62a.png)

[2019-01-31 21:36] #113 closed

[2019-02-05 13:34] DanyDmt opened #155 "Add Go, Electron.JS, React, Foundation icons."

[2019-02-14 00:04] justisGipson commented on #11
What about an anaconda icon?

[2019-02-17 12:45] razum2um commented on #11
+clojure ready here: https://github.com/konpa/devicon/pull/157
+clojurescript ready here: https://github.com/konpa/devicon/pull/156

[2019-02-19 14:32] jogspokoen commented on #11
pandas
burp
Kali Linux
Flask

[2019-02-20 11:39] tairosonloa opened #158 "Wrong svg icon: react and slack"
There is an error with plain svg (html svg tag) icons for react and slack. Both lack of its middle shape. I mean, both have a white space where should be icon.

[2019-02-21 22:47] MattIPv4 commented on #128
@iamclaytonray any update regarding all of this?

[2019-02-21 22:53] fearrr commented on #113
@LeCoupa TY man, this is really saved my time!

[2019-02-24 09:50] kyedavey commented on #11
+ 1 Redux 👍

[2019-02-27 22:44] LeonnardoVerol commented on #11
- Codacy
- SonarQube
- Azure

[2019-03-02 18:20] ermamud commented on #11
- LinkedIn
- Cloud Platform
- Ionic
- Cordova
- Jenkins
- Xamarin
- Azure

Thanks for the icons.! They are awesome!

[2019-03-11 06:40] luizvaz commented on #11
- Dart
- Flutter

[https://github.com/dart-lang/logos](https://github.com/dart-lang/logos)

![dart](https://user-images.githubusercontent.com/691612/54104630-54a5ca80-43af-11e9-8d67-4bf5ced76f10.png)

![flutter](https://user-images.githubusercontent.com/691612/54104637-5a9bab80-43af-11e9-82c2-92c4d04c6669.png)

[2019-03-12 00:17] tmcgillicuddy commented on #11
* Clion

[2019-03-12 19:23] drjonnicholson opened #159 "[feat/icon]: Postman"
It'd be great to see [Postman](https://www.getpostman.com/) added

[2019-03-12 19:26] drjonnicholson opened #160 "[feat/icon]: OpenAPI Initiative/3.0"
It'd be great to see the [OpenAPI Initiative](https://github.com/OAI/OpenAPI-Style-Guide/tree/master/graphics) (e.g. OpenAPI 3.0) added.

[2019-03-19 07:54] krishnateja-ct commented on #11
- Selenium

- Hadoop

- IoT

[2019-03-23 10:05] DontSeeSharp commented on #11
It would be nice to have Maven.

[2019-03-25 17:02] CaitlinWeb commented on #137
Bump, this still hasn't been done! 😞

[2019-03-25 19:36] konpa commented on #137
Done :)

https://www.npmjs.com/package/devicon

[2019-03-25 19:36] #137 closed

[2019-03-30 03:25] dielhennr commented on #11
Eclipse !

[2019-03-30 22:40] RReverser opened #161 "Icon request: Rust"
Thanks!

![](http://rustacean.net/assets/rustacean-orig-noshadow.svg)
![](https://upload.wikimedia.org/wikipedia/commons/d/d5/Rust_programming_language_black_logo.svg)

_Originally posted by @Gowee in https://github.com/konpa/devicon/issues/11#issuecomment-426556387_

[2019-03-30 22:41] RReverser commented on #161
(reposted here because original issue is closed with a request to create dedicated issues for outstanding requests instead)

[2019-03-31 01:51] iamclaytonray commented on #161
I'd certainly love to see this added. I'm swamped with work right now so I can't personally do it. I will tag this for help from the community if you are unable to!

[2019-04-04 17:16] caseydulong opened #162 "Ruby and Rails SVGs not rendering properly"
The Ruby and Rails SVGs do not render properly with the code copied from the box.  However, if I right click on the image and open it in a new tab, it displays perfectly.  If I copy the code from the inspector on that page, it will work fine.  Not only that, if I use the code from the inspector, and the code copied from the box on the frontend, both will display properly.  I think the there is a m

[2019-04-04 21:32] samfuller01 opened #163 "RawGit will end service by October 2019"
If you visit the homepage of [RawGit](https://rawgit.com/) you see that they are in their "sunset phase" and by October 2019 all services will cease. Because of this you will have to make a new cdn and css link before the year is over.

[2019-04-05 01:26] VickyRockingster commented on #11
AJAX
Handlebars
JSON
Mongoose
SCSS
SQL

[2019-04-15 17:53] bartclaeys commented on #151
The challenge with the suggested categories is that it implies icon sets are fairly complete for each category. Take the design category as an example. The only icon I could find was one for Photoshop, but other mayor programs like InDesign, Sketch,... are missing.

[2019-04-15 18:16] Berkmann18 commented on #151
@bartclaeys True, however some have been requested so if we were to add all them ones that were requested then it will fill up a good chunk of all categories.

[2019-04-30 17:26] zdim commented on #158
for the react one, it looks like there's an extra \<circle\> element that isn't displaying in the svg code preview. if you inspect the svg's [source](https://konpa.github.io/devicon/devicon.git/icons/react/react-original.svg), it shows the circle and you can copy that into the svg element.

so it'd end up being
[code]

![image](https://user-images.githubusercontent.com/7482638/56980650-208e9080-6b

[2019-05-01 03:59] FX-Wood opened #164 "Icon Request: Markdown"
Thanks very much for this awesome library.

I'd like to request the markdown Icon, which can be found here: https://github.com/dcurtis/markdown-mark

I may have time to do this myself, but in the meantime I'll put it up here.

[2019-05-09 11:18] rjlopezdev commented on #11
* [Karma](https://karma-runner.github.io/latest/index.html)
* [Jest](https://github.com/facebook/jest)
* [Cypress](https://www.cypress.io/)
* [Nest](https://nestjs.com/)
* [CircleCI](https://circleci.com/)
* [Codecov](https://codecov.io/)
🙏

[2019-05-09 12:11] rjlopezdev opened #165 "DevOps (CircleCI): `build step` to publish latest version on Github Pages"
I've noticed [Devicon Web](https://konpa.github.io/devicon/) is not updated with the latest icons.

I could design a simple CI cycle to atomate this proccess:

**Steps**

* First: build static files
* Second: commit new version to `gh-pages` branch

**Triggers**

* Commiting over `master` branch

If you are interested, I would need the scripts you use to publish on `gh-pages` 🙏

[2019-05-09 12:20] konpa commented on #165
There is none... I want to automate the process (as well as the one to generation the font files) for a long time but never took the time to do it... For now, `gh-pages` is just an Angular SPA with `master` branch as submodule.

[2019-05-09 12:39] rjlopezdev commented on #165
Ouh! I see...
I could work on this first:

* Rewriting old angular.js app into a new Angular 7.
* Script to read `fonts` directory to parse it & generate a JSON with new additions.

Once this is done, build CI cycle.

If you agree that, I could work on it.
Unless, I'll close this issue.

[2019-05-09 12:43] konpa commented on #165
Yes sure, would be great !

[2019-05-10 21:04] armatusmiles commented on #11
CMake +1

[2019-05-20 08:21] bastej commented on #11
- **Redux**

[2019-05-29 16:24] ManuelBilbao commented on #11
Arduino

[2019-06-03 08:01] wangjacsi opened #167 "Icon Request: Flutter"
Please add icons:
Flutter
JestJS

[2019-06-09 14:19] tokkenno commented on #167
+1. And for [dart](dartlang.org), please.

[2019-06-11 00:06] kstrickland0612 commented on #11
[Jira](url "https://www.atlassian.com/software/jira")

[2019-06-12 19:16] justisGipson opened #168 "Icon Request"
1.  Svelte
2.  Gitkraken
3.  Firebase

thanks

[2019-06-16 08:05] TamerKhraisha commented on #11
Hello
Thank you for providing this amazing list
I was wondering if you are planning to add R language icon soon
Thanks

[2019-06-16 12:25] Asaf-Aviv opened #169 "Icon Request"
I would love to see Graphql and Redux icons added.

Thanks!

[2019-06-24 12:54] JeroenGoddijn opened #171 "Icon Request: OKTA"
Can you please add the icons for Okta (authentication)?

I have added the available files from their website to this issue:

[Download all Okta Developer Logos](https://www.okta.com/sites/default/files/okta_developer_logos.zip)

[2019-07-07 19:02] ahmedfaaid opened #172 "Icon request: GatsbyJS"
It would be great to get a GatsbyJS icon

Gatsby Logo Guidelines: https://www.gatsbyjs.org/guidelines/logo/

[2019-07-08 17:27] kaangokdemir opened #173 "Icon request: Objective C"
Great project. It would be great to see Objective C .svg and icon also.

link: https://assets.exercism.io/tracks/objective-c-bordered-turquoise.png

[2019-07-15 17:08] amyers-xc commented on #11
Netlify (they have a press package too)

[2019-07-15 21:13] MichaLueth commented on #158
Anyway, the Slack icon is outdated #153.

[2019-07-18 03:58] EstebanVictorio commented on #11
NextJS, it would be awesome!

[2019-07-21 16:12] axecopfire commented on #11
Dev.to please

[2019-07-29 10:52] taimaiduc opened #174 "Icon Request: Magento"
Dear Sir,

Can you add Magento icon

[2019-07-29 16:39] Angelk90 commented on #11
@konpa :
Titanium
SQLite
Realm
Processing
Action Script
VB.NET
MatLab
Batch
Assembly
Assembly x86
Microcontrollers or Processors
blender
Redux
React-Native
MobX
NPM

[2019-08-13 11:25] stadniklksndr opened #175 "Icon Request: Upwork"
Please add **Upwork** icon.

[2019-08-15 13:58] PCMACHero commented on #65
Seems to still be missing

[2019-08-18 11:24] perjerz3434 commented on #11
ReactiveX

[2019-08-20 16:41] shankarmadeshvaran opened #176 "Icon request: iOS/OSX development"

[2019-08-20 16:43] shankarmadeshvaran commented on #11
Please add these icons also Xcode,iOS,tvOS,watchOS,SwiftUI and more ios related tools icons

[2019-09-03 16:48] amiceli commented on #144
Any update for this icon ?

[2019-09-06 10:20] amiceli commented on #144
I created a PR for this : https://github.com/konpa/devicon/pull/177

[2019-09-21 19:53] dcxo commented on #167
+1

[2019-09-30 15:59] Stevey144 commented on #56
thanks for this bro "Font-size:2rem;"worked perfectly fine for me

[2019-10-04 14:26] MatTeague commented on #11
Hi, thanks for the icons. I see a Jekyll icon request so I would also like to suggest a Shopify icon, please.

[2019-10-10 09:03] hguiney commented on #11
[styled-components](https://www.styled-components.com/) please

[2019-10-15 10:14] dlwilson88 opened #180 "Icon Request: Arch Linux"
Could you consider adding these:

 1. [**ArchLinux-Dark**](https://sources.archlinux.org/other/artwork/archlinux-logo-dark-scalable.svg)
![archlinux-logo-dark-90dpi](https://user-images.githubusercontent.com/5242018/66821044-c62e9400-ef0f-11e9-8f11-f1ff8f62a37e.png)
`https://sources.archlinux.org/other/artwork/archlinux-logo-dark-scalable.svg`

 2. [**ArchLinux-Black**](https://sources.archlinux.o

[2019-10-15 17:36] felixalguzman opened #181 "Icon Request: Grails"
Please add the [Grails](https://grails.org/) icon

[2019-10-19 20:45] gijsbeijer commented on #167
+1

[2019-10-20 19:28] alexlee-dev commented on #11
- JSON

[2019-10-21 13:54] shfaizanali commented on #11
IONIC, REACT NATIVE, GOOGLE CLOUD SERVICES,

[2019-10-29 21:11] Altijd-youri commented on #93
I added the path-fill with the correct Python logo colors to my svg code. Now it shows correctly, I think.

[code]

[2019-11-08 17:32] SiimonStark opened #183 "Icon Request: Frontend Tools"
- [x] Redux
- [ ] Router
- [ ] Enzyme
- [x] Jest
- [x] Express

[2019-11-13 16:58] 0001vrn commented on #11
Please add the following icons:
- Kotlin
- Scala

[2019-11-21 05:31] ijanett commented on #11
SQL

[2019-11-21 08:51] Angelk90 commented on #11
@konpa :

Because we don't find a solution where every user does not directly write here the type of icon you need, but for example a todo list of the elements.
If the requesting element is already inserted then it does not put it, if it is not there it inserts it.
Is anyone willing to do this?

[2019-11-21 15:15] kawser43 commented on #11
1. Dart
2. Flutter

[2019-11-25 07:13] ioquatix opened #184 "Icon Request: BASIC"
Please add an icon for BASIC, e.g.

QuickBasic, GW Basic, Visual Basic, etc. I am happy to try and contribute something. Let me know what you think.

[2019-12-06 16:06] ctur commented on #65
`<svg viewBox="0 0 128 128">
        <g fill="#61DAFB">
          <circle cx="64" cy="64" r="11.4" />
          <path
            fill="#61DAFB"
            d="M107.3 45.2c-2.2-.8-4.5-1.6-6.9-2.3.6-2.4 1.1-4.8 1.5-7.1 2.1-13.2-.2-22.5-6.6-26.1-1.9-1.1-4-1.6-6.4-1.6-7 0-15.9 5.2-24.9 13.9-9-8.7-17.9-13.9-24.9-13.9-2.4 0-4.5.5-6.4 1.6-6.4 3.7-8.7 13-6.6 26.1.4 2.3.9 4.7 1.5 7.1-2.4.7-4.7 1.4-6.9 2.3

[2019-12-11 03:16] tehmoth opened #185 "Icon Request: Perl"
* Perl
* perl
* Raku

[2019-12-14 09:46] KIRA009 commented on #11
@konpa

Could you add these
1) Flask
2) React Native
3) LinkedIn

[2019-12-23 18:48] TimonPost commented on #161
https://github.com/rust-lang/rust/issues/11562

[2019-12-26 18:54] ZiluckMichael commented on #11
You have AngularJS but no Angular.
1. Angular

[2019-12-28 17:42] #169 closed

[2019-12-29 04:15] Mr-Antivirus commented on #111
From my observation, it's because there is a lack of css rules for that SVG. For instance, if you go to the 2.0 site and copy the code for "Twitter", the SVG will display in black because there is no CSS style for "cls-1". However, if you go to the actual repo file for Twitter and copy that SVG code, it has/defines the "cls-1" rule globally. So any other SVGs that use "cls-1" will instantly have t

[2020-01-03 11:52] inductor opened #186 "Icon Request: Kubernetes"
Docker is already there! :)

[2020-01-03 11:53] inductor opened #187 "Icon Request: Google Cloud"
As AWS is already in the list, I suppose it'll be better to have GCP icon too!

[2020-01-03 19:07] thenick775 commented on #173
Bumped because I'd also appreciate this

[2020-01-04 20:54] Cloudmersive opened #188 "Icon Request: APEX"
Please add Salesforce APEX as an icon

[2020-01-04 23:06] Andryas opened #189 "Icon request: EMACS"
Please add EMACS as an icon. Thanks

[2020-01-09 20:40] kevin-ruby opened #190 "Icon Request: QT"
a Qt logo would be awesome. Thanks!

[2020-01-10 10:51] stanleyondrus commented on #11
Arduino
Eclipse
Premiere Pro
After Effects
Ableton
FL Studio

[2020-01-12 23:52] JagNanda opened #191 "Icon Request: Nosql, firebase, redux"
Hi, it would much appreciated if any of these icons could be created.

[2020-01-13 21:15] #151 closed

[2020-01-13 21:15] #150 closed

[2020-01-13 21:17] #148 closed

[2020-01-18 20:10] amirlix opened #192 "Icon Request: nuxt"
hi please add nuxt.js icon tnx.
https://nuxtjs.org/design/

[2020-01-20 13:26] sokoow commented on #186
+1

[2020-01-22 08:08] 7wmr commented on #11
Could you add Kubernetes please!

[2020-02-11 19:57] parasyte commented on #11
- gRPC
- MQTT
- TOML
- YAML

Bonus: `package` for generic package managers (npm, pip, pypi, gem, cargo, etc.)

[2020-02-13 06:05] Djuppi opened #194 "Request for Elm & Reason"
Thank you so much for these amazing icons! Noce work :)

If i could i would request icons for Elm and Reason :)

[2020-02-13 16:05] CupOfTea696 opened #195 "Icon Request: Vagrant"
Please add the Vagrant logo as an icon.

[2020-02-17 23:28] poehlerflorian commented on #11
Hugo

[2020-02-22 12:02] TWcamel commented on #11
Cuda

[2020-02-22 12:51] askarialireza commented on #11
.Net Framework Core [NEW LOGO]

[2020-02-29 18:24] Chandra-Panta-Chhetri commented on #11
Mongoose Icon please, thank you.

[2020-03-06 06:13] pravnkay commented on #11
Tailwind CSS

[2020-03-08 15:55] #80 closed

[2020-03-15 04:55] admarko commented on #194
+1

[2020-03-15 04:55] admarko commented on #98
+1

[2020-03-20 03:33] inductor opened #196 "Icon request: Terraform"
Terraform is one of the most popular "Infrastructure as Code(Configuration)" languages

[2020-03-20 14:50] unixconky opened #197 "Icon request: default programming related icon when an technology is missing"

[2020-03-20 18:55] avelasco920 commented on #11
GraphQL please :)

[2020-03-22 16:50] saulamsal opened #198 "Icon request: Gatsby, GraphQL, Spring Framework, Kotlin"

[2020-03-26 13:16] wyuenho commented on #11
Emacs/elisp please

[2020-03-29 03:06] ghost opened #199 "Icon request: Adobe CC"
Hi:

I have a request to add the adobe icon.
Something like this: https://icons8.com/icon/62149/adobe-creative-cloud
https://www.adobe.com/legal/permissions/icons-web-logos.html

[2020-03-29 22:11] TristxnB opened #200 "Icon Request: Lua"
Hello !

Why don't add Lua ?
Something like that : https://www.lua.org/images/logo.gif

Thanks !

[2020-03-31 19:49] jafarlow commented on #11
Thank you so much for these!

I see an earlier iteration had both **npm** and **Ember**, but I don't see them on the current site. Would it be possible to re-add them?

Thanks!

[2020-04-09 07:05] sanchjain commented on #11
The icons I want have already been requested but could you add a star or something which we could use for unavailable icons

[2020-04-10 10:12] scarlehoff opened #201 "Icon request: fortran"
Because physicists also need icons :P

[2020-04-11 08:37] mroach commented on #100
Since #11 was closed and there's still no Elixir icon, is this fair to re-open?

[2020-04-12 07:14] michaelazer opened #202 "Icon request: Figma"

[2020-04-12 07:15] michaelazer opened #203 "Icon request: Ionic"

[2020-04-12 07:15] michaelazer opened #204 "Icon request: Firebase"
### About the icon
Firebase is an emerging technology by Google which I think would be good to have in devicons
### Links
https://www.gstatic.com/devrel-devsite/prod/vf7e3a995d426e05d42b78fc7d21a14329a91016dc065dc22c480cc8f443ef33e/firebase/images/touchicon-180.png
### Preview
*If available, provide some images of the icon you would like to be added*

[2020-04-13 01:47] KristofaJosh opened #206 "Icon request: flask (python framework)"

[2020-05-02 08:18] twecker137 commented on #186
You can take a look at the official logo files:
https://github.com/kubernetes/kubernetes/tree/master/logo

[2020-05-05 11:33] py563 opened #207 "better organization for names of icons"
can we club plain and original to same category and simply name it as devicon-<brand>.
other files for icon stay with same names

[2020-05-05 11:36] py563 commented on #206
refer pull request #66

[2020-05-07 18:06] KristofaJosh commented on #206
Thanks

[2020-05-15 13:57] abrudz commented on #11
Could you add Dyalog APL?
<img src="https://user-images.githubusercontent.com/10961427/82058016-121b0480-96bc-11ea-94c2-962b9088c86a.png" width="48">
SVG in attached [Dyalog_icon.zip](https://github.com/konpa/devicon/files/4634763/Dyalog_icon.zip), but you will want to simplify and rescale the code

[2020-05-22 13:48] maugeya opened #208 "Icon request: Redux"

[2020-05-22 13:49] maugeya opened #209 "Icon request: GraphQL"
Description provided by @aravindvnair99 https://github.com/devicons/devicon/issues/490

[2020-05-22 14:02] maugeya opened #210 "Icon request: Jest"

[2020-05-27 00:53] karansapolia commented on #210
Was looking for the same. Would really appreciate having icons for jest :slightly_smiling_face:

[2020-05-28 04:54] JCraigWasTaken commented on #147
Was this removed?

[2020-05-29 00:37] cmcodes1 opened #211 "Icon request: Redux"

[2020-05-29 00:38] cmcodes1 opened #212 "Icon request: MobX"

[2020-05-29 00:51] cmcodes1 opened #213 "Icon request: Visual Basic"

[2020-05-30 13:30] Alien-nick opened #214 "Icon Request: Oracle Apex"
Kindly add the following icons:
* Apex
* Plsql

[2020-06-05 00:03] khenbest commented on #11
1. GraphQL
2. Prisma

[2020-06-06 18:24] debdutgoswami commented on #204
The icon is present in PR #170 but not merged. Have a look into it :)

[2020-06-06 18:27] debdutgoswami commented on #208
Refer to PR #143 :)

[2020-06-06 18:28] debdutgoswami commented on #191
Refer to PR #143 and #170 :)

[2020-06-06 18:49] michaelazer commented on #204
This is great!!! Thank you!!

[2020-06-07 22:38] amacado opened #215 "Maintainer - bring this project back to life 🚀"
Hello, I feel sad that it seems like this project isn't actively maintained anymore. There are a lot of open pull requests which would add some very nice and useful icons. I would volunteer to collaborate on this project and try to keep it alive. I will probably not having the time to add icons by myself, but I can try to clean things up and reviewing the open pull requests/issues. @konpa if you a

[2020-06-08 13:27] amacado commented on #215
Thank you for adding me. I will start by organizing/labeling the pulls and issues, continuing to review some of the pull requests.

[2020-06-08 13:28] #215 closed

[2020-06-08 13:37] amacado commented on #176
@shankarmadeshvaran  requested to add icons related to iOS development such as
- macOS
- tvOS
- iOS
- SwiftUI
- Xcode

and more tool icons to iOS development

[2020-06-08 13:39] debdutgoswami commented on #215
You should look into some of the icon PRs. Many open PRs have some very useful icons. You should consider merging them :)

[2020-06-08 14:17] amacado commented on #215
@debdutgoswami y, planning to do that in the next days.. :)

[2020-06-08 14:23] amacado commented on #78
Closing this issue, since @SrdjanMilivojevic stated it was solved in #73

[2020-06-08 14:23] #78 closed

[2020-06-08 21:59] amacado commented on #165
@rjlopezdev are u still interested in contributing? Because an automated build process including the font generation would be amazing.

[2020-06-08 22:00] amacado commented on #207
@py563 hey :) I'm not sure if i understood you right.. Can you please make some examples to clear things up? :)

[2020-06-08 22:16] amacado commented on #142
As @iamclaytonray mentioned, please fill a new issue for each icon and name it properly :) Thanks! :) You can reopen this when you changed it accordingly :)

[2020-06-08 22:16] #142 closed

[2020-06-08 22:19] amacado commented on #68
Swap from RawGit to jsDelivr in #222, but adding alternatives is a good idea!

[2020-06-09 05:55] py563 commented on #207
it is hard to remember which icon is plain and which is original? why are they different versions. like for java icon i think you have plain but not original.

does original mean you got it form the brand's website?

[2020-06-09 08:24] amacado commented on #207
As it is written in our [CONTRIBUTING.md](https://github.com/konpa/devicon/blame/master/CONTRIBUTING.md#L21-L23):

The original versions are only available in svg format, so they do not need to be as simple and they can contain numerous colors.
Some icons are really simple (like the apple one), so the original version can be used for the icon font. In this case, I'll add an alias so they can be fo

[2020-06-09 08:24] #207 closed

[2020-06-10 12:57] RoRoche opened #223 "Icon Request: Cypress.io"

[2020-06-10 12:57] RoRoche opened #224 "Icon Request: Selenium"

[2020-06-10 12:58] RoRoche opened #225 "Icon Request: Spring"

[2020-06-10 12:58] RoRoche opened #226 "Icon Request: SpringBoot"

[2020-06-10 12:59] RoRoche opened #227 "Icon Request: Vert.x"

[2020-06-10 13:04] RoRoche opened #228 "Feature request: download the logo in your plain style"
The plain style used in result list is very nice.

cf.

[code]

I would like to download it directly?

What's about using an input to let user define the base color (here #60be86), to match his design system? Would very cool!

[2020-06-11 20:27] amacado opened #230 "Overhaul for better compatibility with bower and wiredep"
In pull request https://github.com/konpa/devicon/pull/16 some improvements for bower have been made. Since this pull request is very old and not compatible anymore a refactoring is required.

[2020-06-13 22:27] amacado opened #231 "Icon request: elastic"
https://www.elastic.co/de/brand

[2020-06-18 00:27] amacado commented on #211
Duplicate of #208

[2020-06-18 00:27] #211 closed

[2020-06-18 00:33] amacado commented on #203
The latest version (v2.3) contains ionic icons :)

[code]

[2020-06-18 00:33] #203 closed

[2020-06-18 00:35] amacado commented on #162
@caseydulong hey, i know this is an old issue and in the latest version i'm not able to confirm this bug. Can you look it up? I will close this issue for now. Feel free to open it again if bug still exist.

[2020-07-01 15:39] #161 closed

[2020-07-01 16:14] ardianta opened #240 "Icon request: Hugo"
https://gohugo.io/

[2020-07-02 08:54] weh commented on #225
see https://github.com/konpa/devicon/pull/154

[2020-07-04 10:59] amacado opened #247 "Setup SVG fixer"
**PROBLEM**: If your svg containts strokes or any tags besides a single path e.g polygon rect line etc, you will get errors when trying to convert them into fonts.

The project [oslllo/svg-fixer](https://github.com/oslllo/svg-fixer) is able to auto-correct svg's and convert `strokes` to `fill`.

[2020-07-04 15:57] amacado opened #248 "Fix missing font icons (plain/line version)"
The following icons keep missing a plain/line version and therefore not beeing displayed properly on the gh-page (see screenshot below).

- [x] clojure
- [x] clojurescript
- [x] ember
- [x] mocha
- [x] npm
- [x] redux
- [x] yunohost
- [x] bitbucket
- [x] sourcetree
- [x] confluence
- [x] ssh
- [x] twitter

![image](https://user-images.githubusercontent.com/8781699/86516301-c402c180-be1f-11ea-94ee-

[2020-07-10 22:26] HoriKyouko commented on #162
![Bug](https://user-images.githubusercontent.com/26206463/87207741-ae3b4380-c2da-11ea-8774-d4df6ade9b7c.png)
Getting the same issue. After looking at it the only thing that's rendering is the path with an explicit 'fill="9E1209"'. All the other fills have url(#a) and go all the way to #p.

[2020-07-10 22:52] amacado commented on #162
@HoriKyouko could you provide some sample code? maybe via [codepen.io](https://codepen.io/pen/)

[2020-07-11 02:24] HoriKyouko commented on #162
Here is some sample code. The first image on the left shows the code as is with the bug, the middle image highlights that what can be seen is in fact things that don't contain url(#@), @ being my replacement for any alpha character, and the right image shows all url(#@) replaced with some colors that look similar to what can be seen in the example when copying the svg from the web page. Though not

[2020-07-13 08:23] juancarlospaco opened #249 "Icon request: Nim"
- [ ] Nim https://nim-lang.org

#### Useful
- https://github.com/nim-lang/assets/tree/master/Art
- More info https://en.wikipedia.org/wiki/Nim_(programming_language)

[2020-07-13 09:03] amacado commented on #249
@juancarlospaco I've never heard of nim/nimble, can you say if those are two separated projects? Because if that's the case I would like you to create two issues, one for each.

[2020-07-13 09:08] juancarlospaco opened #250 "Icon request: Nimble"
- [ ] Nimble https://nimble.directory

#### Useful
- https://github.com/FedericoCeratto/nim-package-directory/blob/master/public/img/nimble_logo.svg
- See also https://github.com/konpa/devicon/issues/249
- More info https://en.wikipedia.org/wiki/Nim_(programming_language)

[2020-07-13 09:12] amacado commented on #250
See also #249

[2020-07-14 16:56] ganeshsundaram39 opened #251 "Icon Request: Gatsby.js"
URL: https://www.gatsbyjs.org/

[2020-07-14 18:25] amacado commented on #251
Icon can be downloaded here https://www.gatsbyjs.org/guidelines/logo/

[2020-07-24 19:23] Thomas-Boi opened #252 "Devicon Build Script"
Hello all,

I have been working on a script that would automate the build process of the icomoon.json and the fonts folder. I would like to merge it into the devicon repo so that it makes it easier to add new fonts.

**Summary**

The script would automate the tasks of using the Icomoon website. It will upload the icomoon.json, upload any svgs specified in an input.json (more on that), download the

[2020-07-27 19:02] 4u6u570 commented on #11
Tailwind CSS please! Thanks for all your work!!

[2020-07-27 21:01] amacado opened #253 "Icon requst: tailwind css"
Tailwind CSS please! Thanks for all your work!!

_Originally posted by @4u6u570 in https://github.com/devicons/devicon/issues/11#issuecomment-664580442_

Download icons:
[tailwind-css-svgs.zip](https://github.com/devicons/devicon/files/4984453/tailwind-css-svgs.zip)

[2020-07-27 21:04] amacado commented on #11
Hello @4u6u570, i created a new issue for your request. We updated our [contribution guidelines#Requesting a icon](https://github.com/devicons/devicon/blob/master/CONTRIBUTING.md#requesting-a-icon) a while ago and don't use this "global" icon request ticket anymore.

[2020-07-27 21:09] abrudz opened #254 "Icon request: Dyalog"
<img src="https://user-images.githubusercontent.com/10961427/82058016-121b0480-96bc-11ea-94c2-962b9088c86a.png" width="48">
SVG at https://github.com/devicons/devicon/files/4984419/Dyalog_icon.zip but you will want to simplify and rescale the code.

[2020-07-27 21:35] amacado commented on #252
Thank you for you contribution @Thomas-Boi, I had a look at your scripts (haven't executed them yet) and I'm having some questions/thoughts about it:
- If i got it right, then the script is used in a way where the `input.json` needs to be modified with the 'new' icons which I want to add to the collection. In my opinion this is not very intuitive, since this would lead into an additional file (`in

[2020-07-28 05:21] Thomas-Boi commented on #252
Hey @amacado,

Appreciate the feedback! I'll address your questions point by point:

*If i got it right, then the script is used in a way where the input.json needs to be modified with the 'new' icons which I want to add to the collection. In my opinion this is not very intuitive, since this would lead into an additional file (input.json) which needs to be managed as well. I would prefer a solutio

[2020-07-29 16:02] ddmasterdon commented on #251
Try this link for direct download

https://raw.githubusercontent.com/github/explore/e94815998e4e0713912fed477a1f346ec04c3da2/topics/gatsby/gatsby.png

[2020-07-29 21:59] amacado commented on #252
@Thomas-Boi it's a pleasure working with you. I would prefer if we could find a solution without the need of having to "split" the `devicon.json` into a `new` and `processed` list. In my mind we could use the `devicon.json` as it is without the need of managing two lists of "new" and "done" icons.

What to you think of parsing the [`iconmoon.json`](https://github.com/devicons/devicon/blob/master/i

[2020-07-30 01:00] Thomas-Boi commented on #252
@amacado

*What to you think of parsing the iconmoon.json and compare it's icons with the icons listed in devicon.json. The difference are our new icons which we need to add to the iconmoon selection. This way we don't have to manually keep track of new icons in a separated list (which could be confusing to new contributers).*

Unfortunately, I don't think this approach will work well in the long

[2020-07-30 09:50] #123 closed

[2020-08-03 02:38] JihunDev opened #256 "Icon request: ROS"
Official resources for icon and color:
Brand guidelines : https://www.ros.org/press-kit/
color : the color value for print is 533C and the online hex color is #22314E

[2020-08-03 08:44] amacado commented on #256
@JihunDev I like how you requested 👍🏻

[2020-08-03 08:48] Berkmann18 commented on #256
@amacado That's how SimpleIcons does it (well at least until recently).

[2020-08-03 08:51] JihunDev commented on #256
@Berkmann18 Right, I wrote in the form of a simpleicons.

[2020-08-04 22:35] amacado commented on #252
I think you underestimate the power of modern CPU's ;-) But even if it would take some time, this would not be something I worry about, since this is a build operation and not a productive task which is executed on usage. Anyway to get some numbers in I created a simple `gulp task` as an example and time measurement.

[code]

Executing this task `gulp findnew` took only around 7ms and here is the

[2020-08-05 17:13] Thomas-Boi commented on #252
Sure, I can implement something similar to your gulp task in Python. I was worried about the run time as our repo grows but if we don't mind that, I can use your approach.

Now that we are using the `devicon.json` as our main input file, I think we should discuss the types of the objects in it.

Currently, this is the format of a data object in the `devicon.json` in TypeScript notation:

[code]

H

[2020-08-06 08:56] sepsol opened #257 "Please provide a link to icons so it can be used easier inside markdowns"

[2020-08-06 09:10] sepsol opened #258 "Bug: CSS icon's text has a bug with its color"
[code]

![image](https://user-images.githubusercontent.com/47871887/89513758-39303080-d7ea-11ea-8e3a-6011f31f4d6e.png)

[2020-08-06 09:20] amacado commented on #257
Hello, I'm not sure if I got you right. Do you mean a markdown example for each icon on the https://devicons.github.io/devicon/ page? Could you provide an example?

[2020-08-06 09:22] sepsol opened #259 "Icon-Request: Please add GraphQL icon"
![image](https://user-images.githubusercontent.com/47871887/89515271-1bfc6180-d7ec-11ea-9a59-d998fe446bdf.png)

[2020-08-06 09:27] amacado commented on #258
@sepsol please provide some more information. What do you mean with "has a bug"? I also have no idea where the code you provided is from. It's not the svg code from our repo (which is displaying the icon as expected).

[code]

![image](https://user-images.githubusercontent.com/8781699/89515733-d03fbd00-d7d7-11ea-90c5-699bc6e6859f.png)

[2020-08-06 09:28] amacado commented on #258
I'm closing this issue, when you can specify the bug feel free to reopen it :)

[2020-08-06 09:28] #258 closed

[2020-08-06 09:41] amacado commented on #252
@Thomas-Boi if I got you right, then you want to replace `devicon-colors.css` and `devicon-alias.css` with an extended version of `devicon.json`? Sounds like a great idea. But we need transform the existing data into the new schema. I don't want to have multiple concepts doing the same. When you keep the `color` and `alias` in the new version of devicon.json would you generate based on this the de

[2020-08-06 10:03] amacado commented on #259
GraphQL is already requested in #209

[2020-08-06 10:03] #259 closed

[2020-08-06 18:36] Thomas-Boi commented on #252
@amacado I'm not planning to replace the `devicon-alias.css` and the `devicon-colors.css` with the `devicon.json`. The `NewDeviconObject` would be used so that the build script can add new info to these css files instead of us doing so manually.

For example, our current process to make a color font is to:
- Go into the `devicon-colors.css`
- Type in a new css selection for each colored versions

[2020-08-06 23:09] sepsol commented on #258
I'm sorry for the delay. It was my first time working with svg files, I managed to fix my problem with it. Basically there were two or more path "d"s inside the svg tag which caused the issue.

The issue was that when I copied the code for the monocolor svg version from your website and tried to change the color of the icon, the color of the "css" text remained blue and didn't change to what I ass

[2020-08-08 05:24] #163 closed

[2020-08-08 10:36] lemihack opened #260 "Icon Request: Deno"
Hy! Can you add Deno too :)

[2020-08-10 19:21] Thomas-Boi commented on #252
@amacado I just reread your comment and I think I misunderstood it as removing the alias and colors css files completely.

*When you keep the color and alias in the new version of devicon.json would you generate based on this the devicon-colors.css and devicon-alias.css and then combining them using the gulp task?*

This is a good idea. I do have some concern about the runtime as our repo goes but

[2020-08-10 20:31] amacado commented on #252
@Thomas-Boi thanks again for your input and well written thoughts. I think you answered the question yourself ;-) Yes, I was thinking about regenerating the `devicon-colors.css` and `devicon-alias.css` based on the `devicon.json` so we only need to maintain one single source of truth (exactly as you pointed out).

Looking forward to see your solution about the auto-transformation process, I curren

[2020-08-11 05:22] MerryCello opened #261 "Icon request: Clion"
https://www.jetbrains.com/clion/

[2020-08-11 05:22] MerryCello opened #262 "Icon request: Xcode"
https://apps.apple.com/us/app/xcode/id497799835?mt=12

[2020-08-11 05:49] MerryCello opened #263 "Icon request: Android Studio"
https://techcrunch.com/wp-content/uploads/2017/02/android-studio-logo.png?w=800

[2020-08-11 07:14] amacado commented on #262
See issue #176

[2020-08-14 00:22] Thomas-Boi commented on #252
Hey guys,

[2020-08-17 17:51] Thomas-Boi commented on #252
Hello all,

I would like to post an update about the devicon build script:

- The script can now find new icons by comparing the `devicon.json` and the `icomoon.json`
- For the aliases system, it checks to ensure that only the `base` version is uploaded when we are uploading to Icomoon
- The script can remove colors from the svgs using Icomoon.io. Maintainers no longer have to manually remove colo

[2020-08-19 10:40] momitrahman opened #265 "Icon Request: GraphQL"
Official logo: https://graphql.org/img/logo.svg

[2020-08-19 10:48] #265 closed

[2020-08-19 13:14] chidoriashi1990 opened #266 "Icon request: Storybook"
https://github.com/storybookjs/storybook

[2020-08-25 11:06] IoanaAlexandru opened #267 "Icon request: Dart"
With the popularization of Flutter, Dart is becoming a rather used programming language.

Example brand svg here: https://dart.dev/assets/shared/dart-logo-for-shares.png?2

[2020-08-25 11:12] amacado commented on #267
Hello @IoanaAlexandru, thanks for pointing our Dart! If you got the time feel free to take a look at [CONTRIBUTING.md#submitting-icon](https://github.com/devicons/devicon/blob/master/CONTRIBUTING.md#submitting-icon) and add this icon by yourself! :)

[2020-08-26 01:43] stevendo opened #269 "Icon request: mongoose"
![mongoose-icon](https://user-images.githubusercontent.com/4326021/91245781-4e7ae980-e71c-11ea-9e8c-fa3b003e0a56.png)
Requesting an icon for mongoose please!
https://mongoosejs.com/docs/

[2020-08-26 08:39] amacado commented on #269
Hello @stevendo, thanks for pointing our mongoose! If you got the time feel consider to take a look at [CONTRIBUTING.md#submitting-icon](https://github.com/devicons/devicon/blob/master/CONTRIBUTING.md#submitting-icon) and add this icon by yourself! :)

[2020-08-31 15:51] tobyink commented on #185
Add my vote to this.

Here's some SVG sources:

https://github.com/dnmfarrell/Perl-Icons/tree/master/Icons

I'd suggest using the onion or raptor for Perl, as the camel is a trademark of O'Reilly Media Inc. And use Camelia for Raku (the programming language formerly known as Perl 6).

[2020-09-01 20:21] amacado opened #274 "Fix directory structure for Haskell icon"
As pointed out by @Thomas-Boi in [pull request 268](https://github.com/devicons/devicon/pull/268#issuecomment-684409627) the directory structure for the `Haskell` icon does not follow our guidelines. The error was made back in the [pull request 107](https://github.com/devicons/devicon/pull/107).

Also the Haskell icon is not added into the font yet.

[2020-09-01 20:50] #274 closed

[2020-09-05 21:48] amacado commented on #65
It's interesting because on the github-page it's shown right, but once you copy and paste the provided code the dot is missing. I will investigate on this.

![image](https://user-images.githubusercontent.com/8781699/92313949-c628fe00-efd1-11ea-93ce-36ea6a5ef99d.png)

[2020-09-05 22:06] amacado commented on #65
It's caused by this line:
https://github.com/devicons/devicon/blob/7634d17cfc0a17416bb628fc1a97c4b48e7f93f4/assets/js/script.js#L110

The svg itself is fine in the /icons/ folder

[2020-09-06 20:34] mjlabe commented on #11
- C3.js (PR #282
- LabVIEW (PR #283
- Embedded C (PR #284)

[2020-09-07 05:18] amacado commented on #257
@sepsol Feel free the reopen this issue with a more detailed description.

[2020-09-07 05:18] #257 closed

[2020-09-07 05:22] amacado commented on #228
Since @RoRoche did not respond my comment I think this issue is resolved and can be closed. If not feel free to reopen it.

[2020-09-07 05:22] #228 closed

[2020-09-07 05:24] amacado commented on #165
I'm thinking of integrating the `gh-pages` branch into the `master` branch so we do not face the issue of keeping the two branches up to date anymore, any thoughs of this?

[2020-09-07 05:27] amacado commented on #158
Closing this issue cause the 'Slack' issue is tracked in #153 and the 'React' issue is tracked in https://github.com/devicons/devicon/issues/65.

[2020-09-07 05:27] #158 closed

[2020-09-07 10:20] #252 closed

[2020-09-08 06:08] Thomas-Boi opened #286 "Question on what to do to css files in the new build task."
Hey @amacado,

I would like to ask for your inputs on the generation of the css files and the branch workflow trigger.

*Quick summary*

I am currently upgrading the current `devicon.json` to a newer version that would include the `aliases` and `color` attribute (see this [pr](https://github.com/devicons/devicon/pull/268)). Beside the changes to this file, I'm also working on a new `gulp task` to

[2020-09-08 11:01] amacado commented on #286
In my opinion we should remove the `devicon-colors.css` and `devicon-alias.css` after the next generation of our build process is ready. Maybe you can introduce a option within the gulp task to not remove the css files upon building but the default setting should include the removal.

[2020-09-08 19:54] Thomas-Boi commented on #286
Ok, that sounds good to me

[2020-09-08 19:54] #286 closed

[2020-09-09 18:50] Thomas-Boi opened #287 "Discussion on how/when to merge fonts into the master branch"
Hey @amacado,

I think that we should discuss on how we are going to merge fonts into the master branch from now on. Now that we have the build system, we can do batch updates instead of single changes. However, this means that we might have conflicts when merging or we might repeat fonts already added.

Perhaps we should create another readme for merging rules. This would be useful for future col

[2020-09-10 20:50] amacado opened #288 "npm release"
We have an old published [npm package of devicon ](https://www.npmjs.com/package/devicon). I would suggest to implement npm release as enhancement to our [automated release process](https://github.com/devicons/devicon/issues/287).  I already got in contact with @konpa and I will see how we can migrate the existing npm release of devicon.

[2020-09-10 20:50] amacado commented on #287
I support your ideas of defining a new workflow and enhancing the readme with information on how to collaborate. Regarding this topic I would propose to introduce a simple gitflow, where we do not merge feature branches (new icons) directly into the `master `branch but instead a new branch called `develop`. This would solve multiple problems:

1) Currently our build action not working properly, be

[2020-09-10 21:10] amacado opened #289 "migrate gh-pages to master branch"
I would like to discuss what you guys think of migrating the `gh-pages` branch in the `master` branch and keep the public page (which is now available at [devicon.dev](https://devicon.dev/) btw.) in sync with the latest development. Currently each time a new master is released we need to update the gh-pages branch accordingly. I think it would improve our workflow to merge those branches and publi

[2020-09-11 05:36] Thomas-Boi commented on #287
I think that's a good idea. I think that will also fix the many failed build there were when people do PR :)

I can add the new rules to the CONTRIBUTING.md then (commit to develop instead of master, guide to use the build script). Besides that, I'd also like to get your feedback over how maintainers should communicate which tasks need to be done.

[2020-09-15 18:46] amacado commented on #287
@Thomas-Boi I was busy last weekend so sorry for the delay. I hope to get up the "develop" branch this evening. Besides that: What do you think would be the improvement using the projects tab (i haven't worked with it yet)? Does the pull request/issue "assign to" method does not fit or is insufficient?

[2020-09-16 00:19] Thomas-Boi commented on #287
At the time that this question is created, I forgot that we as collaborators can assign tasks. I think that's a good enough way for us to divide PRs for merging.

So from now on, do we tell font contributors to create PR to develop instead of master? Or do we pull their branch to our local machine, merge into develop then push it to remote?

[2020-09-21 17:02] tirtharajghosh opened #293 "Icon request: React-native"
### About the icon
*React Native is an open-source mobile application framework created by Facebook, Inc. It is used to develop applications for Android, iOS, Web and UWP by enabling developers to use React along with native platform capabilities. An incomplete port for Qt also exists.*
### Links
*https://en.wikipedia.org/wiki/React_Native*
### Preview
*<img src="https://upload.wikimedia.org/wikip

[2020-09-22 00:14] amacado commented on #293
@tirtharajghosh hello and welcome! :) Could you be so kind and updating your issue description with the requested information in the template? You just posted the template itself ;-)

[2020-09-22 05:59] tirtharajghosh commented on #293
The title is well-descriptive i guess.. @amacado

[2020-09-22 07:51] amacado commented on #293
@tirtharajghosh thanks for updating! 👍🏻

[2020-09-22 07:53] amacado commented on #293
I'm not as deep into React (native) as you are, but please can you take a look at our existing icon "react" and clearify what the differnce to the react-native logo is? They look kinda similiar.

![image](https://user-images.githubusercontent.com/8781699/93856510-68770000-fcb9-11ea-9b38-6f116fdd6550.png)

[2020-09-23 04:25] tirtharajghosh commented on #293
Sadly they are same. But they represent different fields of expertise. So it would be great if there is a word mark icon for react native.

[2020-09-23 13:34] eevleevs opened #295 "Icon request: Jupyter"
### About the icon
Jupyter is a popular tool to write python notebooks, with its own file format based on JSON.
In an app offering to download both plain Python code and notebook, I would use the two relative icons to choose.
### Links
https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png
### Preview

[2020-09-24 23:29] ewliang commented on #138
:/

[2020-09-25 13:21] trisnieto opened #298 "Icon resize"
Hi everyone!

does anyone know how to resize a icon if you use the font?

I do this: <i class="devicon-java-plain-wordmark"></i> and the icon is showing but very small.... When I searched on the internet how to resize I found that setting the font-size would work but it doesn't work for me...

Anyone any ideas?

thanks in advance!

[2020-09-25 13:32] #298 closed

[2020-09-25 13:32] trisnieto commented on #298
Issue closed because I found the solution

[2020-09-29 20:58] clemensbastian opened #299 "testing new issue"

[2020-09-29 20:59] #299 closed

[2020-09-30 02:35] #287 closed

[2020-09-30 02:37] Thomas-Boi opened #300 "On the new workflow and pull request standards"
Hey everyone,

So @amacado and I discussed with other on how the branches and build icons will work from now on. Below is what we talked about and the decisions that we arrived at. If anyone has any further inputs on how the build script should work, feel free to leave a comment below this post.

**Our Discussions:**
* Creating a new `develop` branch.
  * Currently, the build script can’t push loc

[2020-10-04 09:14] Mayank-Khurmai opened #302 "Icon request: [Tailwind css]"
<?xml version="1.0" encoding="UTF-8"?>
<svg width="256px" height="154px" viewBox="0 0 256 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
    <defs>
        <linearGradient x1="-2.77777778%" y1="32%" x2="100%" y2="67.5555556%" id="linearGradient-1">
            <stop stop-color="#2298BD" offset="0%"></stop>

[2020-10-04 09:14] Mayank-Khurmai commented on #302
<?xml version="1.0" encoding="UTF-8"?>
<svg width="256px" height="154px" viewBox="0 0 256 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
    <defs>
        <linearGradient x1="-2.77777778%" y1="32%" x2="100%" y2="67.5555556%" id="linearGradient-1">
            <stop stop-color="#2298BD" offset="0%"></stop>

[2020-10-04 09:47] amacado commented on #302
Hello @Mayank-Khurmai, tailwind css was already requested in #253

Feel free to comment/bump/solve this existing issue! :)

[2020-10-04 09:47] #302 closed

[2020-10-04 15:25] samr28 opened #303 "Icon request: Bash"
### About the icon
Bash is a super common tool and it'd be great to have a little icon for it. There are already some very nice SVGs that could be used (linked below).
### Links
SVG: https://bashlogo.com/
### Preview
![image](https://user-images.githubusercontent.com/3688992/95019594-3a3bdd80-0634-11eb-8fac-8b68daa245a1.png)

[2020-10-08 21:46] tariq86 opened #306 "Icon request: Jenkins"
### About the icon

[Jenkins](https://www.jenkins.io/) is a very popular open source automation server, commonly used for CI/CD.

### Links

The main Jenkins website has a whole artwork section [here](https://www.jenkins.io/artwork/), which has a link to a SVG of the official logo: https://www.jenkins.io/images/logos/jenkins/jenkins.svg

### Preview

![Jenkins](https://www.jenkins.io/images/logos/

[2020-10-08 21:48] tariq86 commented on #306
It looks like this icon was requested a while ago in #121 along with a few other logos; I opened this to request/track Jenkins only.

[2020-10-09 06:35] amacado commented on #306
@tariq86 thanks for creating a new issue. It's correct to create a new one, since we want to have each icon request in a separated issue 👍🏻

[2020-10-09 16:41] edwintrumpet opened #308 "Icon request: Gatsby"
### About the icon
Gatsby is a very popular frontend framework that uses ReactJS to build powerful SPAs
### Links
- Oficial website of Gatsby https://www.gatsbyjs.com/
- Guidelines and logo https://www.gatsbyjs.com/guidelines/logo/

### Preview
![Gatsby](https://dominicode.com/wp-content/uploads/gatsbyjs_introduccion.jpg)

[2020-10-09 17:00] amacado commented on #251
Closing this issue in favor of #308 (this issue containing more information in the issue description)

[2020-10-09 17:00] #251 closed

[2020-10-09 17:01] amacado commented on #172
Closing this issue in favor of #308 (this issue containing more information in the issue description)

[2020-10-09 17:01] #172 closed

[2020-10-09 17:02] amacado commented on #308
Gatsby was requested several times before, I use this issue to clean up so we only have one active issue regarding Gatsby! :)

[2020-10-09 20:09] cilerler opened #310 "Icon request: RabbitMQ"
### About the icon

RabbitMQ is an open-source message-broker software (sometimes called message-oriented middleware) that originally implemented the Advanced Message Queuing Protocol (AMQP) and has since been extended with a plug-in architecture to support Streaming Text Oriented Messaging Protocol (STOMP), MQ Telemetry Transport (MQTT), and other protocols.[1]

The RabbitMQ server program is wri

[2020-10-12 07:08] alxayeed opened #319 "Icon request: Tailwind CSS"
### About the icon
Tailwind CSS is a utility first, highly customizable, low-level CSS framework that gives you all of the building blocks you need to build bespoke designs without any annoying opinionated styles you have to fight to override
### Links
https://tailwindcss.com/
https://www.vectorlogo.zone/util/preview.html?image=/logos/tailwindcss/tailwindcss-icon.svg
### Preview
![tailwind](https:

[2020-10-12 23:20] Thomas-Boi opened #321 "Issue with GitHub Actions's Opening PR step"
Hello all,

I have discovered three bugs with our current build scripts.

What I found:
1. The checkout action couldn't check out a branch from a different repo. This is fixable by specifying a repository argument.
![image](https://user-images.githubusercontent.com/43018778/95796631-406c3280-0ca2-11eb-8f62-f6090ad62d56.png)

2. The PR action couldn't open a PR into a branch from a different repo.

[2020-10-13 11:05] amacado commented on #253
Closed in favor of more detailed #319

[2020-10-13 11:05] #253 closed

[2020-10-14 23:04] amacado commented on #321
I would suggest we start with proposed solution 1 "We would open a new PR to the develop branch instead of the contributor's branch" and after this works we can work on the more advanced solution 2 "We create a new workflow.." (which I would prefer since it's a cleaner solution imo)

[2020-10-15 07:11] Thomas-Boi commented on #321
That sounds good for me. Solution #2 can be put in a backlog and we can implement that at a later date. I'll start working on solution 1 until then

[2020-10-15 07:11] #321 closed

[2020-10-16 11:55] straumat commented on #167
+1

[2020-10-17 14:13] JohnBerd commented on #167
+1

[2020-10-17 15:01] dylanbuchi opened #326 "Python SVG Icons Not Working"
Hello, so the SVG versions of the Python icon are not working. I tested all of them and they aren't showing in my browser.

[2020-10-18 12:25] amacado commented on #326
I can confirm there is an error with the svg versions of `python-original` and `python-original-wordmark`.
This is actually caused by our method of showing the svg-code based on the original svg file in the `icons/` dir. In this case it will remove the following lines which then leads to an error when displaying the icon:
[code]
Used by this `<path>` for displaying the svg
[code]

The fix can be p

[2020-10-18 18:04] Thomas-Boi commented on #326
Is there anyway to fix this in the code base?

[2020-10-18 18:07] Thomas-Boi commented on #289
I can start working on a new GitHub workflow for updating the `gh-pages`/`master` after we finish with the build script. I can also help with migrating the `gh-pages` over to the `master` branch.

[2020-10-18 18:12] amacado commented on #326
Yeh, should be possible.. I can remember I tried it some weeks ago but had not the time to complete it.. I will have a look at it

[2020-10-18 19:08] Thomas-Boi commented on #248
Everything has been fixed. There are two special cases: npm and ember. They only have 1 SVG and while those are colorful, they are also used as icons. This is possible because Icomoon can actually strip colors from SVGs.

[2020-10-18 19:16] Thomas-Boi commented on #247
Hey @amacado ,

Do you still need any help with this? I can make another script that use the above repo to fix icons if need ("bot:fix" maybe)?

[2020-10-18 19:17] #230 closed

[2020-10-18 19:18] Thomas-Boi commented on #288
I can lend a hand with making a script as well. There are a lot of [actions](https://github.com/marketplace?type=actions&query=npm) on the Marketplace that we can use.

[2020-10-18 19:22] Thomas-Boi commented on #43
Hello @iamclaytonray ,

I'll be helping out with this issue. We now have a new format for the `devicon.json` so our approach would be a bit different.

[2020-10-18 19:24] amacado commented on #288
sure, go ahead! 👍🏻

[2020-10-18 19:24] amacado commented on #247
feel free! 👍🏻

[2020-10-18 19:51] Thomas-Boi opened #327 "Alias for the icon name to accomodate technologies being renamed"
Hello all,

I've been going over old issues. [One of them](https://github.com/devicons/devicon/issues/43) involves creating alias for the name of technology because they got renamed. I think that this is a necessary feature to accommodate future changes or different naming scheme (`dot-net` and `dotnet` for example).

Here is a `devicon.json` object that we have:
[code]

Based on this current inte

[2020-10-18 19:56] #65 closed

[2020-10-18 21:59] amacado commented on #144
As I can see this issue seems to be fixed

[2020-10-18 21:59] #144 closed

[2020-10-18 23:08] Thomas-Boi opened #329 "New Build Workflow Trigger"
Hey everyone,

Recently, we have introduced a new workflow to the repo. Instead of building the icons, this script will only take a screenshot of the icons after they are uploaded to icomoon.io. This "peek" script will help us decide whether to merge a PR into the repo.

However, since we now have this script, the current build script's trigger is weird. If we continue using the current build scri

[2020-10-18 23:10] #162 closed

[2020-10-18 23:10] #326 closed

[2020-10-18 23:10] #63 closed

[2020-10-18 23:16] Thomas-Boi commented on #300
I will be closing this issue. However, if anyone would like to discuss it, feel free to open another issue referencing this one.

[2020-10-18 23:16] #300 closed

[2020-10-18 23:16] #306 closed

[2020-10-18 23:17] #208 closed

[2020-10-18 23:24] Thomas-Boi commented on #127
Hello,

I checked the logo and everything seems fine. Can you double check and see if the error is fixed?

[2020-10-19 04:42] Clareapumami opened #330 "Icon request: Woocommerce"
### About the icon
I want to list my skills on my portfolio website using icons. I came across devicon because I was looking for a complete icon set that included Woocommerce. Funny enough, I saw everything else I needed except Woocommerce. It would be nice if you included it in the future.

[2020-10-21 16:12] DheerajMahra opened #332 "Icon request: Styled-components"
### About the icon
Most popular CSS-in-JS library now. Many devs including me, want to use the icon.
### Links
Official website: https://styled-components.com
github: https://github.com/styled-components/styled-components

[2020-10-21 19:33] amacado commented on #327
Thanks for the good ideas on this topic.
In my opinion having `aka` and `aliases` according to your first idea seems pretty confusing. Could you help me with understanding

I like the second approach more since i think it's more intuitive, although I'm not very happy with having a growing model in our `devicon.json `. It gets more and more complex and harder to maintain, specially for new contribu

[2020-10-21 19:42] amacado commented on #329
I think it's ok to trigger the build script manually since it's not a big deal. As long it's documented in the `CONTRIBUTING.md` we should be fine for the moment.

I really like the bot:peek command, although it seems to [fail at the moment](https://github.com/devicons/devicon/pull/331) :-)

[2020-10-21 19:48] Thomas-Boi commented on #329
Yeah, this is due to the comment bot that I wanted to add to the peek script 😅

I'm removing it from the peek script in my next push. I'll also add the manual trigger to the build script and update the CONTRIBUTING.md

[2020-10-21 19:50] amacado commented on #329
Do you think it's possible to get the comment bot to work properly? This would be very handy! :heart:

[2020-10-21 19:59] Thomas-Boi commented on #329
So I just double check the error. It seems like there's an issue on the Actions side and not from us. I'll comment out the code for the comment bot for now and I'llre check in the future in case it gets resolved.

I also opened an issue on their repo as well.

[2020-10-21 21:29] Thomas-Boi commented on #327
So some libraries have multiple names and I don't think it's necessary to make an alias for it. One, most people will know to try searching for the other alias. Two, when they use our site to search for the icon, they will see an icon regardless of what name they use.

For example, `angular` is also known as `angularJS`. If someone were to search for the icon `angularJS` in the repo, the `angular`

[2020-10-23 14:08] kLabz opened #334 "Icon request: Haxe"
### About the icon

Haxe is a programming language, and having its icon in devicons would allow Haxe icon to be used alongside other programming languages icons in developer tools using devicon.

### Links
* https://haxe.org/
* https://github.com/HaxeFoundation/haxe
* https://haxe.org/foundation/branding.html

### Preview
![](https://haxe.org/img/branding/haxe-logo-glyph.png)

[2020-10-25 22:48] #329 closed

[2020-10-26 23:01] stonymahony opened #341 "Icon request: NestJS"
### About the icon
Very popular and emerging framework with over 31k GitHub stars and about 400,000 monthly downloads on npm.

### Links
* [website](https://nestjs.com/)
* [svg logo](https://d33wubrfki0l68.cloudfront.net/e937e774cbbe23635999615ad5d7732decad182a/26072/logo-small.ede75a6b.svg)
### Preview
![logo](https://d33wubrfki0l68.cloudfront.net/e937e774cbbe23635999615ad5d7732decad182a/26072/lo

[2020-10-28 08:07] saranmahadev opened #344 "Icon request: Azure Cloud, Google Cloud"
### About the icon
Azure Cloud and Google Cloud are major Cloud Services in the Market
### Links
Google Cloud - https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Google_Cloud_Logo.svg/1280px-Google_Cloud_Logo.svg.png
Azure Cloud  - https://www.logo.wine/a/logo/Microsoft_Azure/Microsoft_Azure-Logo.wine.svg

[2020-10-28 10:03] amacado commented on #344
Hello @saranmahadev, would you be so kind and separate those requests into two issues? (see our [CONTRIBUTING.md](https://github.com/devicons/devicon/blob/master/CONTRIBUTING.md#requesting-a-icon))
I'm closing this issue, but feel free to reopen it once you modified it.

[2020-10-28 10:03] #344 closed

[2020-10-28 11:31] AdamTCarroll opened #345 "Icon request: Unity"
### About the icon
Unity Game Engine logo
### Links
https://fontawesome.com/icons/unity?style=brands
### Preview
https://www.google.com/search?q=unity+game+engine+logo&tbm=isch&ved=2ahUKEwi8hoG0l9fsAhX2XhUIHa0SCCEQ2-cCegQIABAA&oq=unity+game+engine+logo&gs_lcp=CgNpbWcQAzIECCMQJzICCAAyBggAEAUQHjoECAAQGDoGCAAQCBAeOgQIABAeUOsKWJgZYLMaaAFwAHgAgAFPiAHsA5IBATmYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&e

[2020-10-28 12:04] AdamTCarroll opened #346 "Icon request: Unreal Engine"
### About the icon
Unreal Engine (Game Engine)
### Links
https://www.google.com/search?q=unreal+engine+logo&tbm=isch&ved=2ahUKEwiUw42sndfsAhX6XxUIHUlTAxkQ2-cCegQIABAA&oq=unreal+engine+logo&gs_lcp=CgNpbWcQAzIECAAQQzIECAAQQzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAUL4dWIslYLUmaAFwAHgAgAFCiAH_ApIBATaYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=GFyZX5TXGPq_1fAPyaaNyAE&bih=1321&biw=1375&rlz=1C1CHBF_

[2020-10-28 12:11] AdamTCarroll opened #347 "Icon request: Jira"
### About the icon
Jira Project management service, used by many software development companies.
### Links
https://www.google.com/search?q=jira+icon&tbm=isch&ved=2ahUKEwjQ3dePoNfsAhUbWBUIHSOrDxAQ2-cCegQIABAA&oq=jira+icon&gs_lcp=CgNpbWcQAzIECAAQQzIECAAQQzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAOgQIIxAnOgUIABCxA1C2nwFYkqYBYOqoAWgAcAB4AIABUogB8wOSAQE5mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=A

[2020-10-28 12:17] AdamTCarroll opened #348 "Icon request: Jenkins"
### About the icon
Jenkins is an opensource automation server commonly used for build engineering / automation.
### Links
https://www.google.com/search?q=jenkins+logo&rlz=1C1CHBF_enIE832IE832&sxsrf=ALeKk03RfoHSStAIhmQlYcJevCDGRtOStg:1603887394994&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjEn8CTotfsAhWCtXEKHQhiA_wQ_AUoAXoECAcQAw&biw=1375&bih=1264
### Preview
https://fontawesome.com/icons/jenkins?style=b

[2020-10-28 12:25] AdamTCarroll opened #349 "Icon request: Selenium"
### About the icon
Selenium, Used in automation typically for web applications
### Links
https://www.google.com/search?q=selenium+logo&rlz=1C1CHBF_enIE832IE832&sxsrf=ALeKk00CptbuPcq9gy73-_O-iuTuYnFlFg:1603887822679&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiupLjfo9fsAhWysHEKHSBtCx8Q_AUoAXoECAcQAw&biw=1375&bih=1264
### Preview
<img width="913" alt="Selenium_Logo" src="https://user-images.githubuserconte

[2020-10-28 12:36] AdamTCarroll commented on #348
didn't realize jenkins had already been requested.
Closing issue

[2020-10-28 12:36] #348 closed

[2020-10-28 12:37] AdamTCarroll commented on #349
didn't realize selenium has already been requested.
Closing.

[2020-10-28 12:37] #349 closed

[2020-10-29 13:28] thrnkk opened #351 "Icon request: HackerRank"
### About the icon
can be used to personal websites.
### Links
https://fontawesome.com/icons/hackerrank
### Preview
![image](https://user-images.githubusercontent.com/60141339/97579900-64818080-19d1-11eb-94a1-8177c2a1363d.png)

[2020-10-29 20:01] amacado commented on #351
I'm not sure if this matches the goal for this icon kit. Why you think it would fit in?

[2020-10-30 11:13] thrnkk commented on #351
It already has 'facebook' and 'twitter' logos for example, I was thinking it could fit with them.

[2020-10-30 15:19] amacado commented on #351
@thrnkk thats a good point. In my opinion facebook and twitter also not fulfilling the idea of this repository, but as already mentioned we should clearify what this iconset is about @konpa @Thomas-Boi

[2020-10-30 16:59] Thomas-Boi commented on #351
Hmm, this is a hard one to figure out. I do wonder why we have Facebook and Twitter in our repo in the first place. My thoughts are that they are famous tech companies who developed a lot of tech development (Facebook has React and GraphQL while Twitter created Bootstrap). However, that opens to the door to Netflix (ChaosMonkey) and Atlassian (CI/CD tools).

How about this? We will open a discussi

[2020-10-30 17:58] Thomas-Boi opened #353 "Discussing what types of icons should be available in Devicon."
Hello guys,

We would like to ask all of you to help us narrow down the goals of Devicon. Currently, we think that the definition is too broad and sometimes, we don't know whether an icon belongs to our repo.

Here is Devicon's current definition:

Also, our name Devicon is "dev icon" shorterned together :). Basically, this means that we want icons that focuses on technological development languag

[2020-10-30 18:22] Thomas-Boi commented on #353
Here are my thoughts on the above questions:

Yes, I think we should. While programmers might not directly use these tools, we might use the products created by these tools. Also, a lot of tech jobs closely collaborate with "semi-tech" jobs, like web designers. I feel that these closely coupled jobs are a part of the tech industry too and their tools can be a part of Devicon.

For example, in web

[2020-10-30 20:21] ezSaldana commented on #353
I've contributed with some icons and have been in this discussion before, in my opinion:

As a full stack web developer focused on front end, i think that at least the ones i've added, belongs to `Devicon`, because i've used them at least a couple of times in my job. As @Thomas-Boi mentions, it's tricky sometimes to know which ones accomplish with the goals of the brand, but as far as they are use

[2020-10-30 21:11] joshminnie commented on #353
My 2¢

I think that's a really hard line to draw, if you do accept them. There are other alternatives that are doing something similar to what devicons does (like [simpleicons](http://simpleicons.org/)).

There are probably a lot more here than it's worth keeping up with, keep the focus narrow and you have more time to spend on what really matters to deliver quality (which by the way, I think you'

[2020-10-31 13:43] Misly16 opened #354 "Icon request: Svelte"
### About the icon
Svelte is a great web framework for building websites that is growing in popularity
### Links
https://svelte.dev/svelte-logo-outline.svg
https://github.com/sveltejs/branding
https://svelte.dev/
https://upload.wikimedia.org/wikipedia/commons/1/1b/Svelte_Logo.svg
### Preview
![image](https://user-images.githubusercontent.com/60405462/97780833-f7135280-1b7e-11eb-9626-9ce61da93304.p

[2020-11-03 07:36] tariq86 opened #355 "Icon request: Composer"
### About the icon

Composer is ~a~ _the_ dependency manager for PHP

### Links

[Official site](https://getcomposer.org/)

### Preview

![Composer Icon](https://getcomposer.org/img/logo-composer-transparent.png)

[2020-11-03 19:20] Thomas-Boi commented on #289
Hi all,

I'm looking into migrating the gh-pages over to the main branch.
Here is what I'm planning to do:
-Bring main up to date to develop
-Add a /docs folder into the main branch which contains all the files that are currently in gh-pages. Remove the devicons.git reference
-Change the url for the devicon.json in the assests/js/script.js so it points to the devicon.json in the main branch

Then

[2020-11-03 19:20] #289 closed

[2020-11-05 10:34] alexander-nitsche opened #357 "Icon request: TYPO3"
### About the icon
TYPO3 CMS is an Open Source Enterprise Content Management System with a large global community.
### Links
[Official website](https://typo3.org/)
### Preview
![typo3-original svg](https://user-images.githubusercontent.com/20297232/98234323-90b47880-1f60-11eb-838f-85be333c3a7e.png)

[2020-11-06 10:39] #357 closed

[2020-11-06 11:34] amacado commented on #353
I appreciate the discussion since this is a community driven project. As previous participants of this discussion pointed out it's pretty hard to draw the line since you could say that any tool you are using when you develop software (web, mobile, desktop, ,...) is a "software development tool". If you bring it to the extrem: A whiteboard in your office could be seen as a "related product for soft

[2020-11-06 18:57] Thomas-Boi commented on #353
Hi all,

I'm very glad to see everyone's thought on this discussion so far. They are essential to Devicon and it helps maintainers like us to make this repo better for everybody :)

So far, here are the things that stood out to me based on the current discussion:

* Programming languages of all kinds are OK. I think Matlab, R, and even Racket should belong in our repo (no disrespect to those langu

[2020-11-09 02:43] arashnrim opened #359 "Icon request: Android"
### About the icon
The Android icon is already existing in Devicon, but Android had a re-design in 2019 that changed the main logo.

Instead of having the full Android body in display, the new design only involves the head of the Android with minor tweaks (i.e., colour and location of eye dots).

### Links
- [A pop of color and more: updates to Android’s brand](https://www.blog.google/products/and

[2020-11-09 14:57] alexander-nitsche opened #360 "Icon update: TYPO3 (viewbox dimensions)"
### About the icon
The logo of TYPO3 has already been added to the font set in issue #357 but we had to rework the dimensions of the logo within the viewbox of 128 x 128.
### Links
[Official website](https://typo3.org/)
### Preview
![typo3-original svg](https://user-images.githubusercontent.com/20297232/98557120-18bdb980-22a4-11eb-9db0-800b0997919b.png)

[2020-11-11 07:23] zkevinbai opened #362 "Font versions of Redux, npm and more not working"
The redux font icon, along with npm, ember, clojure, and clojurescript are not working.

[2020-11-11 10:53] amacado commented on #362
Duplicate of https://github.com/devicons/devicon/issues/248. Should be already fixed (not released yet in master branch)

[2020-11-11 10:53] #362 closed

[2020-11-16 15:41] leroyuk1983 opened #363 "Datatables"
Datatables logo

Image: https://commons.wikimedia.org/wiki/File:Datatables_logo_square.png

[2020-11-18 12:31] VisualBean opened #364 "[ICON REQUEST]: PowerShell"
### About the icon
Its PowerShell..
### Links
https://docs.microsoft.com/en-us/powershell/scripting/overview?view=powershell-7.1
### Preview
*If available, provide some images of the icon you would like to be added*
![image](https://user-images.githubusercontent.com/5294032/99530958-50aeb600-29a2-11eb-9e40-0889c77551ed.png)

[2020-11-18 22:03] #360 closed

[2020-11-18 22:04] amacado commented on #167
Flutter is added, please open a new request for JestJs

[2020-11-18 22:04] #167 closed

[2020-11-20 22:46] cprodhomme opened #366 "Icon request: Scalingo"
### About the icon
i want to implemente this logo in my project because it's a PAAS like Heroku.

### Links
https://scalingo.com
you can find the mediakit here : https://scalingo.com/mediakit.zip

### Preview
<img width="148" alt="Capture d’écran 2020-11-20 à 23 43 19" src="https://user-images.githubusercontent.com/7428736/99856862-346d6d80-2b8a-11eb-98c0-631dc548a02e.png">

<img width="210" alt

[2020-11-21 20:06] yusuf8ahmed opened #367 "Icon request: WebAssembly/WASM"
### About the icon
*Short description why you think this icon is matching in our project*
The newest addition to the web environment (HTML, JS, CSS, WASM)
### Links
The official winner of the WebAssembly logo competition
https://github.com/carlosbaraza/web-assembly-logo
### Preview
<img src="https://raw.githubusercontent.com/carlosbaraza/web-assembly-logo/master/dist/icon/web-assembly-icon.png" he

[2020-11-26 14:46] wRadion opened #368 "Icon request: F# (fsharp)"
### About the icon
F# is the functional programming language of the .NET platform.

### Links
https://en.wikipedia.org/wiki/F_Sharp_(programming_language)
https://fsharp.org/

### Preview
![F#Logo](https://upload.wikimedia.org/wikipedia/commons/5/57/Fsharp_logo.png)

[2020-11-26 20:11] andys8 opened #369 "Icon request: PureScript"
### About the icon

PureScript is a functional programming language. You might compare it to Haskell or Elm which are both included in the icon set.

### Links

Repository with Logo and Sources: https://github.com/purescript/logo

### Preview

![image](https://user-images.githubusercontent.com/13085980/100388758-cc0c0980-302b-11eb-88e2-3932537bd80c.png)

![image](https://user-images.githubusercont

[2020-11-28 07:02] TheFoxarmy opened #370 "Icon request: SocketIO"
### About the icon
*This is a popular and very simple Web Socket framework for building realtime applications such as games or chat apps.*
### Links
https://socket.io/
### Preview
SVG
![SVG](https://www.vectorlogo.zone/logos/socketio/socketio-icon.svg)

[2020-12-06 20:04] BenSouchet opened #373 "Issue : Mismatch with Github icon class name between devicon.dev and devicon.min.css"
Hi,
On the website (https://devicon.dev/) when I search for Github icon I get the follow icon class name : ```<i class="devicon-github-plain"></i>``` but if I download the repo and do a manual installation on my website the correct icon class name for Github is ```<i class="devicon-github-original"></i>```

```devicon-github-plain``` doesn't work, at least on my installation with the icons font.

[2020-12-07 21:19] amacado commented on #373
Hello @BenSouchet and thanks for the report. I can confirm the issue (see this https://jsfiddle.net/t4nqmkjx/) and proposing a fix in the linked pull request.

[2020-12-07 21:48] BenSouchet commented on #373
@amacado Perfect, this fix the issue 🙂

[2020-12-07 22:28] amacado commented on #373
I will reopen this issue until it's resolved and published and the pull request is accepted.

[2020-12-08 21:39] #353 closed

[2020-12-08 22:54] amacado opened #377 "github action 'Build icons' not working as intended"
The `build icons` action does not create a new branch (and pull request). I assume it's missing a `git add` and `git commit` step? Maybe @Thomas-Boi can have a look at it?

![image](https://user-images.githubusercontent.com/8781699/101551028-a4645c00-39b0-11eb-96bc-a3b044937cfd.png)

[2020-12-09 05:38] Thomas-Boi commented on #377
That's strange. According to the Action's documentation, the `branch` parameter is to specify a branch to commit to. Let me double check and see what's happening.

[2020-12-09 07:26] Thomas-Boi commented on #377
I found the issue. There's something going wrong with the css generation script:
![image](https://user-images.githubusercontent.com/43018778/101598163-98769b00-39ac-11eb-8c0e-9934ea13c10e.png)

This is interesting considering there is a composer-original font in the repo. I think there might be some issue with the `devicon.json`. I'll look more into it and see what I can find.

[2020-12-11 21:35] Thomas-Boi commented on #377
While I was fixing this issue in PR #378,  I found a couple of interesting issues:

1. I found that the create-pr-action would not create a commit if there's no change. This means that both the build icon step and the build css step failed, which was actually what happened.

2. For the build icon step, I found out that the CSS selector I used for Selenium was failing so I have to find new ways to

[2020-12-11 23:34] matthiasbaldi opened #380 "Icon request: node-red"
### About the icon
Node-Red is one of the most used smart home/home automation frameworks.
And because it is part of the OpenJS foundation it also matches into this project.

### Links
- NodeRed Page: https://nodered.org
- Logo Link: https://nodered.org/about/resources/media/node-red-icon.png

### Preview
See link above.

Thank you for this amazing project :)

[2020-12-12 00:56] AliF50 opened #381 "Plain and Original class name mismatch"
Hello,

I believe there is an issue with SourceTree, GitHub and BitBucket original and plain naming convention for colored variants. I will give GitHub as an example

I saw in a previous issue that github went from `devicon-github-plain` to `devicon-github-original` which is fine but shouldn't line 1296 of devicon.min.css be changed from `.devicon-github-plain.colored, .devicon-github-plain-wordma

[2020-12-12 01:10] Thomas-Boi commented on #377
Regarding the reverted change: I merged it by accident thinking that it has your approval. However, I realize that you said it's not tested so I reverted it. You can still test the PR though so no problem.

[2020-12-12 03:44] amacado commented on #377
Your code looks fine, i have no worries to merge it. So I reverted your revert and then released it in the master. Let's see if the build now succeeds *fingers crossed*

[2020-12-12 04:01] amacado commented on #377
Looking good! I will manually release a new `gh-pages` branch with the updated icons this weekend so we can see them in the new [release v2.7](https://github.com/devicons/devicon/releases/tag/v2.7).

[2020-12-12 04:01] #377 closed

[2020-12-12 04:27] amacado commented on #373
fix in release https://github.com/devicons/devicon/releases/tag/v2.7

[2020-12-12 04:27] #373 closed

[2020-12-12 04:38] amacado commented on #248
I will reopen this issue, since some icons are still missing (updated the list on top of this issue)

[2020-12-12 04:39] amacado commented on #381
Hello @AliF50, you're right! And therefore it's already changed in the newest release v2.7! See the updated `devicon.min.css `. This is done automatically by our build process.

Regarding SourceTree and BitBucket: The font versions for this icons are broken. See this issue: https://github.com/devicons/devicon/issues/248

If you're ok with it, I will close this issue :)

[2020-12-12 04:39] #381 closed

[2020-12-13 11:29] kevinjoseph61 opened #393 "Icon request: Firebase"
### About the icon
Firebase is an emerging technology by Google which I think would be good to have in devicons
### Links
https://www.gstatic.com/devrel-devsite/prod/vf7e3a995d426e05d42b78fc7d21a14329a91016dc065dc22c480cc8f443ef33e/firebase/images/touchicon-180.png
### Preview
*If available, provide some images of the icon you would like to be added*

[2020-12-14 15:57] #351 closed

[2020-12-15 06:33] Thomas-Boi commented on #248
I made a mistake regarding the icons. Turns out that while some icons are missing svg files, others have the wrong data entered into the `devicon.json`.

For example,
![image](https://user-images.githubusercontent.com/43018778/102179302-bedc8080-3e5b-11eb-9cc2-e029a6504c06.png)

Twitter has a "plain" version listed. However, in the folder, there is only an "original" version. Updating it to "origi

[2020-12-15 06:37] Thomas-Boi commented on #112
Hello there,

This issue has been fixed in one of our recent commits. Thank you for letting us know of this issue and I hope that the new sizing is what you are looking for.

Cheers,
Thomas

[2020-12-15 06:37] #112 closed

[2020-12-15 06:41] Thomas-Boi commented on #111
Hello there,

I am reasonably sure that all of these issues have been fixed. I have been unable to find svgs that lack colors so I'll be closing this issue for now. If anyone spot anything new, please let us know.

Cheers,

[2020-12-15 06:41] #111 closed

[2020-12-15 06:43] Thomas-Boi commented on #127
Hi,

I'll be closing this issue. It seems to have been fixed.

Cheers,

[2020-12-15 06:43] #127 closed

[2020-12-15 07:40] amacado opened #395 "Auto-Update latest version (tagging) in GitHub Page (including CDN link)"
When a new version is beeing released it should auto update the version number which is shown on the GitHub page. Currently it has to be updated manually. I would also suggest to update the CDN links for pointing to a specific version instead of the `master` branch. This is recommended as best practices because when someone uses the CDN it should not be "auto updated" in the background which could

[2020-12-15 07:41] amacado commented on #395
I will work on this issue in the upcoming week.

[2020-12-15 12:30] r3nanp opened #397 "icon request: Next.js"
### Next.js Icon
*Next is a consolidated framework for React, I would love to see this icon here :)*
### Links
*Provide helpful links which can be used to take a deeper look into the icon and provide, if available, some resources (svg's) where the icon can be found*

[Next site](https://nextjs.org/)

<img src="https://camo.githubusercontent.com/4509a0e669bbbe7310edec5533ace738503462c41b63bda2a6a2f

[2020-12-20 22:49] ahmedfaaid opened #399 "Icon request: Twitter"
### About the icon
A logo icon of the Twitter bird.

There seems to be an issue with a few of the icons not showing up. One of them is the Twitter icon. I have attached an image of what it looks like on the website.

I am not sure if this is a known issue. If it is please let me know and I will delete this issue.

### Links
[Twitter](https://twitter.com)

### Preview
![twitter-icon](https://user-i

[2020-12-21 10:25] amacado commented on #399
Hello @ahmedfaaid, there is already an issue (https://github.com/devicons/devicon/issues/248) and a pull request (currently in draft) solving this issue https://github.com/devicons/devicon/pull/396

[2020-12-21 10:25] #399 closed

[2020-12-27 18:31] rawdanowiczdev opened #400 "Change icon CSS classes to fill attribute"
Hello all,
I've been using SVG icons in my portfolio and I encountered a problem with inconsistency of color filling. Most of the icons are properly styled with `fill` attribute but some of them use CSS classes `.cls-1`, `.cls-2` and so on. It creates a scope problem and each next icon using CSS classes overdrives color of the previous ones.

**A bad example (npm icon)**

[code]

**After improveme

[2020-12-28 17:52] amacado commented on #400
Hello @rawdanowiczdev! You absolutely have a point here. Those "inline css classes" are not very pretty (and have some other problems too - which we have fixed in some workarounds). If you have the time feel free to improve them and create a pull request. I would highly appreciate it!

[2020-12-29 14:53] rawdanowiczdev commented on #400
Thanks for your reply! I'll be glad to do so. Currently I have quite a lot of time so you can expect PR before the end of this year.

[2020-12-29 20:49] Thomas-Boi commented on #400
Hey @amacado,

This is an interesting problem and I'm glad @rawdanowiczdev noticed it. I think we will need to check for this issue in future PRs, either manually or using a script.

What do you think? Should we just do it manually or using a script? Since GitHub allow us to modify files in a PR it might be easier and quicker to just do it manually. Although that means we must leave documentations

[2020-12-29 21:43] EnisMulic opened #404 "Icon request: NHibernate"
### About the icon
NHibernate is an object-relational mapper for the .NET framework
### Links

[WebSite](https://nhibernate.info/)
[Logo](https://github.com/nhibernate/nhibernate-core/blob/master/logo/NHibernate-logo.svg)
[NuGet Package Logo](https://github.com/nhibernate/nhibernate-core/blob/master/logo/NHibernate-NuGet.png)

[2020-12-29 22:19] EnisMulic opened #405 "ISSUE_TEMPLATE icon-request isn't adding the `request:icon` label"
![image](https://user-images.githubusercontent.com/17247763/103317609-f9354880-4a2b-11eb-91ab-16ef2ee02d86.png)

The space in `request: icon` should be removed so the label is added automatically.

[2020-12-29 22:26] amacado commented on #405
Hello @EnisMulic, can you tell us where you did take the screenshot? Because in the labels there is no space..

[2020-12-29 23:12] amacado opened #407 "github action to ensure svg fulfills requirements regarding css classes/inline css"
As proposed in https://github.com/devicons/devicon/pull/403 and https://github.com/devicons/devicon/issues/400 we would like to introduce a new requirement for adding SVG icons to this project:

SVGs are not allowed to have `classes` for defining properties but instead enforcing inline css to declare styling. This might not considered best practice in general but in this case it provides a cleaner

[2020-12-30 06:08] yacosta738 opened #409 "Icon request: Dart"
### About the icon
Flutter use dart as main programming language
### Links
https://icons8.com/icons/set/dart-programming-language
### Preview
![icons8-dart-48](https://user-images.githubusercontent.com/33158051/103333292-7b793900-4a3b-11eb-96f3-34db8d1c8efe.png)

[2020-12-30 06:12] yacosta738 opened #410 "Icon request: R programming language"
### About the icon
R is statistic programming language used in artificial intelligence
### Links
https://www.google.com/search?q=r+programming+language+icon&sxsrf=ALeKk03VxmeTaScU3uBaIhnrFohlH0yw_A:1609308611484&tbm=isch&source=iu&ictx=1&fir=zYvxUnn8tHjwXM%252CohBHh0JBZZzDSM%252C_&vet=1&usg=AI4_-kRiGJ-xziB8mJHMwOLOvbjbR_flsw&sa=X&ved=2ahUKEwiQ5fvghfXtAhVEnFkKHcG1B9AQ9QF6BAgREAE&biw=1920&bih=923#im

[2020-12-30 10:58] amacado commented on #409
Hello @yacosta738, we already have a issue regarding Dart (and also a pull request which needs to be improved). See https://github.com/devicons/devicon/issues/267

[2020-12-30 10:58] #409 closed

[2020-12-30 13:06] amacado opened #414 "bot:peek failing "UnhandledPromiseRejectionWarning: Error: Request failed with status code 403""
As you can see in PR https://github.com/devicons/devicon/pull/413 the bot:peek action is failing which can be traced to

![image](https://user-images.githubusercontent.com/8781699/103353064-1a3b7f00-4aa8-11eb-877a-c6d70de2b0c4.png)

Is this error caused by not using the latest version of `devicons/public-upload-to-imgur`? @Thomas-Boi

![image](https://user-images.githubusercontent.com/8781699/1033

[2020-12-30 18:14] Thomas-Boi commented on #414
Yes it is. I'll work on [the peek bot pr](https://api.github.com/repos/Codertocat/Hello-World/pulls/2/commits) and commit your suggestions so we can merge it asap.

[2020-12-30 19:43] Thomas-Boi commented on #414
Hi @amacado ,

I've added the some new features to the [peek bot pr](https://github.com/devicons/devicon/pull/412). The main feature is error handling for when an error is found, such as when the name can't be find in the title.

You can see an example in this [PR](https://github.com/devicons/devicon/pull/408) at the very bottom. If you check the corresponding [action](https://github.com/devicons/

[2020-12-30 20:27] Thomas-Boi commented on #407
Hello,

I agree. I think we can add an extra step or a parallel job in the peek script to ensure that all svgs follow our guideline. We should also check for the view box as well. We had an issue with the view box not being "0 0 128 128" before.

[2020-12-30 21:39] amacado commented on #414
Still failing.. seehttps://github.com/devicons/devicon/actions/runs/453414999

[2020-12-30 23:26] Thomas-Boi commented on #414
I think this is because the source branch didn't get the new commits yet. In fact, it seems like their source branch is forked from an older master:

![image](https://user-images.githubusercontent.com/43018778/103386366-532d2100-4ab3-11eb-9b99-867a2d8c718d.png)

The only solution is to ask them to pull our develop into their master.

[2020-12-31 00:01] Thomas-Boi commented on #395
Closing this issue since #401 is already merged

[2020-12-31 00:01] #395 closed

[2020-12-31 00:08] Thomas-Boi opened #417 "Addressing abandoned PRs"
Hello all,

Currently, we have a lot of PRs that are abandoned by their authors (they didn't reply to comments for a long time). Unfortunately, there are many useful icons that these PRs contain and it's a shame if they are to go to waste.

I would like to address this issue by forking these PRs, check the icon, then create a new PR from these abandoned PRs. Since GitHub tracks contribution by com

[2020-12-31 03:03] yacosta738 opened #418 "Icon request: spring boot, maven, jhipster, less, xhtml. xml, sqlite, neo4j, vmware, hyper-v, virtual box, junit"
### About the icon
some technologies
### Preview

![1280px-Maven_logo svg](https://user-images.githubusercontent.com/33158051/103392177-96ef4d00-4aea-11eb-9072-5b5a7b551a99.png)
![110-1105990_jhipster-banner-jhipster-logo](https://user-images.githubusercontent.com/33158051/103392180-9951a700-4aea-11eb-9b77-aec4129f47c6.png)
![download](https://user-images.githubusercontent.com/33158051/103392182-9

[2020-12-31 11:09] amacado commented on #418
Hello @yacosta738, please have a look at https://github.com/devicons/devicon/blob/master/CONTRIBUTING.md#requesting-an-icon. Each request requires a own issue (and before requesting lookup it already is requested - like R).

Have a happy new year! 👍🏻

[2020-12-31 11:09] #418 closed

[2020-12-31 12:02] amacado commented on #417
@Thomas-Boi I highly appreciate this idea. I have the same from time to time (I feel uncomfortable with abandoned pr) ;-) But currently I don't have enough spare time to do it myself.

Maybe we could - in addition to the comment - add a label to those pr? So we can easily track them. And once you (or someone else) is working on it comment on the pr that it's beeing reworked.

[2020-12-31 12:04] amacado commented on #417
Maybe working with the github feature of "Project" could be a enhancement? So we could track pull requests which are waiting for a reaction from the initial contributor, pull requests which are reworked and those which are done?

[2020-12-31 12:05] amacado commented on #395
@Thomas-Boi it will auto-close once merged into master ;-)

[2020-12-31 12:14] amacado commented on #414
Even with updated branch it fails (but a new error) :rofl:
https://github.com/devicons/devicon/runs/1630175599

![image](https://user-images.githubusercontent.com/8781699/103410107-1b34e500-4b6a-11eb-894f-98b0a42698cb.png)

[2020-12-31 18:27] Thomas-Boi commented on #414
Hmm, this is interesting. I'll take another look at the script.

[2020-12-31 18:56] Thomas-Boi commented on #417
I agree, the "Project" tab would be useful in this case since we have to track the PR in multiple stages. Some of the old PR also contain multiple icons so we would need to split it up.

We can start by:
1. Make a label to identify these PR.
2. Comment and let the contributors know that we will "take over" their PR. Give them a month to respond.
3. After that time, if nothing happens, we will star

[2020-12-31 18:56] Thomas-Boi commented on #417
I can start with the label and the comments. This shouldn't take too long

[2020-12-31 19:35] Thomas-Boi commented on #414
@amacado please see my notes at the bottom of #421

[2021-01-02 20:56] yacosta738 opened #429 "Icon request: JHipster"
### About the icon
Jhipster is a yeoman generator for fast development. Jhipster support many technologies (all this technologies have icons)
### Links
https://www.jhipster.tech/

### Preview

![110-1105990_jhipster-banner-jhipster-logo](https://user-images.githubusercontent.com/33158051/103466407-f92a9680-4d12-11eb-98cf-7c4e11f4d7e7.png)

[2021-01-02 20:58] yacosta738 opened #430 "Icon request: Maven"
### About the icon
Maven is java dependencies manager
### Links
https://maven.apache.org/
### Preview
![1280px-Maven_logo svg](https://user-images.githubusercontent.com/33158051/103466428-2bd48f00-4d13-11eb-8d30-4602a442bfad.png)

[2021-01-02 20:59] yacosta738 opened #431 "Icon request: JUnit"
### About the icon
JUnit for java testing
### Preview
*If available, provide some images of the icon you would like to be added*
![download](https://user-images.githubusercontent.com/33158051/103466459-7524de80-4d13-11eb-96ba-f13e5409a18a.png)

[2021-01-02 21:01] yacosta738 opened #432 "Icon request: XML"
### About the icon
XML format file
### Preview
![icons8-xml-file-64](https://user-images.githubusercontent.com/33158051/103466478-a2718c80-4d13-11eb-9c5a-c5b9b503a6b5.png)

[2021-01-02 21:03] yacosta738 opened #433 "Icon request: VMWare"
### About the icon
VMWare is virtualization tool
### Links
https://www.vmware.com/
### Preview
![kisspng-logo-vmware-vsphere-vcenter-virtualization-it-аутсорсинг-it-outsourcing-Киев-5b62e2faa5be87 7897632215332072906789](https://user-images.githubusercontent.com/33158051/103466517-e19fdd80-4d13-11eb-9e31-c3ccaca9dd3d.jpg)

[2021-01-02 21:05] yacosta738 opened #434 "Icon request: Hyper-V"
### About the icon
Hyper-v is virtualization tool
### Links
https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v
### Preview
![png-transparent-hyper-v-microsoft-virtualization-virtual-machine-cloud-computing-microsoft-blue-text-logo](https://user-images.githubusercontent.com/33158051/103466559-33e0fe80-4d14-11eb-9065-3164462fcdc4.png)

[2021-01-02 21:07] yacosta738 opened #435 "Icon request: Spring Boot"
### About the icon
Spring Boot is a java/kotlin framework
### Links
https://spring.io/projects/spring-boot
### Preview
![spring-boot](https://user-images.githubusercontent.com/33158051/103466606-760a4000-4d14-11eb-9941-2f3d00371471.png)

[2021-01-02 21:09] yacosta738 opened #436 "Icon request: Virtual Box"
### About the icon
Virtual Box is a virtualization tool
### Links
https://www.virtualbox.org/
### Preview
![virtualbox-3-569544](https://user-images.githubusercontent.com/33158051/103466649-c1245300-4d14-11eb-9637-be3297299c01.png)

[2021-01-02 21:49] yacosta738 opened #437 "Icon request: SQLite"
### About the icon
SQLite a simple database used in mobile aplications
### Links
https://www.sqlite.org/index.html
### Preview
*If available, provide some images of the icon you would like to be added*
![SQLite370 svg](https://user-images.githubusercontent.com/33158051/103467186-7b6a8900-4d1a-11eb-9907-491064bc8458.png)

[2021-01-02 21:52] yacosta738 opened #438 "Icon request: Neo4j"
### About the icon
Neo4j is a graph database
### Links
https://neo4j.com/
### Preview
![neo4j](https://user-images.githubusercontent.com/33158051/103467225-de5c2000-4d1a-11eb-8edb-af46572cca00.png)

[2021-01-02 21:54] yacosta738 opened #439 "Icon request: Less"
### About the icon
Less It's CSS, with just a little more.

### Links
http://lesscss.org/
![less](https://user-images.githubusercontent.com/33158051/103467248-1ebb9e00-4d1b-11eb-9a21-59f3e005f65c.jpeg)

### Preview
*If available, provide some images of the icon you would like to be added*

[2021-01-03 00:07] amacado commented on #433
Adding vmware might need some discussion..

see https://github.com/devicons/devicon/discussions/353

[2021-01-03 00:11] amacado commented on #435
Can you provide the difference between https://github.com/devicons/devicon/issues/225? The same domain spring.io is mentioned, but different logos? :)

[2021-01-03 00:13] amacado commented on #125
Closing this issue, since our updated guidelines require one issue for each icon :)

[2021-01-03 00:13] #125 closed

[2021-01-03 00:16] amacado commented on #439
Closing this request, since we already have less as icon. Dont hesitate to reopen it, if I missed something :)

[code]

![image](https://user-images.githubusercontent.com/8781699/103469138-36b61080-4d61-11eb-92e4-321106eece8b.png)

[2021-01-03 00:16] #439 closed

[2021-01-03 00:19] #303 closed

[2021-01-03 00:19] #405 closed

[2021-01-03 01:01] amacado opened #444 "SVG extraction failes on icons containing a comment at the top (f.e. bash-plain.svg)"
EDIT: See https://github.com/devicons/devicon/issues/444#issuecomment-753699913 for explaination

There is a problem with displaying the `plain` version of the new bash icon. It shows up but not displaying the svg code below:
It works fine for the original version and also for the font versions. I wonder if this might be a result of the updated build process (removing color function or so? It's ju

[2021-01-03 01:09] amacado commented on #131
Closing this issue since it's invalid and no action was taken since two years to fix it. Feel free to reopen or create a new valid one :)

[2021-01-03 01:09] #131 closed

[2021-01-03 01:10] amacado commented on #165
Since v2.8.0 we are publishing the devicon.dev from the master branch (`docs/`) it's always up to date with the most recent changes.

[2021-01-03 01:10] #165 closed

[2021-01-03 01:12] amacado commented on #400
Merged in #403 and released in v2.8.0 🚀 Tanks again @rawdanowiczdev

[2021-01-03 01:12] #400 closed

[2021-01-03 01:12] amacado commented on #76
Related to #288

[2021-01-03 03:46] amacado commented on #414
@Thomas-Boi I have good and bad news. I found the reason why the `bot:peek` command is still failing. It's because of the restrictions of Github Secrets:

https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets

That's the reason why PR which are initiated from this repository working well but when the action is executed from a forked pull request it will fail on the im

[2021-01-03 06:43] EnisMulic opened #447 "Icon request: Godot"
### About the icon
Godot is a 2D and 3D, cross-platform, free and open-source game engine
### Links
[Website](https://godotengine.org/)
[Logo](https://en.wikipedia.org/wiki/Godot_(game_engine)#/media/File:Godot_logo.svg)
### Preview
![og-wordmark](https://godotengine.org/themes/godotengine/assets/logo.svg)
![og](https://cdn.worldvectorlogo.com/logos/godot-1.svg)

<details>
Also testing request:ico

[2021-01-03 17:32] sahil1913 opened #448 "Icon request: Opencv"
### Links
https://opencv.org/

[2021-01-03 17:33] sahil1913 opened #449 "Icon request: scikit-learn"
### Links
https://scikit-learn.org/

[2021-01-03 20:12] Thomas-Boi commented on #444
Hmm that's strange. The Icomoon color removal only applies to the font. The original SVG is not affected in anyway.

[2021-01-03 20:14] amacado commented on #444
This was just a guess on my side, it is probably another reason..

[2021-01-03 20:20] Thomas-Boi commented on #414
Hey amacado,

You are correct. I'm surprised that I didn't notice this while making the workflow. Seems like we will be going back to the upload-artifacts then. Oh well😞

I will change the workflow file so we use the old method. As for the GitHub CDN, that was my first go to method but it seems like it's currently only available using their website (kinda like Icomoon). Maybe using Selenium might

[2021-01-03 21:00] EnisMulic commented on #444
@amacado I just checked and it looks like there was some extra svg elements in the original file I took, removing that seems to fix the issue
https://raw.githubusercontent.com/EnisMulic/devicon/fix/icon/bash/icons/bash/bash-plain.svg
![image](https://user-images.githubusercontent.com/17247763/103488664-cfef3080-4e0e-11eb-8d63-c36b3b8db205.png)

[2021-01-03 21:10] Thomas-Boi commented on #444
@EnisMulic I was wondering about that too. It seems that the plain version somehow has more content than the original.

Can you create a new PR that contain this fix please?

[2021-01-04 00:19] amacado commented on #444
The error is still there. I will investigate further. Think it's related to the way we extract the svg to show the code.

[2021-01-04 00:27] amacado commented on #444
Yep, the error is related to the way we extract the information from the svg. When there is a comment block at the beginning of the svg we fail in showing the correct code. Some examples:

![image](https://user-images.githubusercontent.com/8781699/103492519-c32d0580-4e2b-11eb-8313-7a9d0fca0377.png)
![image](https://user-images.githubusercontent.com/8781699/103492540-f1124a00-4e2b-11eb-83ab-4be12c5

[2021-01-04 01:01] amacado opened #456 "Some SVG icons do not fulfill viewbox requirement"
https://github.com/devicons/devicon/blob/master/CONTRIBUTING.md#svg-standards

Some examples:
https://raw.githubusercontent.com/devicons/devicon/master/icons/yunohost/yunohost-plain.svg
https://raw.githubusercontent.com/devicons/devicon/master/icons/cucumber/cucumber-plain-wordmark.svg

We should run a small script to check that all existing icons match our guidelines.

[2021-01-04 01:02] amacado commented on #456
Maybe we should combine this issue with https://github.com/devicons/devicon/issues/407

[2021-01-04 06:37] Thomas-Boi commented on #444
Wow, that's an interesting bug. I have merge your fix into develop. Let's hope that this will be the last time we see this issue.

[2021-01-04 06:38] Thomas-Boi commented on #456
I think we should combine them for sure. I'll copy your comments over to that issue so everything is in one place and close this one.

[2021-01-04 06:41] Thomas-Boi commented on #407
Taken from #456 @amacado:

    Each .svg file contains one version of an icon in a 0 0 128 128 viewbox.
    https://github.com/devicons/devicon/blob/master/CONTRIBUTING.md#svg-standards

    Some examples:
    https://raw.githubusercontent.com/devicons/devicon/master/icons/yunohost/yunohost-plain.svg
    https://raw.githubusercontent.com/devicons/devicon/master/icons/cucumber/cucumber-plain-wordma

[2021-01-04 06:41] #456 closed

[2021-01-04 06:45] Thomas-Boi commented on #407
I can run a small script to check that the current icons match our guidelines. During this time, I think we should refrain from merging new icons until:

-The upload issue is fixed (seems like it is for now)
-Create a script that checks for viewbox (I'll get on it)

[2021-01-04 10:02] amacado commented on #444
Fixed in https://github.com/devicons/devicon/releases/tag/v2.8.2

[2021-01-04 10:02] #444 closed

[2021-01-04 19:35] Thomas-Boi commented on #414
Closing this issue since the fix is in develop

[2021-01-04 19:35] #414 closed

[2021-01-04 19:37] Thomas-Boi commented on #248
Hey @amacado is this issue done? Can we close this one now?

[2021-01-04 19:39] Thomas-Boi commented on #433
I agree, VMware seems to refer to a specific company and not a product. I would suggest requesting for an icon of their products, which can be found [here](https://www.vmware.com/products/cloud-foundation.html)

[2021-01-04 21:22] Thomas-Boi commented on #407
So I made a script that we can later use as part of the peek script. Here is its result:
![image](https://user-images.githubusercontent.com/43018778/103580794-a75b4b00-4e8f-11eb-95e5-3711c0de648a.png)

The script will fail if anything is found, which save us time from uploading to Icomoon.

I think I can fix the icons shown above if possible and commit the peek script change in one PR.

[2021-01-04 22:48] Thomas-Boi commented on #433
Actually, now that I think about it, we do have Amazon Web Services in our repo. When most people think of Amazon, they think of Amazon's cloud computing products (EC2, CloudWatch, EBS, etc...). It also make sense since you can't only use one Amazon product, it's usually a combination.

Since VMWare kinda fits the same format, I think we can make an exception to the "no company" rule. What do you

[2021-01-05 00:34] Thomas-Boi commented on #407
Hey @amacado ,

I notice that you want to remove the `style="enable-background:new 0 0 128 128;"` and `x="0px" y="0px"` as seen [here](https://github.com/devicons/devicon/pull/428#discussion_r551222511). Why would you want to remove them and if the svgs shouldn't have these, should I add a check in the peek script as well?

[2021-01-05 10:17] amacado commented on #407
Cool! :) @Thomas-Boi you're contributing so much useful additions! Feel free to correct the issues regarding the viewbox. We could add this script as github action to run on each `pull_request` event (not only on the `bot:peek` command). What do you think?

Mh, I think this is more related to "optimisation", same for removing SVG comments like in
https://raw.githubusercontent.com/devicons/devicon/

[2021-01-05 10:29] amacado commented on #248
You're right, can be closed. Thanks! :)

[2021-01-05 10:29] #248 closed

[2021-01-05 10:36] amacado commented on #433
@Thomas-Boi it's one of these edge cases. As you mentioned Amazon Web Services: From my point of view this can't be compared to vmware since the company behind Amazon Web Services is Amazon (and we would not add Amazon to our icons). Amazon Web Services can be seen as a own Product (even if it is more like a wrapper for multiple offers like EC2, S3,...). I don't think vmware can be seen as a produ

[2021-01-05 20:43] Thomas-Boi commented on #433
@amacado That sounds like a good idea. I'm not too familiar with VmWare beside their Virtual Box so I thought it's similar to AWS. I'll go with your idea on this one

[2021-01-05 20:44] #433 closed

[2021-01-06 00:45] Thomas-Boi commented on #417
Just something I notice:

If a workflow is triggered by a pull request event, it's the destination's workflow that will be triggered, not the forked repo (see [this](https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#pull-request-events-for-forked-repositories). So we can check any PR that has the correct PR name without needing to fork from their repo.

[2021-01-06 01:19] amacado commented on #393
Duplicate of https://github.com/devicons/devicon/issues/204

[2021-01-06 01:19] #393 closed

[2021-01-06 12:59] sahil1913 opened #467 "Icon request: grpc"
### About the icon
rpc framework
### Links
https://grpc.io/

[2021-01-06 17:48] Kartstig commented on #93
@Altijd-youri can you confirm that #103 fixes your issue?

[2021-01-06 19:24] Altijd-youri commented on #93
I will have a look this week. I hope to get back to you before the weekend.

[2021-01-07 17:36] yacosta738 commented on #435
Spring Boot allows you to configure the spring framework in an easier and more productive way, Spring Boot is the evolution of the spring framework
This is logo for Spring Framework
![download](https://user-images.githubusercontent.com/33158051/103925017-e7673b80-50e4-11eb-9379-ceb82e3f382c.png)

Ideally: add both icons

[2021-01-07 17:54] Thomas-Boi commented on #68
Closing this issue since it's fixed in #222

[2021-01-07 17:54] #68 closed

[2021-01-07 17:57] Thomas-Boi commented on #97
I believe that when contributors contribute icons to the icon, they understand that the repo is freeware and is under the MIT license. This means that while attribution is great, it is not necessary.

[2021-01-07 18:02] Thomas-Boi commented on #69
Hello there,

About a few months ago, we reworked the repo. All color details are now in the `devicon.json` under the `color` attribute. This should provide the functionality that you are looking for.

[2021-01-07 18:03] #334 closed

[2021-01-07 18:51] Thomas-Boi commented on #197
Besides looking for a generic icon, we have to figure out how to do this. The best way the I can think of is adding this line to the top of the `devicon.css` file:

[code]

Since CSS cascade down, icons that already exist would override this declaration. If it doesn't, the default content will be displayed (in this case the devicon icon).

I will look more into this issue. If you have any idea on

[2021-01-07 22:03] amacado commented on #197
I'm not sure if this is a good idea. I understand the request but it could be realy confusing (I don't know any other icon font which is doing this kind of thing). I'm asking myself: What is the advantage of having a placeholder for a technology? What should it express? I can't see any use-case where this would make sense. Happy to hear other opinions about that.

[2021-01-08 04:32] Thomas-Boi commented on #197
When I made the feature, I was thinking of situations like:
-Someone wants to auto-generate icons in their website but the icons might not exist in our repo
-Maybe they make a typo and the site now looks weird without the icon.

That being said, both of these use cases can be easily fixes by testing the site before deployment.

[2021-01-08 19:08] Altijd-youri commented on #93
@Kartstig I have had a look into it. #103 seems to be about the [Python-orignal-wordmark](https://github.com/devicons/devicon/blob/develop/icons/python/python-original-wordmark.svg). I'm not sure anymore about which icon my complaint from a year ago was. So it did a bunch of tests with the different icons and could not reproduce the problem.

- [python-original.svg (from #103)](https://github.com/

[2021-01-08 21:10] amacado opened #471 "workflows on pull requests failing due to wrong `ref`"
Currently the bot:peek command failes (https://github.com/devicons/devicon/pull/217/checks?check_run_id=1671030442). I think this is because of the `ref: ${{ github.head_ref }}`

https://github.com/devicons/devicon/blob/develop/.github/workflows/peek_icons.yml#L13
[code]

It was merged in https://github.com/devicons/devicon/pull/460 and the problem will occur in the other workflow scripts as well

[2021-01-08 22:15] Thomas-Boi commented on #471
Oh, that was because the checkout action was having changes from the develop branch AND the PR branch. I thought that it's probably a better idea to just limit the checkout to the PR branch, hence the [`github.head_ref`](https://docs.github.com/en/free-pro-team@latest/actions/reference/context-and-expression-syntax-for-github-actions#github-context).

It seems like this would cause the checkout ac

[2021-01-08 23:19] Thomas-Boi commented on #471
Created a test PR at #474

[2021-01-08 23:40] amacado commented on #471
sure, just give me a hint when you're done :)

[2021-01-09 00:16] #471 closed

[2021-01-09 00:16] amacado commented on #471
Fixed in https://github.com/devicons/devicon/pull/472

[2021-01-09 17:51] Kartstig commented on #93
@Altijd-youri thanks for your thoroughness on such an old ticket!

[2021-01-09 19:17] Thomas-Boi opened #478 "Resource not accessible by integration error"
This error is generated by the comment step in the `Check SVGs` workflow:

![image](https://user-images.githubusercontent.com/43018778/104106590-f4626700-526b-11eb-92dc-bf329eef9886.png)

The interesting thing is this step works fine if the PR is opened by a branch inside the repo:

![image](https://user-images.githubusercontent.com/43018778/104106696-24aa0580-526c-11eb-9baf-a22de44d1665.png)

I w

[2021-01-10 05:57] pan3793 commented on #478
Encounter same issue on fork repo, do you find the solution?

[2021-01-10 14:01] sapics commented on #97
@ Thomas-Boi Thank you for your clear answer!
Of course I set attribusion for my service 👍

[2021-01-10 14:01] #97 closed

[2021-01-10 15:17] amacado commented on #478
@pan3793 currently @Thomas-Boi is working for finding a solution. This is more like a GitHub actions limitation and not a specific devicon problem.

There is f.e. this comment action https://github.com/mshick/add-pr-comment/ which solves this limitation by creating a proxy service for commenting on forked branches. But this requires to have a proxy up and running, which needs to be maintained.. Ma

[2021-01-10 20:47] Thomas-Boi commented on #478
So I poke around a bit more. It seems that the repo you mentioned was correct. No matter which Action I used, it got blocked whenever it's a fork. After doing some more research, the reason and solution can be found [here](https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/). However, this requires a private repo, which obviously can't be done for us.

I

[2021-01-11 09:16] pan3793 commented on #478
Found a simple solution to solve this, see detail at https://github.com/housepower/ClickHouse-Native-JDBC/pull/294

[2021-01-11 20:27] Thomas-Boi commented on #478
Hi @pan3793 ,

I actually saw this resource when I was researching for a solution. At first, I was hesitant about this because of something that I found in the blog:

![image](https://user-images.githubusercontent.com/43018778/104233768-4f7c9100-5407-11eb-98b4-57b8e7eabd7e.png)

However, it seems like your code works and it's in a public repo so I wonder if there was an update. I can look into it

[2021-01-11 20:41] pan3793 commented on #478
I also hesitated until saw the next paragraph header **Improvements for public repository forks** 🤣

[2021-01-11 20:43] Thomas-Boi commented on #478
Lol damn you are right 😆. Just scrolling down would have save me an entire evening working with the `workflow_run` thing. Thanks for the tip. I'll definitely implement this now

[2021-01-11 23:30] nyurik commented on #478
There is now an official way to do this after I spoke with github for a long time about the issue. See https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#workflow_run -- much more efficient than using the scheduler, but otherwise it is pretty much the same concept as I originally proposed.

[2021-01-12 05:09] Thomas-Boi commented on #478
Thanks nyurik! We ended up using the `workflow_run` just as you said. I'm also looking into the `pull_request_target` as well.  Props for the cool work around that you thought of at first though.

[2021-01-15 17:06] K0ST4S opened #482 "Icon request: Blender"
### About the icon
When it comes to game development Blender is indistinguishable part that is open source and widely used.
### Links
https://commons.wikimedia.org/wiki/File:Logo_Blender.svg#/media/File:Blender_logo_no_text.svg
### Preview
![image](https://user-images.githubusercontent.com/43761714/104756559-a2867900-5764-11eb-8d5f-3b2ea87e199c.png)

[2021-01-15 19:31] amacado commented on #122
I'm closing this issue because our contribution guidelines require one icon per issue.

[2021-01-15 19:31] #122 closed

[2021-01-16 06:25] galexbh opened #483 "Icon request: Julia"
### About the icon
*This is a general-purpose language created by leading universities in academia and industry, with a strong focus on high-performance computing with applications in science and engineering.*
### Links
[WebSite](https://julialang.org/)
[Wikipedia](https://en.wikipedia.org/wiki/Julia_(programming_language))
[Logo](https://docs.julialang.org/en/v1/assets/logo.svg)
### Preview
<p al

[2021-01-17 08:08] RipplePiam opened #484 ""data error: devicon-2.8.2\icons\drupal.eps""
After downloading v2.8.2 and extracting the zip file, it will report an error: "data error: devicon-2.8.2\icons\drupal.eps"

![1](https://user-images.githubusercontent.com/45916506/104834967-43e50a80-58de-11eb-9f1d-0f172ce37328.png)

[2021-01-19 09:37] amacado commented on #484
@RipplePiam can you please provide more information? What does this error mean? Where did you downloaded the package? When I download the latest [github release ](https://github.com/devicons/devicon/releases/tag/v2.8.2) the `drupal.eps` looks just fine.

[2021-01-20 10:27] #204 closed

[2021-01-20 10:58] EnisMulic opened #488 "Outdated npm package"
Any plans to update the npm package so it includes new icons? It's currently on [2.2.0](https://www.npmjs.com/package/devicon)

[2021-01-20 11:23] amacado commented on #488
Yep, we are already tracking it in https://github.com/devicons/devicon/issues/288, so I will close this issue.

[2021-01-20 11:23] #488 closed

[2021-01-20 18:38] #478 closed

[2021-01-21 17:21] PowerBroker2 opened #489 "C, C++, and Python Icons Broken"
Not sure if the links changed, discontinued, or both for C, C++, and Python. I'm trying to use the icons in my profile readme, but those particular icons are broken. Here is my readme section for my readme:

[code]

Here's what is rendering:
![Capture](https://user-images.githubusercontent.com/20977405/105387022-1dc3b100-5be3-11eb-837f-4ae6cdd6b55c.PNG)

[2021-01-21 17:54] amacado commented on #489
Hello @PowerBroker2, we changed the `gh-pages` branch to `master` branch (https://github.com/devicons/devicon/issues/289) for serving the github pages (https://devicon.dev). Therefore there was no need to have the `devicon.git` within the depreceated `gh-pages` branch anymore. This the content is now served directly from the `master` branch your links are broken.

Anyway: I would suggest to refer

[2021-01-21 17:54] #489 closed

[2021-01-29 05:07] aravindvnair99 opened #490 "Icon request: GraphQL"
### About the icon

GraphQL is an open-source data query and manipulation language for APIs, and a runtime for fulfilling queries with existing data.

### Links

https://graphql.org/img/logo.svg

### Preview

<img src="https://graphql.org/img/logo.svg" width=30%>

[2021-01-29 09:28] amacado commented on #490
Duplicate of https://github.com/devicons/devicon/issues/209. I took this description and pasted it in the existing request.

[2021-01-29 09:28] #490 closed

[2021-01-29 09:39] aravindvnair99 commented on #490
Ah yes @amacado, thanks! I had [searched for duplicates](https://github.com/devicons/devicon/issues?q=is%3Aissue+is%3Aopen+graph) by typing "[Graph](https://github.com/devicons/devicon/issues?q=is%3Aissue+is%3Aopen+graph)" and not "[GraphQL](https://github.com/devicons/devicon/issues?q=is%3Aissue+is%3Aopen+graphql)". My bad. Sorry for the trouble!

[2021-01-29 09:41] amacado commented on #490
@aravindvnair99 no worries, happens to the best of us ;-)

[2021-02-12 17:08] amacado commented on #484
Closed due to inactivity.

[2021-02-12 17:08] #484 closed

[2021-02-12 17:13] amacado commented on #93
I just checked all python icons (font and svg versions) with the latest devicon v2.9.0. In my opinion they are looking good now (also checked the black background). I'm closing this ticket since it seems to be fixed now. Feel free to reopen it when I have overseen something.

[2021-02-12 17:13] #93 closed

[2021-02-20 03:51] EugeneGohh opened #494 "Icon request: SonicPi"
### About the icon
Sonic Pi is a live coding environment based on Ruby, originally designed to support both computing and music lessons in schools.
### Links
https://sonic-pi.net/
### Preview
![image](https://user-images.githubusercontent.com/64187129/108583019-da8b6800-7371-11eb-88a2-4d9310b2aaa5.png)

[2021-02-21 00:47] amacado commented on #288
I will start working on this! :)

[2021-02-21 22:04] Thomas-Boi commented on #197
I'm thinking that we should close this issue and the related PR. I don't think there's any reason for us to keep this feature. It might also slow down the browser since the default icon CSS selector would have to do extra checking. What do you think @amacado ?

[2021-02-21 22:10] amacado commented on #197
I agree!

[2021-02-21 22:10] #197 closed

[2021-02-21 22:50] amacado opened #505 "Workflow "check the SVGs' quality" reports error on "devicon.svg""
When a new pull request is created, the workflow "Check the SVGs' quality" will run and check the svg's. Than this error occurs:
![image](https://user-images.githubusercontent.com/8781699/108641365-34d61700-749f-11eb-8d4c-04c25b39befd.png)

I traced this error and it found the reason for this. It's caused by `fonts/devicon.svg` - which is added on the icomoon fonts generation. I will try to fix th

[2021-02-22 19:44] amacado opened #510 "When you add more than two icons for the font versions, it adds up an `\n` in the GitHub comment"
When you add more than two icons for the font versions, it adds up an `\n` in the GitHub comment:

![image](https://user-images.githubusercontent.com/51391473/108760642-87511b00-7513-11eb-8fb4-02e7d735d1ee.png)

_Originally posted by @Panquesito7 in https://github.com/devicons/devicon/pull/509#discussion_r580538363_

[2021-02-22 19:47] amacado commented on #505
Fixed in #508