[2022-05-01 08:39] namanks2201 opened #1173 "[ICON REQUEST]: C++"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Already there are icons for C++ but still I think the new icons needs to be added to the list since it looks better in comparison to the existing ones.

### Links and sources

https://github.com/namanks2201/namanks2201/blob/main/img/cpp.png?raw=true

### Additional information

_No response_

[2022-05-01 09:34] amacado commented on #1170
You can change the color of the font (and svg) by CSS styling.
Here is a simple example which can be adjusted to your needs: https://codepen.io/amacado/pen/QWQWqvB

[2022-05-01 09:34] #1170 closed

[2022-05-01 09:39] amacado commented on #1172
According to the current https://www.adobe.com/ website you're right. The current icons have a rounded border.

- Adobe Photoshop
- Adobe XD
- Adobe After Effects
- Adobe Premiere Pro

[2022-05-01 09:40] amacado commented on #1173
Could you provide a official source for the updated icon?

[2022-05-01 10:14] Snailedlt opened #1174 "Sonarqube"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

It's a tool for static code analysis

### Links and sources

Logo & guidelines: https://www.sonarqube.org/logos/

Logo direct download link: https://www.sonarqube.org/logos/download/SonarQube.zip
![image](https://user-images.githubusercontent.com/43886029/166141608-18f0e12d-fbb3-4726-a3bf-4fb8bf5

[2022-05-01 10:25] Snailedlt commented on #1165
Yes, that is correct, I'm only talking about search. I don't think tags should be mixed with altnames, since tags are used more as categories, while altnames are just alternative names for the icon.

It would be nice to be able to search for tags. Though it would make it harder to search if we just added it normally, since there would be a lot more search results for some searches.

I think a bett

[2022-05-01 15:03] namanks2201 commented on #1170
Thanks for replying, will look into it.

On Sun, May 1, 2022, 15:04 Clemens Bastian ***@***.***> wrote:

[2022-05-01 15:03] namanks2201 commented on #1172
Pls make the necessary changes....

On Sun, May 1, 2022, 15:09 Clemens Bastian ***@***.***> wrote:

[2022-05-01 15:04] namanks2201 commented on #1173
What do you mean by official source? Like do I need to send you the link by
which I downloaded the file? I am unable to get what exactly you
are looking for.

On Sun, May 1, 2022, 15:11 Clemens Bastian ***@***.***> wrote:

[2022-05-02 12:08] ndeangel opened #1175 "[ICON REQUEST]: COMSOL Multiphysics"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Software for multiphysics FEA simulations

### Links and sources

https://www.comsol.com/

### Additional information

_No response_

[2022-05-02 12:10] ndeangel opened #1176 "[ICON REQUEST]: Solidworks"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Widely used CAD software

### Links and sources

https://www.solidworks.com/

### Additional information

_No response_

[2022-05-02 12:11] ndeangel opened #1177 "[ICON REQUEST]: Catia"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Widely used CAD software

### Links and sources

https://www.3ds.com/products-services/catia/

### Additional information

_No response_

[2022-05-03 08:38] Snailedlt commented on #1165
@Thomas-Boi Thanks for that :)
The PR I have out now actually implements search already, so no need to add that :)
If this PR gets merged, you'll be able to search for altnames aswell as the normal names

[2022-05-03 09:12] hud0shnik opened #1178 "[ICON REQUEST]: Krita"
### I have searched through the issues and didn't find my problem.

- [x] Confirm

### About the icon

Krita is a popular open source raster graphics editor

### Links and sources

- Logo: https://krita.org/wp-content/themes/krita-org-theme/images/krita-logo.png?v2022
- Github: https://github.com/KDE/krita
- Website: https://krita.org/

### Additional information

_No response_

[2022-05-03 09:18] hud0shnik opened #1179 "[ICON REQUEST]: Ren'Py"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Ren'Py is the most popular visual novel engine

### Links and sources

- Logo: https://www.renpy.org/doc/html/_static/navbar-logo.png
- Github: https://github.com/renpy/renpy
- Website: https://www.renpy.org/

### Additional information

_No response_

[2022-05-04 15:56] NaNaFoNo opened #1180 "[ICON REQUEST]: Clarity"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Clarity is a new language that brings smart contracts to Bitcoin.

### Links and sources

Link to GitHub Repo: [https://github.com/clarity-lang](https://github.com/clarity-lang)

Official website: [https://clarity-lang.org/](https://clarity-lang.org/)

Logo link (from Github repo): [https://avata

[2022-05-04 21:52] Snailedlt commented on #1131
From what I can gather, I agree with @daczarne's explanation, seems like a nice addition for devicons.

[2022-05-05 00:09] victor-a-c opened #1181 "[ICON REQUEST]: Oracle SQL Developer"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Oracle SQL Developer is the largest tool for managing Oracle Databases

### Links and sources

+ Oracle SQL Developer [official web page][1]
+ Oracle SQL Developer [Official Icon in SVG][2]

[1]: https://www.oracle.com/br/database/technologies/appdev/sqldeveloper-landing.html
[2]: https://www.ora

[2022-05-05 00:54] Panquesito7 commented on #1131
I agree with adding the icon. Looks like a developer-related tool. 👍

[2022-05-05 19:31] Thomas-Boi commented on #1131
Yup, seems like the request is specifically regarding the icon, not the repo

[2022-05-05 20:50] Snailedlt commented on #949
Preview of the image:
![image](https://user-images.githubusercontent.com/43886029/167023288-591e6628-7e57-4900-bb09-5ea9f1b5eb28.png)

[2022-05-05 21:04] Snailedlt commented on #364
Found this SVG version: https://gist.github.com/Xainey/d5bde7d01dcbac51ac951810e94313aa
![image](https://user-images.githubusercontent.com/43886029/167025252-3cd6af96-e126-441b-b1a2-227cbad1e92f.png)

[2022-05-05 21:06] Snailedlt commented on #364
## Powershell:
![image](https://user-images.githubusercontent.com/43886029/167025458-8e69b1aa-4dc3-471d-8b51-4d3025f6515b.png)

## Powershell 5.1:
![image](https://user-images.githubusercontent.com/43886029/167025518-c6a9884d-7b56-4d67-822e-99870ab1e8b8.png)

Image source: https://docs.microsoft.com/en-us/powershell/

[2022-05-05 21:17] Snailedlt commented on #364
# SVG Versions
(All of these icons are from the [assets folder](https://github.com/PowerShell/PowerShell/tree/master/assets) of the Powershell GitHub repo)

## ps_black_128.svg
https://github.com/PowerShell/PowerShell/blob/master/assets/ps_black_128.svg
![image](https://user-images.githubusercontent.com/43886029/167026127-b05c7a77-4714-4295-b590-34ce55414ebb.png)

## powershell_128.svg
https://git

[2022-05-05 21:25] Snailedlt commented on #921
# Preview of all SVG logos from their [website](https://mariadb.com/about-us/logos/)

## blue-horizontal
![blue-horizontal](https://mariadb.com/wp-content/uploads/2019/11/mariadb-horizontal-blue.svg)

## black-horizontal
![black-horizontal](https://mariadb.com/wp-content/uploads/2019/11/mariadb-horizontal-black.svg)

## white-horizontal
![white-horizontal](https://mariadb.com/wp-content/uploads/20

[2022-05-05 21:38] Snailedlt commented on #1174
# SVG Versions

## SonarQube logo white
![SonarQube logo white](https://user-images.githubusercontent.com/43886029/167029627-7d21e78c-0569-4f71-9ea4-abe698b96627.svg)

## SonarQube icon white
![SonarQube icon white](https://user-images.githubusercontent.com/43886029/167029643-72ec004a-ca2b-4270-92f6-8f3e9a89a943.svg)

## SonarQube logo black
![SonarQube logo black](https://user-images.githubuserco

[2022-05-05 22:07] Snailedlt commented on #1125
Hey, create a PR so we can get this one going :)
Jetbrains icons definitely need updating

[2022-05-05 22:56] Kek5chen commented on #1125
Alright, i opened a pr. I do not know if everything matches what you were asking for but it should be a good starting point

[2022-05-06 07:41] Snailedlt commented on #128
This issue should not have been closed imo, since only the jetbrains logo got updated, and not all of the other icons specified in the issue.

But there is now a new issue that's basically a duplicate of this one ( #1125 ), along with a PR in the works #1182 , so this being closed now is fine.

Would be great to have some input on the PR other than just mine though :)

[2022-05-14 09:36] gochaavsajanishvili opened #1185 "[ICON REQUEST]: <EJS>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

You have js templating engine handlebars, EJS is also one of them.

### Links and sources

### **EJS** - Embedded JavaScript templating:
[Official Website](https://ejs.co/)

[Official Github](https://github.com/mde/ejs)

### Some resources for icon/SVG:
- https://icon-sets.iconify.design/file-ico

[2022-05-15 18:20] clcaldwell commented on #364
@SteveL-MSFT This has been open for a while. Any chance you can shed some light on what icon Microsoft thinks should be included here for Powershell?

[2022-05-15 20:19] Snailedlt commented on #327
So, has anyone looked at the PR yet?
Any feedback?

[2022-05-15 21:29] Thomas-Boi commented on #327
I'm fine with it but the choice rests on the current maintainers of the team.

I'm now more of a background passive maintainer so even though I'd love to accept the PR, I can't do much 😄

[2022-05-16 07:05] Snailedlt commented on #327
@amacado @Panquesito7 @maltejur
Iirc you guys are the maintainers now. Any comments on the PR?

[2022-05-16 21:22] William-Bryant opened #1187 "[ICON REQUEST]: <Pygame>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Pygame is a cross-platform set of Python modules designed for writing video games.

### Links and sources

https://www.pygame.org/news

### Additional information

_No response_

[2022-05-17 21:11] Zykkl opened #1188 "[BUG] Original Svelte logo wide"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

The original Svelte svg (orange) is slightly wide. Noticeable when compared to the plain black svg. Visible by just comparing both next to each other.

![image](https://user-images.githubusercontent.com/76778471/168910701-310df7da-f88a-4cc6-9040-3ca6f50506bb.png)

### Possible fixes or solutions

[2022-05-20 13:25] WallucePinkham opened #1189 "[ICON REQUEST]: Azure EventHubs"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

EventHubs is an Azure technology for queuing

### Links and sources

https://docs.microsoft.com/en-us/azure/architecture/icons/
https://docs.microsoft.com/en-us/azure/architecture/serverless/event-hubs-functions/event-hubs-functions

### Additional information

_No response_

[2022-05-23 08:41] alexander-rebello opened #1191 "Database / sql icon"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

An database icon would be great to visualize sql files

### Links and sources

![](https://cdn1.vectorstock.com/i/1000x1000/61/60/database-icon-vector-23766160.jpg)

There is no real official site

### Additional information

_No response_

[2022-05-23 10:36] saveriogzz opened #1192 "[ICON REQUEST]: Cassandra"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Cassandra is a NoSQL distributed database

### Links and sources

https://commons.wikimedia.org/wiki/File:Apache-cassandra-icon.png
https://icon-icons.com/search/icons/cassandra
https://iconscout.com/icon/cassandra

### Preview
![Cassandra_logo](https://user-images.githubusercontent.com/42075938/

[2022-05-23 23:49] kaka-jaques opened #1193 "[ICON REQUEST]: pfSense"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

It's a Firewall based on Linux architecture

### Links and sources

https://avatars.githubusercontent.com/u/3716965?s=200&v=4
https://www.pfsense.org/

### Additional information

_No response_

[2022-05-24 09:53] amacado commented on #1191
Hello  @alexander-rebello, we already have `mysql`, `postgresql`, `sqlite`, `mysqlserver` and some no-sql databases. I'm not sure if we need a generic "Database" icon.. Also: please fix the pull request title as in our template: `[ICON REQUEST]: generic database`. Feel free to reopen once fixed. :)

[2022-05-24 10:00] alexander-rebello commented on #1191
Hi, the thing is that these Icons refer to some specific database software. I thought of an icon fir the sql language or for visualizing sql files. For that the existing icons would nit fit.

[2022-05-26 09:47] asanikovich opened #1195 "[ICON REQUEST]: ClickHouse"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

ClickHouse is a fast open-source column-oriented database management system that allows generating analytical data reports in real-time using SQL queries.

### Links and sources

https://clickhouse.com/
https://cdn.worldvectorlogo.com/logos/clickhouse.svg
https://clickhouse.com/wp-content/uploads

[2022-05-26 16:21] BrantLauro opened #1196 "[ICON REQUEST]: GameMaker"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

GameMaker is a great game engine for 2d games

### Links and sources

https://gamemaker.io/en
https://coal.gamemaker.io/sites/5d75794b3c84c70006700381/theme/images/svg/logomark.svg?1653389763
![image](https://user-images.githubusercontent.com/60024796/170530530-b17fc2f4-91ad-4b2b-ad58-d6d4b3ed9aa

[2022-05-26 17:53] Panquesito7 commented on #1196
Duplicate of #633.

[2022-05-26 17:53] #1196 closed

[2022-05-27 22:08] vikasganiga05 commented on #1160
The [strapi](https://strapi.io/) logo pack download link &rarr; https://www.strapi.io/hubfs/Logos/Strapi.logo.assets.zip
Also, they provide a media kit on the notion. Visit https://strapi.notion.site/Media-kit-b10218b27360454a8e6c3e91ca84d44a and scroll down to the `Logotype` section to see/download the logos.

[2022-05-28 02:04] vikasganiga05 opened #1198 "[ICON REQUEST]: Alpine.js"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Alpine.js is a rugged, minimal framework for composing Javascript behavior in your markup. It allows you to write most of your JS inline in your HTML, making it easier to write declarative code (as opposed to procedural code). According to its creator Caleb Porzio, it aims to fill the void betwee

[2022-05-29 22:21] notghettolenny opened #1199 "[FEATURE REQUEST] <organize into tables>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

itll be easier to let people organize into 2 by 4 tables by copying the code below from the readme instead of typing it out themselves

### Possible Solution

<table width="320px">
    <tbody>
        <tr valign="top">
            <td width="80px" align="center">
            <span><strong>Python</strong

[2022-05-29 23:04] amacado commented on #1199
Hello @notghettolenny, i'm not sure if i get your point. Are you talking about the grid on devicon.dev?

[2022-06-02 19:00] fxxsx opened #1200 "[ICON REQUEST]: <Source Engine>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

A Source Engine icon would be great, The Source Engine was used to great such games as half-life, half-life 2, Counter Strike, TF2 and other games made by valve

### Links and sources

https://commons.wikimedia.org/wiki/File:Source_engine_logo_and_wordmark.svg

### Additional information

_No res

[2022-06-05 20:32] canaleal commented on #1188
I resized the Svelte-Original Icon. I will commit the changes and make a pull request.
If you need the SVG now, I can send you the SVG icon.

[2022-06-05 23:14] canaleal opened #1202 "[ICON REQUEST]: Streamlit"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Streamlit is an open-source app framework for Machine Learning and Data Science teams.

### Links and sources

**Framework**
https://streamlit.io/

**Docs**
https://docs.streamlit.io/

**Logos (SVG and PNG)**
https://streamlit.io/brand

### Additional information

_No response_

[2022-06-06 17:39] ethanbradley opened #1204 "[ICON REQUEST]: Update amazonwebservices (aws)"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

AWS is a very popular cloud platform and the existing Amazon Web Services icons are outdated

### Links and sources

Font Awesome: https://fontawesome.com/icons/aws?s=brands

### Additional information

There is an existing icon folder for Amazon Web Services but it is outdated. The brand icon ha

[2022-06-07 05:48] arusso opened #1206 "[ICON REQUEST]: HashiCorp Vault"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Popular open source secrets engine. Frequently used alongside other HashiCorp products already included

### Links and sources

HashiCorp Brand Guidelines: https://www.hashicorp.com/brand#vault
Logo Bundle: https://drive.google.com/uc?export=download&id=1MWU8ODoxNFebk_MXlNlUWs98lqxqEqtN

### Addi

[2022-06-08 14:49] Snailedlt opened #1209 "[FEATURE REQUEST] Differentiate vertical and horizontal icons"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

A lot of logos/icons nowadays have both vertical and horizontal icons. It would be nice if we could account for this, and add both for icons wherever possible, so that we don't have make a decision on which one to add.
Since some companies has TOS for their icons, you might be breaking their TOS by usin

[2022-06-08 14:53] Snailedlt opened #1210 "[FEATURE REQUEST] Add links to TOS where applicable"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Some companies have TOS (Terms of Service) for their icons. It's important for users to know this before using the icons we provide, so that they don't get in trouble. Breaking the TOS could in worst case lead to financial loss and/or lawsuits for any company using devicon.

### Possible Solution

####

[2022-06-09 16:57] samr28 opened #1211 "[ICON REQUEST]: ZMQ"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

ZeroMQ (ZMQ) is an asynchronous messaging library used in many projects

### Links and sources

Official website: https://zeromq.org/
Official logo: https://zeromq.org/images/logo.gif

### Additional information

_No response_

[2022-06-15 06:13] Snailedlt commented on #1200
## wordmark logo
https://commons.m.wikimedia.org/wiki/File:Source_engine_logo_and_wordmark.svg
![1306px-Source_engine_logo_and_wordmark.svg.png](https://user-images.githubusercontent.com/43886029/173755196-368b25c2-d10d-4cd6-bd28-9d8780453782.png)

## Non-wordmark Icons from https://developer.valvesoftware.com/wiki/Source_2
![Source-16px.png](https://user-images.githubusercontent.com/43886029/1737

[2022-06-15 15:22] grandslammer opened #1213 "[BUG] Svelte Wordmark icon is too small"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

See screenshots below...

React, Svelte (non-wordmark version), and Vue logos are provided for comparison.

The actual image is the correct size, but the icon itself within the image does not go to the edges of the image file (see 2nd screenshot)

![image](https://user-images.githubusercontent.c

[2022-06-15 16:34] amacado commented on #1213
Duplicate of https://github.com/devicons/devicon/issues/1188

[2022-06-15 16:34] #1213 closed

[2022-06-15 18:47] HwangBBang opened #1215 "[ICON REQUEST]: Eclipse"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Eclipse

### Links and sources

https://iconape.com/eclipse-2-logo-icon-svg-png.html

### Additional information

Thank you

[2022-06-16 14:33] felipecrs opened #1216 "[ICON REQUEST]: devcontainers / Development Containers / Dev Containers"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Devcontainers are becoming more and more used across the developers. It has now an open foundation to work with more editors other than VS Code.

### Links and sources

- https://github.com/devcontainers/spec/issues/42
- https://github.com/devcontainers/devcontainers.github.io/blob/gh-pages/img/d

[2022-06-16 14:43] Laxman-Lakhan opened #1217 "[ICON REQUEST]: Tableau"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Tableau is a Visualization tool

### Links and sources

https://www.tableau.com

### Additional information

_No response_

[2022-06-17 10:05] Snailedlt opened #1218 "[FEATURE REQUEST] Show number of Icons on the website"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Currently there's no way (at least afaik) to see how many icons there are on the website. It would be nice to see some stats.

### Possible Solution

I propose showing the number of icons in total, the average number of icons per logo, and the number of logos.

Something like this:

Logos: 111
Icons: 55

[2022-06-17 10:09] Snailedlt commented on #1218
Should also be possible to see how many hits/logos you get on a search :)

[2022-06-17 10:13] Snailedlt commented on #364
No response yet :/

[2022-06-17 10:14] Snailedlt commented on #364
@andschwa
Perhaps you could let us know which Powershell icon(s) we should use?

[2022-06-17 15:22] andschwa commented on #364
Let me ping the team.

[2022-06-17 16:00] SydneyhSmith commented on #364
The image above "ps_black_128.svg" is a great choice! (PowerShell PM here 😄 )

[2022-06-17 16:12] BenSouchet commented on #364
@andschwa Hi, okay will do the PR in the new days 🙂

[2022-06-17 17:42] BenSouchet commented on #364
I just push the PR https://github.com/devicons/devicon/pull/1219

[2022-06-18 00:34] Robinerra opened #1220 "[ICON REQUEST]: Tauri"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Tauri is essentially Electron but lighter, utilizing a rust backend and a custom browser. It's small but gaining traction.

### Links and sources

https://tauri.app/
https://www.npmjs.com/package/tauri/v/0.1.5?activeTab=readme

Logos:

https://tauri.app/img/index/tauri_1_0_dark.svg
https://seeklo

[2022-06-18 06:23] yzPeedro opened #1221 "[ICON REQUEST]: Update laravel"
### Laravel new icon.

- [ ] Confirm

### About the icon

The Laravel icon that is in the devicons is the old icon and is not used anymore

### Links and sources

Laravel new icon:
##
<a href="https://laravel.com/img/logomark.min.svg">
<img align="center" alt="Pedro-Laravel" height="40" width="38" src="https://laravel.com/img/logomark.min.svg">
</a>

### Additional information

_No response_

[2022-06-18 21:37] vmgustavo opened #1222 "[ICON REQUEST]: Python Poetry"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Python packaging and dependency management

### Links and sources

https://python-poetry.org/images/logo-origami.svg

### Additional information

https://python-poetry.org/
https://github.com/python-poetry/poetry

[2022-06-18 23:38] #852 closed

[2022-06-20 20:08] canaleal commented on #1221
Hey Pedro, I can take a look at this later today. Here are the logo links incase someone else wants to give it a try.

Website:
https://laravel.com/

Github:
https://github.com/laravel

Brand:
https://github.com/laravel/art

Brand Legacy:
https://github.com/laravel/art/tree/master/legacy

[2022-06-20 21:10] asportnoy opened #1223 "[ICON REQUEST]: Stackoverflow"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

I think it's self-explanitory 😂

### Links and sources

https://stackoverflow.com
https://stackoverflow.design/brand/logo/
https://fontawesome.com/icons/stack-overflow?s=brands

### Additional information

This was requested in #79 but @Thomas-Boi said to split into individual issues

[2022-06-21 07:44] Snailedlt commented on #327
@amacado @Panquesito7
This should have the in-develop label

[2022-06-21 08:24] #327 closed

[2022-06-21 09:49] amacado commented on #1223
I think `stackoverflow` is an edge case. I'm not sure if this is compliant to this projects purpose since it's a community and not a technology or development tool in first place.

[2022-06-21 10:58] asportnoy commented on #1223
There are already non-development tools in the project, like linkedin and twitter. Stackoverflow is more dev related than either of those.

[2022-06-21 12:02] amacado commented on #1223
It's true that linkedin in twitter are already in this project, but if you follow this discussion https://github.com/devicons/devicon/discussions/353 you'll see that "Social media platforms" are on the "not allowed" list. Twitter and LinkedIn are "old" icons from early age of this project. We decided to not remove them in terms of backwards compatibility but we probably would not add twitter, link

[2022-06-21 21:08] asportnoy commented on #1223
I'd personally consider stackoverflow a development tool since its primary purpose has to do with code. While it is an edge case, I think it makes sense to include. There's also not really a downside to including it.

[2022-06-22 12:30] neysimoes opened #1225 "[ICON REQUEST]: Medium"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Medium is a social publishing platform that is open to all and home to a diverse array of stories, ideas, and perspectives.

### Links and sources

https://medium.com/
https://medium.design/logos-and-brand-guidelines-f1a01a733592
https://medium.com/blogging-guide/mediums-new-logo-2020-unfinished-

[2022-06-22 16:15] #1225 closed

[2022-06-26 14:30] RyanSweeney987 opened #1231 "[ICON REQUEST]: OpenCL & CUDA"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Both are languages for parallel computing

### Links and sources

https://www.khronos.org/opencl/
https://developer.apple.com/licensing-trademarks/opencl/

https://developer.nvidia.com/cuda-toolkit
https://www.nvidia.com/en-gb/about-nvidia/legal-info/logo-brand-usage/
https://catalog.ngc.nvidia.c

[2022-06-26 15:03] amacado commented on #1231
Please create separated issues for each icon. Thank you! :-) You can edit this to show only one icon and create a second issue for the other! :) This makes it more easy to track changes and the current development! :)

[2022-06-26 15:03] #1231 closed

[2022-06-26 23:30] annihilatorrrr opened #1232 "[ICON REQUEST]: Goland"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Goland is a popular ide of jetbrains for Golang.

### Links and sources

https://www.jetbrains.com/go/

### Additional information

nil

[2022-06-27 00:19] Robinerra commented on #1223
I think this should be included as an edge case, it's either a community or a tool for development depending on what perspective you look at it from.

One perspective for example, their [teams service](https://stackoverflow.co/teams/) is definitely a tool for development.

[2022-06-27 12:26] RyanSweeney987 opened #1233 "[ICON REQUEST]: OpenCL"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Is a programming language and SDK used for parallel computing

### Links and sources

https://www.khronos.org/opencl/
https://developer.apple.com/licensing-trademarks/opencl/

### Additional information

_No response_

[2022-06-27 12:28] RyanSweeney987 commented on #1231
I edited this one and added a new one as suggested :)

[2022-07-01 19:38] canaleal opened #1246 "[ICON REQUEST]: Photopea"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Photopea is a web-based photo and graphics editor. It is used for image editing, making illustrations, web design or converting between different image formats. It's similar to GIMP and Photoshop.

### Links and sources

Official Tool:
https://www.photopea.com/

Github:
https://github.com/photope

[2022-07-02 19:19] Robinerra opened #1249 "[ICON REQUEST]: Bevy Engine"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Bevy is a game engine written & scripted in rust that's gaining traction.

### Links and sources

https://bevyengine.org/
https://bevyengine.org/assets/bevy_logo_dark.svg

### Additional information

_No response_

[2022-07-03 14:22] kilian-paquier commented on #1218
Hello @Snailedlt, where would you like the section to be ? Juste above the list of icons, under the search field ? At the right ? Left ? Or anywhere else ?

[2022-07-03 16:16] kilian-paquier commented on #1210
Hello @Snailedlt, in the `devicon.json`, what could be the best attribute name for this matter ?

- `terms_of_service`
- `tos`
- `termOfService`
- `termofservice`

Other ?

Do you think of anything we should add in addition to the TOS url if applicable ?

[2022-07-03 17:41] grandslammer opened #1259 "[ICON REQUEST]: Affinity Designer/Photo/Publisher (all 3 Affinity products)"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Excellent Adobe Illustrator, Photoshop and InDesign alternatives that is quite popular

### Links and sources

https://affinity.serif.com/en-gb/

I strongly recommend these products as they are on-par with their Adobe equivalents for a fraction of the price. One-time payment with free updates for

[2022-07-04 18:09] Snailedlt commented on #1218
@kilian-paquier Hi!
I was thinking either at the very top, or below the search field :)

Depends on if we wanna change it based on the current search or not

[2022-07-04 18:22] Snailedlt commented on #1210
Imo it should be cameCase and descriptive. So `termsOfService` sounds good!

Relevant SO answer to what casing standards are used in json: https://stackoverflow.com/a/19287394/12206312

[2022-07-04 18:36] kilian-paquier commented on #1210
Ok, going on that base then, I was thinking on showing the link above the section `Font version` in a new section called `Terms of Service (TOS)`, on the left side in the selectedIcon section.

[2022-07-04 18:47] kilian-paquier commented on #1218
Seems good to me to update the value when a search is done, don't you think ? So, below the search field ? Right side ? Left side ?

[2022-07-04 21:25] Snailedlt commented on #1218
Yeah, underneath sounds good.

2s draft:
![image](https://user-images.githubusercontent.com/43886029/177217838-1e6a02df-e3cb-4ef0-8854-f40bdaa59c40.png)

[2022-07-07 23:29] LariMoro20 opened #1260 "[ICON REQUEST]: Quasar Framework"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Quasar is a framework for vuejs, developed with a focus on high performance and the development of web and mobile applications.

### Links and sources

- Official site: https://quasar.dev/
- Official Logo: https://cdn.quasar.dev/logo-v2/svg/logo.svg
- Vertical Logo: https://cdn.quasar.dev/logo-v2

[2022-07-10 17:41] AbdelrahmanDwedar opened #1262 "[ICON REQUEST]: FaunaDB"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Fauna is a database that is used wildly these days and I have heard a lot about it and how it uses a great new way of saving data. But I was confused when I didn't find it on Devicon at all.

### Links and sources

- [about](https://fauna.com/about)
I didn't find a good equality picture or SVG of

[2022-07-11 11:50] abrudz commented on #879
Update:

About: https://apl.wiki
SVG link: https://github.com/abrudz/logos/blob/main/apl/green.svg
Learn more about APL: https://apl.wiki/Introductions

[2022-07-11 14:27] SIMULATAN opened #1264 "[ICON REQUEST]: (Oh My) ZSH"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

ZSH is quite a popular shell, used by many developers, often in conjunction with Oh My ZSH (147k GitHub stars)

### Links and sources

ZSH (shell itself): https://commons.wikimedia.org/wiki/File:Z_Shell_Logo_Color_Vertical.svg
Oh My ZSH (configuration framework): https://ohmyz.sh/img/ohmyzsh-orig

[2022-07-11 14:32] SIMULATAN commented on #717
Any updates?

The SVG version of the images in the original issue are here:
neovim-logo-flat:
![neovim-logo-flat](https://user-images.githubusercontent.com/63104422/178288421-f837ca66-85b4-42b5-a30e-f971d12d6bca.svg)
neovim-mark:
![neovim-mark](https://user-images.githubusercontent.com/63104422/178288469-ddb93ca9-5827-45b3-9cc7-450368984bea.svg)

[2022-07-12 02:22] AbdelrahmanDwedar commented on #1262
## Update:
I found a higher equality png picture here:
[https://dbdb.io/media/logos/fauna2020.png](https://dbdb.io/media/logos/fauna2020.png)

But it's added along the name, so I tried to cut it like so:
![fauna logo](https://user-images.githubusercontent.com/67812625/178394648-72bf2d52-2bc0-42f3-beea-95a3fd17486c.png)

[2022-07-12 02:39] AbdelrahmanDwedar commented on #1031
And This is the one without the name if you want to:
![MariaDB)](https://user-images.githubusercontent.com/67812625/178396669-86ea827e-4d3d-4c64-a457-fbff05971ca3.png)

[2022-07-12 14:53] kilian-paquier commented on #1210
Hello @Snailedlt,

I've made a fast new section for the TOS, what could be improved (font-family, size, etc.) ? Is the place fine ?

![image](https://user-images.githubusercontent.com/107955904/178519621-6e6075f6-8e40-4667-b445-d33c6ae8c433.png)

[2022-07-12 15:02] SIMULATAN commented on #1264
It would be great to have both, but I think that OMZ is definitely more important, since it is the one actually doing the "magic"

[2022-07-12 17:01] kilian-paquier commented on #1218
Hello @Snailedlt,

Here's a draft :

![image](https://user-images.githubusercontent.com/107955904/178550166-a8012592-c5eb-4a2e-9463-1b52572929e0.png)

I'm just asking myself, what's the value of the average numbers ? While implementing it, I don't find any add value.
What's for you the difference (in your initial message) between icons and logos ?

[2022-07-12 22:16] Snailedlt commented on #1210
@kilian-paquier
Looks fine to me.

I would put it at the bottom instead of the top though :)

[2022-07-12 22:22] Snailedlt commented on #1218
@kilian-paquier
Looks good, but can we have the numbers side by side instead of underneath eachother? That way it doesn't take up too much space on the page.

I guess the value is for people to see the quality of our dataset. A larger average would indicate better quality. Making the number a float/double instead of an integer would provide more value I guess.

As for what's the difference between

[2022-07-13 10:33] kilian-paquier commented on #1218
Hello @Snailedlt, something like that ? I reused the current vocabulary, to avoid any ambiguity.

![image](https://user-images.githubusercontent.com/107955904/178713586-0aab93f6-1824-4c9e-aa9b-8e1705173197.png)

[2022-07-14 07:20] kilian-paquier commented on #1218
More @Snailedlt ?

![image](https://user-images.githubusercontent.com/107955904/178925005-7afbd1b8-a654-46ca-bcc1-a1e288de5b25.png)

[2022-07-14 21:03] Snailedlt commented on #1218
imo, yes! heheh :)

The divs can look something like this:
![image](https://user-images.githubusercontent.com/43886029/179083676-21e9b0b4-e334-400b-a2f2-06eeb368802a.png)

Each box can then have left aligned text

[2022-07-16 15:29] jeremyxwing opened #1271 "[ICON REQUEST]: Stripe"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

For developers who want to showcase their proficiency with or use of Stripe / the Stripe API

### Links and sources

https://brandfolder.com/s/h3jbwkqfhbv9s9k4b9qpt3x

### Additional information

As I see more developers using Devicons on their resume, it occurred to me that some may want to use

[2022-07-16 15:34] jeremyxwing commented on #1264
I wonder if more people would be familiar with ZSH as a common default vs Oh My ZSH as a plugin for enthusiasts. I would assume anyone using a ZSH icon is also indicating Oh My ZSH. The Oh My ZSH icon might also not look great when it's small with all the people in it.

[2022-07-16 15:36] SIMULATAN commented on #1264
OMZ isn't really a plugin for enthusiastics, but rather, it's mostly the reason for using ZSH in the first place.

[2022-07-16 15:41] jeremyxwing commented on #1264
@SIMULATAN You're not wrong! 🤘

[2022-07-16 18:21] alerafart opened #1272 "[ICON REQUEST]: Lumen from Laravel"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Laravel's micro framework

### Links and sources

Oficcial Lumen website
https://lumen.laravel.com/docs/9.x

Svg ressource logo
https://worldvectorlogo.com/logo/lumen-1

### Additional information

thanks

[2022-07-16 20:40] amacado commented on #1271
Hello @jeremyxwing, thank you for creating a issue. Unfortunately, if you read carefully trough our guide about [What Icons Do We Accept?](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F) you'll probably notice that Stripe does not fulfill our requirements. Yes, it provides an API, but nowadays almost every tool does provide an API, and we won't add my fridge's icon to this rep

[2022-07-16 20:40] #1271 closed

[2022-07-17 13:44] kilian-paquier commented on #992
Related to https://github.com/devicons/devicon/issues/977 cause it's the same icon as those registered today with inverted colors.

[2022-07-19 23:41] jisatsu-eh3 opened #1275 "[ICON REQUEST]: <icon name>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Akash Cloud

### Links and sources

Official website: https://akash.network/
Repo with logo: https://github.com/ovrclk/akash/blob/master/_docs/img/logo-label-black.svg

### Additional information

_No response_

[2022-07-20 07:18] amacado commented on #1275
Hi! Please provide more information about akash. I'm not yet convinced that it follows our guidelines about what icons are accepted. I'm between "need discussion" and "not allowed" (https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#need-discussions)

[2022-07-20 22:06] jisatsu-eh3 commented on #1275
Hello,
Seems to fall under Special cases?
Akash is a distributed peer to peer cloud computing service, so they compete with AWS, Azure, etc.
The main difference is that it's blockchain based so you pay in crypto.

[2022-07-20 23:53] Snailedlt opened #1277 "[FEATURE REQUEST] Automatically convert svg styles to attributes"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Upon fixing some stuff (#1276) causing a bug in the [react-devicons](https://github.com/devicons/react-devicons) project, I noticed that the process of converting SVG styles to attributes can be automated.

Some projects using devicons, like react-devicons will fail if styles are used in the SVG icons.

[2022-07-20 23:53] Snailedlt commented on #1277
@devicons/supporter @devicons/ecosystem-react What do you guys think of this feature?

[2022-07-21 15:51] maltejur commented on #1277
Sounds great but somebody would have to implement it.

[2022-07-21 15:55] maltejur commented on #1277
Alternatively SVGO could also be directly integrated into react-devicons.

[2022-07-21 16:21] maltejur commented on #1277
Upon looking a bit further into it I think that [convertStyleToAttrs.js](https://github.com/svg/svgo/blob/main/plugins/convertStyleToAttrs.js) does something entirely different. It converts a single style attribute on one element to multiple independent attributes on the same element. But our problem is with style **elements**, not attributes.

[2022-07-21 16:23] maltejur commented on #1277
This is what we need: https://github.com/svg/svgo/blob/main/plugins/removeStyleElement.js
But it just removes the style element entirely

[2022-07-21 16:27] maltejur commented on #1277
I've gone ahead and added [removeStyleElement.js](https://github.com/svg/svgo/blob/main/plugins/removeStyleElement.js) to react-devicons: https://github.com/devicons/react-devicons/pull/14

[2022-07-21 19:36] Snailedlt commented on #1277
@maltejur Yeah looks like you're right!

I found what we need though. Instead of just removing the style element, we want to convert it to inline style attributes. This can be done with this script: https://github.com/svg/svgo/blob/main/plugins/inlineStyles.js

Description of what it does here: https://github.com/svg/svgo#built-in-plugins

| Plugin

[2022-07-21 19:37] Snailedlt commented on #1277
Great, but like I mentioned above, I think what we need is actually the [inlineStyles.js](https://github.com/svg/svgo/blob/main/plugins/inlineStyles.js) script

[2022-07-23 14:14] alexusbernard17 opened #1278 "[ICON REQUEST]: <Postman>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Good back end API tool

### Links and sources

https://www.postman.com/

### Additional information

_No response_

[2022-07-23 14:40] kilian-paquier commented on #1278
Already done, but not yet merged : #1237. There was also already an issue for postman #933 #159

[2022-07-23 14:58] alexusbernard17 commented on #1278
thanks, how long will it take to be merged?

[2022-07-23 15:46] kilian-paquier commented on #1278
@alexusbernard17, it depends, when validated, it will be merged into develop. But you'll have to wait until the release to use the icons, which can be longer.

[2022-07-23 21:46] Snailedlt commented on #1278
duplicate of #933

[2022-07-23 21:46] #1278 closed

[2022-07-24 00:39] Snailedlt commented on #1125
@kilian-paquier You wanna try to tackle this one?

[2022-07-24 01:04] Snailedlt opened #1279 "[ICON REQUEST]: nano"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

GNU text editor in the terminal

### Links and sources

[Website](https://www.nano-editor.org/)

### Images

[PNG](https://commons.wikimedia.org/wiki/File:GNU-Nano-Logo.png)
![image](https://user-images.githubusercontent.com/43886029/180627718-8140c820-526e-42ac-9397-f41a3fd925dd.png)

[PNG Wordm

[2022-07-24 01:15] Snailedlt opened #1280 "[ICON REQUEST]: Azure SQL Database"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Part of the Azure SQL family, Azure SQL Database is an always-up-to-date, fully managed relational database service built for the cloud.

### Links and sources

[Website](https://azure.microsoft.com/en-us/products/azure-sql/database/)

[Official SVG Logo](https://azure.microsoft.com/en-us/product

[2022-07-24 01:22] Snailedlt opened #1281 "[ICON REQUEST]: Azure DevOps"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Services for teams to share code, track work, and ship software (Microsoft's answer to GitHub, before they acquired GitHub)

### Links and sources

[Website](https://azure.microsoft.com/en-us/services/devops/)

SVG (From their website)
![Logo](https://azurecomcdn.azureedge.net/cvt-3f057ebb0edf14b

[2022-07-24 01:57] Snailedlt opened #1282 "[ICON REQUEST]: bun"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Bun is a fast all-in-one JavaScript runtime

### Links and sources

[Website](https://bun.sh/)
[GitHub](https://github.com/oven-sh/bun)

### SVG Logo
![Logo](https://bun.sh/logo.svg)

### Additional information

_No response_

[2022-07-24 02:02] Snailedlt commented on #1220
https://www.youtube.com/watch?v=-X8evddpu7M

[2022-07-24 02:07] Snailedlt commented on #367
[Website](https://webassembly.org/)

[2022-07-24 02:13] Snailedlt opened #1283 "[ICON REQUEST]: Elixir"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Elixir is a dynamic, functional language for building scalable and maintainable applications.

### Links and sources

https://elixir-lang.org/

### PNG (Official)
https://github.com/elixir-lang/elixir-lang.github.com/tree/main/downloads/logos
![image](https://github.com/elixir-lang/elixir-lang.gi

[2022-07-24 02:19] Snailedlt commented on #984
https://www.prisma.io/

## SVG (Official from website)
![image](https://website-v9.vercel.app/logo-dark.svg)

[2022-07-24 02:26] Snailedlt commented on #984
Created a non-wordmark version from the official one:
![prisma](https://user-images.githubusercontent.com/43886029/180629558-30632e74-1fa9-496f-8c27-2c9a0a5dc645.svg)

[2022-07-24 02:41] Snailedlt opened #1284 "[ICON REQUEST]: Auth0"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

User authentication and authorization platform

### Links and sources

https://auth0.com/
https://github.com/auth0

### SVG (Official from website)
![auth0](https://user-images.githubusercontent.com/43886029/180629667-bdc3cc07-132a-4e5d-995f-4684cb389b4b.svg)

### SVG (Official from GitHub)
All l

[2022-07-24 02:44] Snailedlt commented on #293
Website -> https://reactnative.dev/
Logo from Website:
![](https://d33wubrfki0l68.cloudfront.net/554c3b0e09cf167f0281fda839a5433f2040b349/ecfc9/img/header_logo.svg)

[2022-07-24 02:53] Snailedlt opened #1285 "[ICON REQUEST]: D3"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

D3.js is a JavaScript library for manipulating documents based on data.

### Links and sources

https://d3js.org
https://github.com/d3/d3-logo
They made a separate repo just for their logos! Now that's dedication

### All logos

| Variant | PNG | SVG |
|---------|-----|-----|
| orange | [<img src

[2022-07-24 03:00] Snailedlt commented on #1285
ohh, just realized this is already available on devicons.dev :/

[2022-07-24 03:00] #1285 closed

[2022-07-24 03:10] Snailedlt opened #1286 "[ICON REQUEST]: Sentry"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Sentry is cross-platform application monitoring, with a focus on error reporting.

### Links and sources

Website -> https://sentry.io/
GitHub -> https://github.com/getsentry/sentry
Logos -> https://sentry.io/branding/

### SVG (official from website)
![sentry-wordmark-dark-400x119](https://user-

[2022-07-24 03:19] Snailedlt opened #1287 "[ICON REQUEST]: WebGL"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

WebGL™ is a cross-platform, royalty-free open web standard for a low-level 3D graphics API based on OpenGL ES, exposed to ECMAScript via the HTML5 Canvas element.

### Links and sources

https://get.webgl.org/
https://www.khronos.org/webgl/
https://github.com/KhronosGroup/WebGL
https://developer.

[2022-07-24 07:31] kilian-paquier commented on #1125
My favorite products ❤️ Will take care of that one yep, I'll add "fleet" too, their next IDE (multilingual like IntelliJ)

[2022-07-24 10:07] kilian-paquier commented on #1125
@Kek5chen Hello, thank you for your contribution, even if it's in your fork repository. I'm going to use your original's icons (with small modifications) and tag you as co-author if it's ok for you.

[2022-07-24 10:08] Kek5chen commented on #1125
sure thing, thanks. i'm glad i could help somewhat. i'm also happy that i can finally close the repository.

[2022-07-24 10:12] kilian-paquier commented on #1125
Don't close it too soon, I didn't copy all the icons yet 😁

[2022-07-24 10:12] Kek5chen commented on #1125
of course not. i'll wait for this issue to be resolved first

[2022-07-24 10:31] kilian-paquier commented on #1125
@Snailedlt @Kek5chen Maybe we could defining a main color for our plain icons, instead of black ?

[2022-07-24 11:09] Snailedlt commented on #1125
@kilian-paquier If you do, make sure it's one from their color pallette here:
https://www.jetbrains.com/company/brand/

[2022-07-24 11:22] kilian-paquier commented on #1125
Ok I'm going to look into this.

Also, I found this : https://github.com/JetBrains/logos
I'm going to use those icons for the PR's, that's why I made "draft" the opened ones.

[2022-07-24 11:27] Snailedlt commented on #1135
@kilian-paquier @luca-drf
As far as I can tell Perforce (the product) has been renamed to Helix Core now. Perforce is still being used as the company name, but since we only accept products, and not company logos, I can't accept your PR, nor this issue. Let me know if I'm wrong, and perforce is also a product logo, and I will open up the issue again.

Source:
https://www.perforce.com/blog/what-is-

[2022-07-24 11:27] #1135 closed

[2022-07-24 11:54] kilian-paquier commented on #1135
Yep, I confirm after a light search.

[2022-07-24 12:17] Snailedlt commented on #1125
@kilian-paquier yeah everything you need should be in that link I sent :)
TOS is there too

[2022-07-24 14:53] a3510377 opened #1295 "[BUG] sass miss tag `scss`"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

sass miss tag `scss` in [devicon.json](https://github.com/devicons/devicon/blob/master/devicon.json#L4176-L4197)

### Possible fixes or solutions

in `tags` add "scss"

### Additional information

_No response_

[2022-07-25 03:47] MatthewPerryDev commented on #785
Any updates on this?

[2022-07-25 16:20] BenSouchet commented on #1277
Hi, yes @Snailedlt is right, removing the style in svg elements will break lots of SVG icons.

The conversion from this inline style:
[code]
To this HTML attributes styling:
[code]
is required to preserve / not break icons.

Personally, when I add new icons I always use the style HTML attributes, but some old icons still have inline `style=""`.

[2022-07-25 16:27] BenSouchet commented on #1223
My opinion is, since Stack Overflow provide a commercial Teams version (used at work by people) I would be tempted to say that it belongs here.

**But** knowing that the icon / logo is already added in Font Awesome (Free & Paid versions), and nowadays almost everyone load Font Awesome in their website, so it's a bit of a "duplicate".

I would be interested to know in which context you want to use

[2022-07-25 17:08] BenSouchet commented on #785
Hi, just added a PR #1298 to add the Cloudflare icons.
For the Cloudflare workers I will work on it tomorrow.

[2022-07-25 17:15] Snailedlt commented on #1277
@BenSouchet
I think you're misunderstanding the issue here (just like I was earlier). You're talking about the style attribute, and not the style element, which is where the problem lies.

Style attribute looks like this:
[code]
Style element looks like this:
[code]

[2022-07-25 18:04] BenSouchet opened #1299 "[FEATURE REQUEST] Removing `style=""` in SVG files"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Currently there is more than 100 SVG files that contains the syntax `style="SOME_STYLING"`.
This syntax can lead to errors, issues or buggy situations.

### Why

Because the SVGs are used to generate a font, to ensure quality, reduce potential bugs on SVGs, I think configuration should be done only via

[2022-07-25 18:06] BenSouchet commented on #1277
@Snailedlt Ah okay my bad 🙂

I opened an issue but it's not a priority, nor a vital element.

[2022-07-25 19:34] Snailedlt commented on #785
@izzqz Can you please split this into two issues?
One issue for each icon like described here: https://github.com/devicons/devicon/wiki/Requesting-an-Icon

[2022-07-25 19:40] Snailedlt commented on #1264
@SIMULATAN Nice one. Could you make a separate request for ZSH too?

Like it's explained here, every icon should have it's own separate issue -> https://github.com/devicons/devicon/wiki/Requesting-an-Icon

[2022-07-25 19:40] BenSouchet commented on #1246
Hi, according to the guideline :
https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F

**Photopea** is a great alternative of Photoshop or Gimp but it's doesn't fall in one category related to code / dev.

[2022-07-25 19:44] BenSouchet commented on #1264
And for info the ZSH official logo : https://github.com/Zsh-art/logo
I get the link from the news page of the ZSH org: https://zsh.sourceforge.io/News/

[2022-07-25 19:52] Snailedlt commented on #1264
I wonder which icon they would prefer us to use for the original icon, since they have two different ones that both seem pretty official. I'd assume the one with color is the one to use, but can't find a SVG version of it.

![logo with color](https://ohmyzsh.s3.amazonaws.com/omz-ansi-github.png)
![logo without color](https://ohmyz.sh/img/ohmyzsh-original-logo.svg)

[2022-07-25 19:56] BenSouchet commented on #1264
@Snailedlt In my PR I use the one provided by the creator of Oh My Zsh here : https://github.com/ohmyzsh/ohmyzsh/issues/11019#issuecomment-1179648449

The retro one with color isn't the main one, it's a retro variant they created after.

[2022-07-25 20:03] Snailedlt commented on #1264
@BenSouchet Hmm okey, both seem to be official, and the new retro one is being called their logo in some of their commit messages. I guess we can ask them directly which one they prefer :)

[2022-07-25 20:07] BenSouchet commented on #1264
@Snailedlt Like I said, the creator of the tool give the the SVG logo file, why do you want to ask, or use the retro one? Since it's more complicated and also not possible to use in the devicon font.

You can still ask but no one will ever vectorize the retro one, it's terminal "ascii" art.

[2022-07-25 20:07] Snailedlt commented on #1264
@mcornella @robbyrussell
Hi! Any chance you can shed some light on what icon `Oh My Zsh` thinks should be included here?

[2022-07-25 20:08] Snailedlt commented on #1264
a.k.a. which one do you prefer, and which one is the official one?

[2022-07-25 20:09] BenSouchet commented on #1264
Nice spam...

[2022-07-25 20:21] Snailedlt opened #1300 "[ICON REQUEST]: moleculer"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Progressive microservices framework for Node.js.

### Links and sources

Website -> https://moleculer.services/
Logos -> https://github.com/moleculerjs/branding/tree/master/logo

#### SVG's (official)
![](https://raw.githubusercontent.com/moleculerjs/branding/1c6ed7d38c121732cc6702b0318e47ae74b5b

[2022-07-25 20:21] Snailedlt commented on #1300
related to #1296

[2022-07-25 20:21] Snailedlt commented on #1300
@kilian-paquier

[2022-07-25 20:22] Snailedlt commented on #1300
We should see if we can find (or make) one of the wordmark logos here

[2022-07-25 20:24] kilian-paquier commented on #1300
https://raw.githubusercontent.com/moleculerjs/branding/master/logo/logo_with_text_vertical.png

This one seems good, just need to find it in SVG

[2022-07-25 20:26] Snailedlt commented on #1300
Yeah agreed. Hopefully it's out there somewhere

[2022-07-25 20:58] Snailedlt opened #1301 "[OTHER] .NET icon folder is inconsistent with naming convention"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

The naming convention for icon folders (and icons) is to join all the words in the name, without any delimiters. The .NET (dot-net) folder though, is inconsistent with this convention.

This can be fixed by renaming the folder and icons to be `dotnet` in one word. To ensure that `d

[2022-07-25 21:36] Snailedlt commented on #1272
duplicate of #133

[2022-07-25 21:36] #1272 closed

[2022-07-25 21:58] BenSouchet commented on #1301
/!\ **Carefull** this change can break all the users currently using the dot-net icon! since in their code when they use it there is `devicon-dot-net-plain`

[2022-07-25 22:00] BenSouchet commented on #1259
Hi, according to the guideline :
https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F

The affinity softwares does not enter in one of the category for devicon, since this is not related to code / dev.

[2022-07-25 22:02] BenSouchet commented on #1178
Hi, according to the guideline :
https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F

The Krita does not enter in one of the category for devicon, since this is not related to code / dev.

[2022-07-25 22:37] Snailedlt commented on #1301
@BenSouchet damm, I think you're right :(
We need to be clever about this, in order to ensure backwards compatibility.

I think this is an issue that can be handled eventually though, when we approach a new major release. Because of that I'll keep the issue open, but won't do anything until we have another major release ready

[2022-07-25 23:21] ArenasAgustin opened #1303 "[ICON REQUEST]: JSON"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Popular lightweight data exchange format

### Links and sources

![image](https://user-images.githubusercontent.com/72575052/180890385-0c8f61dc-3d8b-48ad-9109-a5e2a7b7d81c.png)
 https://upload.wikimedia.org/wikipedia/commons/c/c9/JSON_vector_logo.svg

![image](https://user-images.githubuserconten

[2022-07-26 09:35] grandslammer commented on #1259
I think that they do fall under the special cases > related fields category - see [Special Cases](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#special-cases-see-this-discussion-for-more-details)

[2022-07-26 09:45] mcornella commented on #1264
@Snailedlt please use the vectorized old logo. The ascii art variant is not supposed to be used as the main one.

[2022-07-26 09:55] Snailedlt commented on #1264
Great, thank you for your quick response @mcornella 💯

[2022-07-26 10:03] BenSouchet commented on #1264
@Snailedlt I don't want to be rude but you need to stop being so picky, you want to do things good but when you already have an anwser, you can see the logo used in the website, you have an issue answered by the creator of the tool with the SVG file, why in hell do you want to ping people ??

By doing this you devalue the work of people like me creating PRs.

[2022-07-26 10:08] BenSouchet commented on #1259
It will take more explanations / arguments to convince me on that.

[2022-07-26 10:21] Snailedlt commented on #1264
@BenSouchet
First of all I'm sorry if I was rude. That's never been my intention.

Imo being picky is a good thing though. It prevents bugs, typos, misunderstandings and a bunch of other problems that would otherwise need to be fixed afterwards. Overall it saves time, and improves quality.

I see you answered already, but no offense, your answer is not an official one. There have been times before

[2022-07-26 10:23] Snailedlt opened #1304 "[ICON REQUEST]: AWK"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

AWK (awk) is a domain-specific language designed for text processing and typically used as a data extraction and reporting tool. Like sed and grep, it is a filter, and is a standard feature of most Unix-like operating systems.

### Links and sources

wikipedia -> https://en.wikipedia.org/wiki/AWK

[2022-07-26 10:38] BenSouchet commented on #1264
@Snailedlt
After all the elements that was listed above I can't believe that a doubt remained on the icon to use, in my opinion I think it's more about your ego, you are picky (way too much) to show that you have something to say.

My opinion :
On each PR you look for things to say. Having relevant feedback is good but when it is more on the subjective side it has no place (in my opinion) in a PR

[2022-07-26 10:57] Snailedlt commented on #1264
@BenSouchet I think you're right about me being too picky sometimes (or maybe often). I do still think it was a good idea to ask though. It took what, like 1min to ask? and we got a concrete answer from the maintainer of the project. Now there's no doubt at all which icon we should use, and there's no need for a discussion.

You say subjective things have no say in the matter. Isn't that another r

[2022-07-26 11:07] Snailedlt commented on #1299
+1
@devicons/maintainer
What do you guys think?

[2022-07-26 11:55] BenSouchet commented on #1279
I created these SVGs, pretty heavy files (128kB et 343kB) since for compatibility font characters need to be vectors / paths):
![nano](https://user-images.githubusercontent.com/17025808/180998200-ea51c7d1-1b2b-4b4e-a298-142674201d26.svg)
![nanow](https://user-images.githubusercontent.com/17025808/180999766-79711140-fd5a-4efd-9bef-0572cfd1d7ce.svg)

[2022-07-26 11:58] Snailedlt commented on #1279
@BenSouchet Nice work!
How did you go about creating the icons? they look spot on

[2022-07-26 12:05] BenSouchet commented on #1279
@Snailedlt
With **Adobe Illustrator**, you have the possibility to convert text(s) to paths, then you export as SVG, after that I optimize the SVG via https://jakearchibald.github.io/svgomg/ , for me the best SVG optimizer available then I ensure the SVG is properly formatter (no `style=""`).

When I need to create vectors from scratch, I start with **Photoshop** (I know it's weird, but for me way

[2022-07-26 12:43] BenSouchet commented on #1279
@Snailedlt

I think **SVGOMG** is in between beginners and advance users, it's a very good tool to properly optimize SVG files.

If you want for the documentation the steps are:
1. Copy the full SVG code of the SVG you want to optimize
<img width="939" alt="01" src="https://user-images.githubusercontent.com/17025808/181004756-3d532b07-1656-4745-a1b1-20ac3706ace9.png">

2. Go to **SVGOMG**, on the

[2022-07-26 12:44] Snailedlt opened #1305 "[BUG] `bot:peek` sometimes doesn't post a message on the PR, even though all action steps are successful"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

This is a weird one. Sometimes when I assign the `bot:peek` label, it runs fine, but doesn't post a comment on the PR. When I skimmed through the action I couldn't find anything obvious that was failing. Granted I read through it very quickly since I don't have time right now.

This has happened

[2022-07-26 12:48] BenSouchet commented on #1279
There is also pretty good features in https://www.svgviewer.dev/ but these aren't activate by default:
You need to click on Options
<img width="384" alt="Screenshot 2022-07-26 at 14 45 26" src="https://user-images.githubusercontent.com/17025808/181009034-d3c5689f-afa5-47d0-bfa3-08f01073c1a9.png">

Then for example active the **convertStyleToAttrs**
<img width="213" alt="Screenshot 2022-07-26 at 14

[2022-07-26 13:05] Snailedlt opened #1306 "[OTHER] Extending wiki with tutorials for each recommended tool"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

It would be nice if we had a wiki page with tutorials for all the recommended tools. This can of course be added incrementally.

@BenSouchet Has already made a quick tutorial for a new tool recommendation here -> https://github.com/devicons/devicon/issues/1279#issuecomment-11954332

[2022-07-26 13:15] Snailedlt opened #1308 "[ICON REQUEST]: Cloudflare Workers"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Deploy serverless code instantly across the globe to give it exceptional performance, reliability, and scale.

### Links and sources

Website -> https://workers.cloudflare.com/
Cloudflare workers logos -> https://github.com/cloudflare/workers.cloudflare.com/tree/master/static/resources/logo

####

[2022-07-26 13:17] Snailedlt commented on #1308
As previously mentioned by @izzqz in #785

[2022-07-26 13:17] Snailedlt commented on #785
Made a new icon request, and edited this one so it can be closed with the next release

[2022-07-26 14:17] BenSouchet commented on #1031
Duplicate of #921 @Snailedlt

[2022-07-26 15:38] #1031 closed

[2022-07-26 16:19] Snailedlt commented on #921
@BenSouchet Did you start working on this? If not, I'll assign it to me, and start :)

[2022-07-26 16:23] BenSouchet commented on #921
@Snailedlt Yes you can, I haven't started this one :)

[2022-07-26 17:00] Snailedlt commented on #1304
The stems from the book `The AWK programming language` which is written by the authors of the AWK language.
https://en.wikipedia.org/wiki/The_AWK_Programming_Language
https://en.wikipedia.org/wiki/AWK

Since I can't find any other logo's for AWK, and since the wikipedia page uses this icon on both the book and the language, I'm going to assume this is the one we should use.

[2022-07-26 18:24] Snailedlt commented on #1305
The reason it happened with #1298 is because the PR title was wrong (https://github.com/devicons/devicon/pull/1298#issuecomment-1195439835).

We should probably handle this edge case though, so that we can know what the issue is more easily

[2022-07-27 12:11] BenSouchet commented on #1159
@Snailedlt Duplicate of #854

[2022-07-27 12:32] BenSouchet commented on #380
Since there is multiple logos / icons on the [Ressource page](https://nodered.org/about/resources/) of the Node-RED project, I asked [here](https://discourse.nodered.org/t/what-is-the-official-logo-icon-of-the-project/65692) what is the official logo to use.

[2022-07-27 12:42] BenSouchet commented on #826
Working on it! :)

[2022-07-27 13:22] Snailedlt commented on #1159
@RalphK66 As mentioned above, this is a duplicate. Please go over to the other issue and vote for it instead :)

[2022-07-27 13:22] #1159 closed

[2022-07-27 13:28] Snailedlt commented on #854
Logos can be found here -> https://www.netlify.com/press/#logos

👇 I prefer these ones 👇
## SVG's (official)

logomark.svg (`netlify-original`)
![](https://www.netlify.com/v3/img/components/logomark.svg)

logomark-light.svg (`netlify-plain`)
![](https://www.netlify.com/v3/img/components/logomark-light.svg)

full-logo-light.svg (`netlify-original-wordmark`)
![](https://www.netlify.com/v3/img/compon

[2022-07-27 13:38] BenSouchet commented on #567
Official icons repository : https://github.com/pugjs/pug-logo

[2022-07-27 14:32] BenSouchet commented on #1177
working on it 🙂

[2022-07-27 15:57] BenSouchet commented on #1176
Currently Devicon do not accept [Computer-aided design tools and Softwares](https://en.wikipedia.org/wiki/Computer-aided_design) (AutoCAD, Solidworks, SketchUp, ...).

See the accepted categories here: https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#not-allowed-not-exhaustive

There is the SVG icon, so if you want to add it manually, you can customize the font to add the icon [

[2022-07-27 16:36] kilian-paquier commented on #1125
All PR's created

[2022-07-27 21:01] BenSouchet opened #1325 "[BUG] `check-bot` check `-original` icons even when they won't be added to icomoon"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Currently `check-bot` perform check operations related to icomoon specifications like the "no usage of stroke(s) attribute(s) in paths" even when the icons won't be included in the devicon font.

### Possible fixes or solutions

When an icon `-plain.svg` exist in a PR, don't check `-original.svg

[2022-07-27 21:01] BenSouchet commented on #1325
The issue can be seen in this PR https://github.com/devicons/devicon/pull/1323

[2022-07-28 10:22] #1177 closed

[2022-07-28 10:23] #1176 closed

[2022-07-28 11:20] BenSouchet opened #1327 "[FEATURE REQUEST] Check placement of new entries in `devicon.json`"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Currently when someone contribute to Devicon via a PR to add a new set of icons this person can add the new entry in the `devicon.json` file anywhere.

**But** ignoring the alphabetic order in the JSON file can lead to issues / bugs / mistakes and merge conflicts.

Normally the entries order in the `dev

[2022-07-28 11:21] BenSouchet commented on #1308
PR created :)

[2022-07-28 14:32] Snailedlt commented on #1327
Another possible solution (like we already discussed in the linked PR) is to create a github action that automatically lints the devicon.json file for you.

[2022-07-28 17:05] Snailedlt opened #1328 "[BUG] Several files point to the wrong CONTRIBUTING guidelines"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

The contributing guidelines have been moved to the wiki pages, but several files are still telling users to take a look at the old contributing guidelines inside `CONTRIBUTING.md`. More specifically the [SVG Standards](https://github.com/devicons/devicon/blob/develop/CONTRIBUTING.md#svgStandards

[2022-07-28 17:08] Snailedlt opened #1329 "[BUG] `CONTRIBUTING.md` is outdated and should just link to the new contributing guidelines"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

`CONTRIBUTING..md` is full of outdated information, that has been superseded and replaced by the new wiki pages.

### Possible fixes or solutions

Replace all the content of `CONTRIBUTING.md` with a link to the wiki pages.

### Additional information

_No response_

[2022-07-28 17:17] Snailedlt opened #1330 "[BUG] `CODE_OF_CONDUCT.md` is outdated and should just link to the new Code of Conduct"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

[`CODE_OF_CONDUCT.md`](https://github.com/devicons/devicon/blob/master/CODE_OF_CONDUCT.md) is no longer updated, and has been replaced by the new wiki pages.

### Possible fixes or solutions

Replace all the content of [`CODE_OF_CONDUCT.md`](https://github.com/devicons/devicon/blob/master/CODE_O

[2022-07-28 17:59] Snailedlt commented on #1125
So many 👀

[2022-07-28 18:14] Snailedlt commented on #1327
I'm not sure we have such a checklist yet, maybe we should make one and add it to the wiki?

[2022-07-28 18:17] BenSouchet commented on #1327
I talk about this checklist:
<img width="815" alt="Screenshot 2022-07-28 at 20 15 32" src="https://user-images.githubusercontent.com/17025808/181608791-c7586373-ab4e-4618-bfc8-1c71b5218df8.png">
In the message / comment of the `peek:bot` ( check the message here https://github.com/devicons/devicon/pull/1324#issuecomment-1197142415 )

[2022-07-28 18:19] Snailedlt commented on #1327
@BenSouchet Ahh, okey! Yeah that makes sense.
Any idea where the code for the peek-bot is?

[2022-07-28 18:26] BenSouchet commented on #1327
@Snailedlt
Normally "bots" are Github Actions and actions are store as **workflow** in the folder `.github/workflows/`, for the specific message we are talking it's stored in the file: https://github.com/devicons/devicon/blob/develop/.github/workflows/post_peek_screenshot.yml

[2022-07-28 18:29] Snailedlt commented on #1327
@BenSouchet Thanks for both the insight and the direct link. Much appreciated!

[2022-07-28 19:37] Snailedlt commented on #1327
This is related btw: https://github.com/devicons/devicon/issues/987#issuecomment-1001154281

[2022-07-28 20:09] Snailedlt commented on #1328
Updated issue name since I found more places where the link hasn't been updated

[2022-07-28 20:25] BenSouchet commented on #1264
@SIMULATAN Please don't close the issue until a new version of Devicon as been release. So we can keep track of element added and others people can see the icon is in develop but no yet available on the current version.
@Snailedlt can you re-open it.

[2022-07-28 20:25] SIMULATAN commented on #1264
Implemented in b9023a5a309bdd4df0cc7ce093241fe1a2a1afc3, but unreleased right now.

[2022-07-28 20:27] SIMULATAN commented on #1264
Sorry for closing it too early - I'm not on my computer and just saw the PR was merged so I figured I'd close it, sorry for not checking before taking action :/

[2022-07-28 20:44] Snailedlt commented on #1264
No worries :)

[2022-07-30 18:08] Kellsonphilips opened #1334 "[ICON REQUEST]: <Motoko>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Motoko is a programming language for building directly on the internet for DApps.

### Links and sources

[Motoko Programming Language](https://internetcomputer.org/docs/current/developer-docs/build/languages/motoko/)
[Motoko Dfinity](https://stackoverflow.blog/2020/08/24/motoko-the-language-that

[2022-07-31 19:22] PySimpleGUI opened #1335 "[ICON REQUEST]: PySimpleGUI"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

GUIs are fun!  PySimpleGUI has a nice community of users.

### Links and sources

https://www.PySimpleGUI.com is the "official site" which is the GitHub
https://www.PySimpleGUI.org is where the documentation lives.

If you can give me some sizes and formats, I can supply you with logos.
This is t

[2022-08-01 11:50] PySimpleGUI commented on #1335
No problem... I'm getting SVG versions.

Thank you for your concern... indeed IP / Trademarks are important in projects... Having researched and read the guidelines you provided, I spoke with the PSF's trademark counsel at the beginning of the project and have written approval of this use.

I'll get back to you with SVG files.  Thanks for the rapid reply.

[2022-08-01 11:50] BenSouchet commented on #1334
Hi, the project seems to be at an early stage, I cannot find a place (Forum, Github repositories, ...) where they use the mascot as logo / icon.

In my opinion it would be good to wait a bit before adding it to the project, or ask officially on their forum what is the logo, and do they have an SVG version available?

[2022-08-01 13:31] Snailedlt commented on #1334
I agree with @BenSouchet, before we have some concrete evidence or statement saying this is their official logo, I'm hesitant to implement it

[2022-08-01 13:36] Kellsonphilips commented on #1334
I will have to get verification from the forum if that's their official icon and if they have SVG then refer back to @BenSouchet comment.

[2022-08-01 19:01] mcornella commented on #1264
Just for the record, it was not an issue to ask us @Snailedlt. And thanks @SIMULATAN for taking care of this :)

[2022-08-01 19:24] Snailedlt commented on #1264
Thank you @mcornella :heart:

The icon has been merged into develop now, and I think a new release is coming soon

[2022-08-02 21:11] abialdev opened #1336 "[ICON REQUEST]: <AL Programming Language>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

All AL developer's could reference for icon

### Links and sources

[https://marketplace.visualstudio.com/items?itemName=ms-dynamics-smb.al](https://marketplace.visualstudio.com/items?itemName=ms-dynamics-smb.al)

[https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/

[2022-08-06 00:29] Snailedlt opened #1337 "[OTHER] Alphabetically order devicon.json"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

Due to some recent merges, the devicon.json file has become unprdered. This should be fixed as soon as possible, and at the very least before the next release.

### Additional information

Alphabetically ordering the file wilø make it easier to find icons, as well as making it less

[2022-08-06 21:16] kilian-paquier commented on #1337
We could make a PR after merging the current PR.

There're a bunch online tools to reorder JSON's + format document (spaces, lines, etc.)

[2022-08-06 22:44] Snailedlt commented on #1337
Yeah. I think the best thing would be to use a linter like prettier or eslint to automatically sort it alphabetically when a new PR is created or something. But that might be a bit of work to implement unless someone here has done it before :)

[2022-08-07 13:21] Snailedlt commented on #104
UML is in develop. @h3t1 please make a new issue for assembly language. Remember, one issue per icon

[2022-08-11 05:29] tonie06 opened #1340 "[ICON REQUEST]: Bun"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Bun is a JS Runtime just like Deno and Node

### Links and sources

https://bun.sh/
https://github.com/oven-sh/bun

### Additional information

None

[2022-08-12 02:09] gagan-suie opened #1341 "[ICON REQUEST]: <icon name>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Perforce

### Links and sources

https://www.perforce.com/

### Additional information

Please add the perforce icon

[2022-08-12 08:24] BenSouchet commented on #1341
Please see this closed ticket https://github.com/devicons/devicon/issues/1135

[2022-08-12 08:26] gagan-suie commented on #1135
gotcha! ill make a request for Helix Core

[2022-08-12 08:27] gagan-suie opened #1342 "[ICON REQUEST]: Helix Core"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Its a version control system similar to github, bitbucket, and gitlab

### Links and sources

https://www.perforce.com/products/helix-core

### Additional information

_No response_

[2022-08-12 08:28] gagansuie opened #1343 "[ICON REQUEST]: TeamCity"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

TeamCity is a CICD tool by Jetbrains

### Links and sources

https://www.jetbrains.com/teamcity/

### Additional information

_No response_

[2022-08-12 08:39] BenSouchet commented on #1337
In my opinion the easiest way for now would be to create a PR to lint the file, and check if users place correctly the new entry, and finally add an `.editorconfig` at root of the project.

**EditorConfig** helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.

See https://editorconfig.org/ , I used it in multiple projects and

[2022-08-12 09:04] #1341 closed

[2022-08-12 09:06] Snailedlt commented on #1337
@BenSouchet sounds like a good start. Do you want to add it?

[2022-08-12 10:21] BenSouchet commented on #1337
@Snailedlt I just created this PR https://github.com/devicons/devicon/pull/1344 😊

[2022-08-12 10:24] BenSouchet commented on #1337
In the PR I mention in my prev comment, I talk about [spectral](https://github.com/stoplightio/spectral), a JSON linter that can be useful, and can maybe be linked in this project when a PR is merge in develop, or as an hook when maintainers add specific tag to a PR

[2022-08-12 11:35] BenSouchet commented on #1283
Hi, Elixir already exists on devicon :)

[2022-08-12 11:36] BenSouchet commented on #1340
Duplicate of https://github.com/devicons/devicon/issues/1282
@Snailedlt This can be closed 🙂

[2022-08-12 11:41] BenSouchet commented on #1223
Additionally you can add custom SVG icons into **Devicon** and build the font, check these links:
- https://github.com/devicons/devicon/wiki/How-We-Create-The-Icons
- https://github.com/devicons/devicon#go-build-yourself

[2022-08-12 14:53] #1340 closed

[2022-08-12 15:03] Snailedlt commented on #1283
@BenSouchet You're right, lol! I typo'd and wrote `Elexir` every time, so couldn't find i in the code, issues, PR's or website. Why can't people just typo like I do? Would make it so much easier 😂

[2022-08-12 15:03] #1283 closed

[2022-08-12 15:08] Snailedlt commented on #1337
Nice! I'll take a look soon (hopefully). Added Panquesito as a reviewer too

[2022-08-14 05:47] AbdelrahmanDwedar opened #1345 "[ICON REQUEST]: Materializecss"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Materialize is a CSS great framework used for making easy and simple material designs with out of the box pre-built classes.

### Links and sources

- [Materialize official website](http://materializecss.com/)
- [The icon from their resources section](http://materializecss.com/res/materialize.svg

[2022-08-15 16:03] balayokesh opened #1348 "[ICON REQUEST]: freelancer"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Many people want to put thier freelancer.com profile in their portfolio with its logo icon

### Links and sources

#### Website
https://freelancer.com

#### Icon 1:
https://www.f-cdn.com/assets/main/en/assets/default-notification-image.svg
![image](https://www.f-cdn.com/assets/main/en/assets/defa

[2022-08-19 23:07] ngdream opened #1352 "[ICON REQUEST]: V8"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

add icon for google v8  javascript engine

### Links and sources

https://v8.dev/logo

### Additional information

_No response_

[2022-08-19 23:13] DevBrunoRafael opened #1353 "[ICON REQUEST]: <postman>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

ferramenta bastante usada no back-end

### Links and sources

https://www.svgrepo.com/show/354202/postman-icon.svg

### Additional information

_No response_

[2022-08-20 03:34] szmazhr commented on #1353
duplicate of #933

[2022-08-20 04:02] knight-95 opened #1355 "[ICON REQUEST]: Hardhat icon"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Hardhat is a popular Ethereum development environment

### Links and sources

Link to official website : **https://hardhat.org/**
Link to official Documentation : **https://hardhat.org/docs**
Official Logo link : **https://seeklogo.com/vector-logo/426726/hardhat**

### Additional information

_No

[2022-08-20 04:05] knight-95 commented on #1355
I would like to work on this issue, kindly assign me for the same

[2022-08-20 17:27] #1353 closed

[2022-08-21 21:50] renthus opened #1359 "[ICON REQUEST]: pyscript"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Could you create an icon for pyscript please?

### Links and sources

https://pyscript.net/assets/images/pyscript-sticker-black.svg

### Additional information

_No response_

[2022-08-21 21:56] Snailedlt commented on #1359
![](https://pyscript.net/assets/images/pyscript-sticker-black.svg)

[2022-08-22 00:07] hydrasho opened #1360 "[ICON REQUEST]: <vala>"
### About the icon

Vala lang

### Links and sources

![image](https://user-images.githubusercontent.com/40312793/185816978-cc13be92-c245-4144-8927-9a99acd62e73.png)

https://gitlab.gnome.org/GNOME/vala
https://github.com/topics/vala?o=desc&s=updated

### Additional information

https://vala.dev/

vala is an easy-to-write programming language that transforms into C and then compiles with Gcc.
it i

[2022-08-22 04:27] valkyrienyanko opened #1361 "[FEATURE REQUEST] MoonSharp Icon"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

MoonSharp is a Lua-to-C#-to-Lua API, it would be nice if this was an icon.

Website: https://www.moonsharp.org/

### Possible Solution

_No response_

### Additional information

_No response_

[2022-08-23 16:11] #1348 closed

[2022-08-23 18:13] CesarObedFL commented on #855
team, include this icon please...

[2022-08-23 21:58] Panquesito7 commented on #1352
This is still not merged and added to the icon list.

[2022-08-28 21:51] drjonnicholson commented on #160
Looks like this was delivered so closing. Thank you 👍

[2022-08-28 21:51] #160 closed

[2022-08-30 19:00] pwnb0y opened #1365 "[ICON REQUEST]: powershell"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Just because sometime people want to show in their readme.md file for their skill. If it is included in your project they can use it from here very easily

### Links and sources

https://raw.githubusercontent.com/PowerShell/PowerShell/master/assets/ps_black_64.svg

### Additional information

_No

[2022-08-30 19:00] pwnb0y commented on #1365
/assign

[2022-08-30 19:01] pwnb0y commented on #1365
I would love to work on this issue. Please assign it to me.

[2022-08-31 22:56] Spince opened #1368 "[ICON REQUEST]: snowflake"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

a common data store

### Links and sources

https://www.snowflake.com/en/

### Additional information

_No response_

[2022-08-31 22:57] Spince opened #1369 "[ICON REQUEST]: fivetran"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

fivetran is a data extraction and orchestration tool

### Links and sources

https://www.fivetran.com/

### Additional information

_No response_

[2022-09-01 03:32] Panquesito7 opened #1370 "[ICON REQUEST]: Hashnode"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Hashnode is a free blogging platform for people in tech to share their work, tips, news, and more.

### Links and sources

https://hashnode.com
https://hashnode.com/media
https://fontawesome.com/icons/hashnode?s=solid&f=brands

### Additional information

_No response_

[2022-09-01 20:34] Panquesito7 opened #1371 "[ICON REQUEST]: Gitpod"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Gitpod is an open-source platform with cloud-based Git environments to make everything easier and faster.

### Links and sources

https://www.gitpod.io
https://www.gitpod.io/media-kit

### Additional information

_No response_

[2022-09-04 17:55] firqaaa opened #1374 "[ICON REQUEST]: Apache Airflow"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

It is necessary tool for Data Engineer / ML Engineer

### Links and sources

https://airflow.apache.org

### Additional information

_No response_

[2022-09-04 19:31] BenSouchet commented on #1365
Hi, as pointed in comment [here](https://github.com/devicons/devicon/pull/1366#issuecomment-1236400839) the icon already exists on the develop branch and will be available in the next version of Devicon.

[2022-09-05 08:53] HeavyArms0511 opened #1375 "[ICON REQUEST]: ruby_on_rails"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Trying to use the cheat sheet for the ruby_on_rails and its not working.

### Links and sources

http://vorillaz.github.io/devicons/#/cheat

### Additional information

I attempt to use the icon for ruby on rails using the text 'ruby_on_rails' and it does not work.  No idea why all the other icon

[2022-09-07 12:49] BenSouchet commented on #1375
Hi, after looking up it seems that the name to use is "rails" (or if the altnames are working "rubyonrails").
@Snailedlt Is it normal that the altnames aren't used for the searchbar on the devicon.dev website (not implemented ?).

So it's not a missing icon put I agree that it's an issue that when I type "ruby" on the devicon.dev website I can't find  the icon of **Ruby on Rails**.

[2022-09-07 18:47] BenSouchet commented on #1365
@Snailedlt I think this issue can be closed 🙂

[2022-09-07 19:41] #1365 closed

[2022-09-10 12:14] abirabedinkhan opened #1376 "[ICON REQUEST]: ArchLinux"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Because Arch Linux is one of the popular linux distro

### Links and sources

https://upload.wikimedia.org/wikipedia/commons/a/a5/Archlinux-icon-crystal-64.svg

### Additional information

_No response_

[2022-09-10 19:22] shaswathts opened #1377 "[ICON REQUEST]: <icon name>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

GStreamer is a multimedia framework which has a wide variety of media processing systems

### Links and sources

https://gstreamer.freedesktop.org/

### Additional information

_No response_

[2022-09-10 19:29] Revathyvenugopal162 opened #1378 "[ICON REQUEST]: Cairo graphics"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Cairo is a 2D graphics library with support for multiple output devices.

### Links and sources

https://www.[cairographics.org](https://www.cairographics.org/)/

### Additional information

_No response_

[2022-09-10 19:45] shaswathts opened #1379 "[ICON REQUEST]: <Yocto project>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

A open source project whose goal is to produce tools and processes that enable the creation of Linux distributions

### Links and sources

https://www.yoctoproject.org/

### Additional information

_No response_

[2022-09-11 11:01] Snailedlt commented on #1375
There hasn't been a release since altnames were added, so they are still only on the develop branch. Once the develop branch has been merged into master and there's been a new release, altnames will be used in the searchbar.

So in short, this issue should be fixed [here](https://github.com/devicons/devicon/blob/develop/devicon.json#L6030-L6033)

[2022-09-11 11:01] #1375 closed

[2022-09-12 10:09] hgrafa opened #1382 "[ICON REQUEST]: <Spring Tools Suite 4>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Spring Tools Suite 4 is a Java IDE based on Eclipse to built Spring Boot Projects.

### Links and sources

* https://spring.io/tools

### Additional information

it provides world-class support for developing Spring-based enterprise applications, whether you prefer Eclipse, Visual Studio Code, or

[2022-09-12 10:20] hgrafa opened #1383 "[FEATURE REQUEST] Invisible icons in Dark Mode"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

We often use icons to build more interesting custom READMEs. Many users use dark mode and some icons like the one in **NEXTjs** completely lose their contrast. It would be interesting to put a white version in the direct link.

### Possible fixes or solutions

This link contains a negative color

[2022-09-13 04:06] Panquesito7 commented on #1383
@Snailedlt, @amacado, maybe we should look into adding multiple color versions. There are various issues/PRs that are trying to do this.
Meanwhile, if we don't implement this, should we use dark or light mode?

[2022-09-13 10:41] Snailedlt commented on #1383
I agree, dark mode and light mode icons are a must in this day and age. We should definitely add support for it. I guess the names can just be updated with a `-light` or `-dark` suffix, though that would break backwards compatibility.

I think at this point we have enough new features that we could make a new major release though, so maybe now is the right time to start making those major changes?

[2022-09-15 23:20] hgrafa opened #1384 "[ICON REQUEST]: Cosmos DB"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Cosmos Databse API icon

### Links and sources

![icon](https://azurecomcdn.azureedge.net/cvt-4f90d6e2bf6b706b78e151f8a44e48efbca14b99a54e638b34d747b05bac2968/images/page/products/cosmosdb/dev-01-sql-api.svg)

[image reference](https://azurecomcdn.azureedge.net/cvt-4f90d6e2bf6b706b78e151f8a44e48e

[2022-09-16 08:26] amacado commented on #1383
I agree that there is a need of light/dark mode icons. But keeping a suffixed version of them would blow up the total size of this project. Remember our current naming conventions `(name)-(original|plain|line)(-wordmark?)` which already lead up to 6 versions per icon. Adding a light/dark prefix would lead up to **24**  `(name)-(original|plain|line)(-wordmark?)((-dark|-light)?)` versions for each i

[2022-09-16 10:36] Snailedlt commented on #1383
@amacado You can select based on the selected theme :) I've used this in my profile readme on the github icon:
[code]
<picture>
  <source media="(prefers-color-scheme: dark)" srcset="https://user-images.githubusercontent.com/43886029/180790910-37fc43da-eb83-4db6-9079-469fe83be1d5.svg">
  <img alt="GitHub" title="GitHub" width="35px"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/g

[2022-09-16 10:41] Snailedlt commented on #1383
@hgrafa This isn't really a bug, since it's working as intended. Could you rephrase the issue so it's a feature request instead? Something like `[FEATURE REQUEST] Add darkmode and lightmode versions for each icon`.

I like the idea of having negative versions of the icons too, but if we do it like that, how would we know which one is dark and which one is light? Maybe a bot that checks the color h

[2022-09-17 07:14] AbdulWahedSabury commented on #855
include this icon please...

[2022-09-18 22:41] Panquesito7 commented on #1384
Working on this. Thanks for making the issue. 👍

[2022-09-21 18:23] IgnacioGa opened #1387 "[ICON REQUEST]: Django Rest Framework"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

I think DRF can ve a very valuable icon

### Links and sources

https://www.django-rest-framework.org/

### Additional information

_No response_

[2022-09-21 21:01] homotechsual opened #1388 "[OTHER] Release?"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

I've noticed a number of icons merged into Dev including some really useful additions like PowerShell, is there a threshhold required for a new release to go out or can this be done?

Loving the icons and the community behind them here :-)

### Additional information

_No response_

[2022-09-22 14:40] Snailedlt opened #1389 "[FEATURE REQUEST] Build and Test via Github Actions"
Would be nice if each PR triggered a build and test of the branch. That way it would be a bit more robust, and less likely to let through bugs that crash the site. Especially useful for dependency updates.

As referenced here:

No need to deploy imo. Just a simple build and run would suffice. If it runs, and the code checks are all green, it probably should work.

We could add a build step to the

[2022-09-23 03:13] Panquesito7 commented on #1388
Hello! Thanks for being part of our community and for this suggestion. 😄
We're planning to merge all the current icon PRs and later on make a release.

You can help us review to make the process faster.
Thanks for your patience. 🙂

[2022-09-23 14:52] Snailedlt commented on #1389
Definitely a good first issue, so I'll just label it as that, and if no one else does it, I'll muster up the strength to do it myself 😅

[2022-09-24 19:11] BenSouchet commented on #1368
Hi, it's a website not a tool, I don't think this service/website has its place on the project, check what kind of icon are accepted on Devicon [here](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F). @Snailedlt if you agree you can close this requested as not planned 🙂

[2022-09-24 19:16] BenSouchet commented on #1383
Just linking [this discussion](https://github.com/devicons/devicon/discussions/1040) I opened earlier this year, about the same kind of issue when brands have dark and light versions of there logo.

[2022-09-24 19:59] Snailedlt commented on #1368
Took a short look at their websitem This looks like a company, not a technology. Company logos are out of scopefor the Devicon project.

@Spince Can you confirm/deny, and perhaps explain why you think this icon should be added?

[2022-09-29 15:26] JJDSNT opened #1394 "[ICON REQUEST]: Quarkus name"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Its a java framework

### Links and sources

[Official repo](https://github.com/quarkusio/quarkus)

<img src="https://camo.githubusercontent.com/62d4f160c458785b41aa5961dbf35295843fd582cb7a931e962c77d295bd23f9/68747470733a2f2f64657369676e2e6a626f73732e6f72672f717561726b75732f6c6f676f2f66696e616c2

[2022-09-30 11:21] Dum6o opened #1398 "[ICON REQUEST]: <icon name>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Jira icon (new version)

### Links and sources

Jira: https://www.atlassian.com/software/jira
FontAwesome: https://fontawesome.com/icons/jira?f=brands
[code]

### Additional information

Atlassian Jira logo had change long time ago. Here I can still find only old one. Would be great to update it

[2022-09-30 16:45] Panquesito7 commented on #1398
Hey there! Would you like to update the icon yourself? 🙂

[2022-09-30 16:53] Panquesito7 opened #1399 "[FEATURE REQUEST] Add the appropriate labels automatically"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

It would be awesome if a GitHub Actions workflow detected if a new directory has been made under the `icons` folder, and added the appropriate labels. The `bot:peek` label could be added too if it matches all the requirements and standards (it could take a bit long time to code, though).

What do you th

[2022-10-01 00:37] fallenpixel commented on #1389
Heya all,
I'm interested in contributing here for hacktoberfest. Sounds like it might be up my alley.

[2022-10-01 15:50] Snailedlt commented on #1399
Agreed, though I think we could make it even easier and just have the bot check the PR title. If it starts with `new icon` or `update icon`, we automatically add the `feature:icon` label

We might be able to use this :)
https://github.com/actions/labeler

I haven't checked it out thoroughly, but hopefully it has something we can use. Otherwise it shouldn't be too hard making our own action

[2022-10-02 05:31] Panquesito7 commented on #855
Working on this.

[2022-10-02 14:49] AmreshSinha opened #1409 "[ICON REQUEST]: qwik"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

qwik is a HTML first web framework (blazingly fast!)

### Links and sources

qwik: https://qwik.builder.io/
qwik logo svg: https://qwik.builder.io/logos/qwik-logo.svg
qwik logo svg and text: https://qwik.builder.io/logos/qwik.svg
qwik logo png and text: https://qwik.builder.io/logos/qwik.png

<im

[2022-10-02 15:28] Snailedlt commented on #1399
For ![][~feature:icon] and ![][~enhancement] labels we can just add `&labels=feature:icon` and `&labels=enhancement` to the end of the PR.
ref: https://github.com/isaacs/github/issues/1252#issuecomment-638148723
I'll make a PR on this in a few min

As for the bot:peek label, it would require more work. I think we should move that to a different issue, so we can keep the scope of this one as small

[2022-10-02 18:06] Snailedlt opened #1414 "[OTHER] Update build description in README.md"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

The build description in the README.md is incomplete and hard to read, and shouold be updated for completeness and readability's sake.

https://github.com/devicons/devicon/tree/develop#go-build-yourself

I've identified a few concrete things that should be improved, but I'm sure th

[2022-10-02 21:57] Snailedlt commented on #988
I'm also leaning towards option 1 here. Adding some sort of categorization on the website would improve it a lot imo. It's not really needed, but it's still nice to have :)

Restricting what tags are allowed and which are not is imo a must though. It's ridiculous that we don't have this in place already, but I guess it comes down to effort being put elsewhere which I guess is okey when the tags ar

[2022-10-02 21:58] Snailedlt commented on #988
@BenSouchet @Panquesito7 You guys have any thoughts on this?

[2022-10-02 22:42] Snailedlt opened #1417 "[FEATURE REQUEST] Automatically remove new icon issues if they exist in the repo"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

There are a lot of new issues for icons that are already in-develop, or in the master branch. These issues have to be closed manually by the maintainers.

It would be better if they were automatically closed by a bot.

### Possible Solution

Have a GitHub Action that automatically runs on every new issu

[2022-10-02 22:54] Snailedlt opened #1418 "[FEATURE REQUEST] automatically detect duplicate issues"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Every now and then a few duplicate issues pop up. Usually they are issues for adding an icon that has already been suggested in another issue. These need to be manually labeled as `duplicate` and closed by maintainers.

It would be better if a bot did this for us once it finds duplicates.

### Possible

[2022-10-03 04:36] Panquesito7 commented on #1158
Working on this. Thank you. 🙂

[2022-10-03 07:38] Snailedlt opened #1420 "[OTHER] Consider helping add devicons/devicon to Nerdfonts"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

It would be nice if Devicons was updated in Nerdfonts from the old unmaintained [vorillaz/devicons](https://github.com/vorillaz/devicons) repo to this one. I added some comments to the issue over at ryanoasis/nerd-fonts asking in what way they'd like to add it: https://github.com/r

[2022-10-03 07:40] Snailedlt commented on #1420
@Panquesito7 @BenSouchet @kilian-paquier @lunatic-fox
Would love to get some of your opinions on this!

[2022-10-03 08:34] BenSouchet commented on #988
I agree to fact that it would be good to use the tags and unify them to avoid having too much tags, don't know how to properly ensure that new addition use valids tags, don't know http://json-schema.org/ but seems to be a good option.

Adding a list of tags would maybe "poluate" the devicon website homepage, don't know how to display tags without adding too much elements in the interface. I'm incl

[2022-10-03 08:46] BenSouchet commented on #1420
Hi,
Don't know if it's our "job" to update the version that is used by Nerdfonts, but if it's not to difficult / time consuming for us to update it why not. It's better if users have the latest version of the work done by the Devicon community.

Waiting for the comment(s) of others here and also the comment(s) of the maintainers of Nerdfonts

[2022-10-03 09:03] Snailedlt commented on #1420
@BenSouchet Agreed! It's not our job, but would be cool regardless :)

[2022-10-03 09:48] lunatic-fox commented on #1420
First, thanks for marking me into this discussion.

I agree with @BenSouchet. I like you took the first step by asking how to make this addition properly. And yeah, I also think it'll have a compatibility problem when adding from Vorillaz repository, but let's wait Nerdfonts maintainers response on that.

It also seems that users have been wanting and waiting for this for quite some time. 😃

[2022-10-03 14:52] Chgv99 opened #1421 "[ICON REQUEST]: p5.js"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

p5.js is a JavaScript library for creative coding. Widely popular for making generative art more accessible.

### Links and sources

https://p5js.org/
https://github.com/processing/p5.js
https://twitter.com/p5xjs
I haven't found the official logo uploaded by them, but their identity and graphic d

[2022-10-03 18:56] Snailedlt commented on #952
Official SVG icons from https://supabase.com/brand-assets

![supabase-logo-wordmark--dark](https://user-images.githubusercontent.com/43886029/193656304-3c7b166f-36d1-430b-9721-1325c16affd1.svg)
![supabase-logo-wordmark--light](https://user-images.githubusercontent.com/43886029/193656307-7c83bd9f-de6a-4129-b31b-5a36d1997c47.svg)
![supabase-logo-icon](https://user-images.githubusercontent.com/438860

[2022-10-03 19:12] Snailedlt commented on #633
Direct dowload link for their logos: https://coal.yoyogames.com/brand/GameMaker_Logo.zip

[2022-10-03 19:17] Snailedlt commented on #633
## SVG Logo from WikiMedia:
![](https://upload.wikimedia.org/wikipedia/en/4/4b/GameMaker_Logo.svg)

[2022-10-03 19:34] Snailedlt commented on #1223
@Panquesito7 Would like to hear your opinion on this matter too :)

[2022-10-03 19:45] Snailedlt opened #1422 "[OTHER] Add TechStack to README.md"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

Would be nice to have a `TechStack` or `Built With` section, where we list the technologies, languages, tools and frameworks that are used to develop, build and maintain the repo and website.
It could also be used as sort of a showcase of the icons by adding icons for each technolo

[2022-10-03 19:59] Snailedlt opened #1423 "[ICON REQUEST]: GitHub Actions"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

GitHub Actions makes it easy to automate all your software workflows, now with world-class CI/CD. Build, test, and deploy your code right from GitHub.

### Links and sources

#### Website
https://github.com/features/actions

#### Official Logo
https://github.githubassets.com/images/modules/site/f

[2022-10-03 20:08] Snailedlt opened #1424 "[ICON REQUEST]: GitHub Copilot"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Your AI pair programmer GitHub Copilot uses the OpenAI Codex to suggest code and entire functions in real-time, right from your editor.

### Links and sources

#### Website
https://github.com/features/copilot/

#### Official logos
![](https://github.githubassets.com/images/modules/site/copilot/co

[2022-10-03 20:20] Snailedlt opened #1425 "[ICON REQUEST]: GitHub Codespaces"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Blazing fast cloud developer environments Visual Studio Code backed by high performance VMs that start in seconds.

### Links and sources

#### Websites
https://github.com/features/codespaces
https://github.dev/

#### Official Logos
![](https://github.githubassets.com/images/modules/site/codespac

[2022-10-03 20:58] Panquesito7 commented on #1223
Well, StackOverflow is for all kinds of questions related to programming, so I don't
see an issue to add it to Devicon. It is very popular and known across the web.

[2022-10-03 21:34] Snailedlt opened #1426 "[ICON REQUEST]: Playwright"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Playwright enables reliable end-to-end testing for modern web apps.

### Links and sources

https://playwright.dev
https://github.com/microsoft/playwright

#### Official Logo
![](https://playwright.dev/img/playwright-logo.svg)
https://playwright.dev/img/playwright-logo.svg

### Additional informa

[2022-10-03 21:53] Snailedlt commented on #1275
@Panquesito7
What do you think?
Looks like this fits the bill, right?

Anyways here's some more resources:

## Resources
Brand guidelines and logos: https://akash.network/brand
official github org: https://github.com/ovrclk

#### Official Logos (from https://akash.network/brand)
`original` & `original-wordmark`
<img width="128px" src="https://user-images.githubusercontent.com/43886029/193691788-d7

[2022-10-04 07:08] Snailedlt commented on #1275
@jisatsu-eh3 alright, we're good to go with the icon. Feel free to make s PR sdding it if you'd like :)

[2022-10-04 11:35] AmreshSinha commented on #1409
Can I start working on this?

[2022-10-04 17:32] esmiralha opened #1430 "[ICON REQUEST]: IBM"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

IBM is a public cloud provider and a major player in the industry.

### Links and sources

https://www.ibm.com/brand/experience-guides/developer/resources/#logo

### Additional information

_No response_

[2022-10-05 06:28] Snailedlt commented on #988
I think if we add tags to the website they should be separate from the searchfield. Maybe just a `filter` dropdown next to it?

I also haven't used json-schema before, but it seems like the way to go.

Lastly I wanna work on this, but I'm not sure I have time to do so any time soon. I spend most of my time with devicon doing maintainer stuff like reviews, labeling and closing issues. There's also

[2022-10-05 17:35] lunatic-fox commented on #1383
&nbsp; I'm using some of Devicons icons into one of my [projects](https://lunaticfox.vercel.app/githubLanguages) and the icons pass through a function to have the contrast color that I need. But I've downloaded and created a little program in Node.js to clean some pieces of code and prepare it to receive a different color, then it build a `.yml` data file with all edited icons that can be used int

[2022-10-07 23:31] Snailedlt opened #1434 "[BUG] devicon SVG preview is invisible on the website"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Because the website has a solid green background behind the SVG's in the preview box, icons that have the same color (devicon for example) become invisible.
![Screenshot_20221008_013243](https://user-images.githubusercontent.com/43886029/194675363-10199ada-034c-44ef-83a1-e7d68a0866d0.jpg)

### P

[2022-10-08 00:29] Snailedlt commented on #1430
IBM is a company, and not a developer tool, therefore it's out of scope for devicons.
[What icons do we accept?](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#special-cases-see-this-discussion-for-more-details)

[2022-10-08 00:29] #1430 closed

[2022-10-08 22:41] Snailedlt commented on #380
@BenSouchet
Thanks for asking, and linking to the post. They answered that we should use this icon: https://nodered.org/about/resources/media/node-red-hexagon.svg

Preview:
![](https://nodered.org/about/resources/media/node-red-hexagon.svg)

[2022-10-08 22:51] Snailedlt commented on #601
Original SVG preview:
![](https://cdn-resources.altium.com/autodesk-fusion-360.svg)

[2022-10-08 22:54] Snailedlt commented on #619
@martintaylor1635 did you find any official SVG versions?

[2022-10-08 23:08] Snailedlt commented on #332
Duplicate of #870

[2022-10-08 23:09] Snailedlt commented on #870
Duplicate of #332

[2022-10-08 23:09] #870 closed

[2022-10-08 23:32] Snailedlt commented on #1217
Duplicate of #1030

[2022-10-08 23:32] #1217 closed

[2022-10-08 23:36] Snailedlt commented on #1259
I agree with @BenSouchet here. But feel fre to try and convince us otherwise

[2022-10-08 23:37] Snailedlt commented on #1262
Duplicate of #769

[2022-10-08 23:37] #1262 closed

[2022-10-08 23:49] Snailedlt commented on #1295
Tags are used as categories now, but we have a new attribute called altname which is perfect for this case :)

Here's how `sass` looks in develop now: https://github.com/devicons/devicon/blob/f1f401a9dc007f79ae199f2e195b55ebeeff41ea/devicon.json#L6659

As you can see it has the altname `scss`, so I will be closing this issue as complete

[2022-10-08 23:49] #1295 closed

[2022-10-08 23:55] Snailedlt commented on #1306
@weh That png to svg tutorial you showed in #1428 is relevant here

[2022-10-08 23:58] grandslammer commented on #1259
Adobe products fall under the special cases category.
With that in mind, we all understand that developers are generally not also expected to do graphic design.

However, there are times when a developer may have to do some basic editing. I can think of an example I had only this week with a website I am currently developing, Some of the assets I was given needed to have some minor changes/edits t

[2022-10-09 00:05] Snailedlt commented on #1355
Duplicate of #957

[2022-10-09 00:05] #1355 closed

[2022-10-09 00:10] Snailedlt commented on #1414
@Panquesito7 perhaps you could help with this?

[2022-10-09 14:13] GuilhermeFernandes01 commented on #1398
Hi @Dum6o, according to [here](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#not-allowed-not-exhaustive), Jira icon is not allowed in this project.

[2022-10-10 19:35] Panquesito7 commented on #1223
Should I work on this issue?

[2022-10-10 19:46] Panquesito7 commented on #1148
Working on this. 🙂

[2022-10-10 21:47] TDunner opened #1440 "[ICON REQUEST]: <ChaiJS>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Test Driven Development Program

### Links and sources

https://www.chaijs.com/

### Additional information

![chai-logo](https://user-images.githubusercontent.com/98849645/194957167-f4e14b94-2304-49a2-85f4-da9d98ca51ac.png)

[2022-10-10 21:54] Snailedlt commented on #1223
Sure, go ahead :)

[2022-10-10 22:06] TDunner commented on #223
Is someone able to reopen this case?

[2022-10-11 04:43] Panquesito7 commented on #1210
This seems like a good idea and totally needed.
Are you still working on this, @kilian-paquier, or should we let someone else work on it?

Thanks. 🙂

[2022-10-11 05:28] yeyeto2788 commented on #1423
Can I work on this one?

[2022-10-11 06:11] AnshSinghSonkhia opened #1441 "[ICON REQUEST]: <TailwindCSS>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

TailwindCSS is a very usefull and trending CSS Framework which is been used in multiple production level websites.

### Links and sources

You can find the icons on its website itself:
[tailwindcss.com](https://tailwindcss.com/brand)

### Additional information

_No response_

[2022-10-11 06:12] AnshSinghSonkhia commented on #1441
I can add the TailwindCSS Icons to your Repo if you want.

[2022-10-11 07:13] Snailedlt commented on #1423
@yeyeto2788 Yes sir!
Thanks in advance 💯

[2022-10-11 08:31] rishaank commented on #1052
Sure! But maybe you could try to modernize it? Thanks for the quick
response.

On Sat, Apr 2, 2022 at 1:59 AM liuxilu ***@***.***> wrote:

[2022-10-11 11:46] Era360 opened #1442 "[ICON REQUEST]: <Recoil js>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Recoiljs is a facebook state management library for React web apps

### Links and sources

[Official website](https://recoiljs.org/)

[Icon source](https://worldvectorlogo.com/logo/recoil-js)

### Additional information

_No response_

[2022-10-11 17:24] KayleeDavisGitHub opened #1444 "[ICON REQUEST]: TeX"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

A programming and software system for document preparation. When writing, the writer uses plain text as opposed to the formatted text.

### Links and sources

https://commons.wikimedia.org/wiki/File:TeX_logo.svg

### Additional information

May want to include TeX extensions like: LaTeX, BibTeX,

[2022-10-11 18:08] KayleeDavisGitHub commented on #1368
Just to make the case for @Spince, if other SQL-based technology companies are included Snowflake may fall within scope as well. With Snowflake you can write code with it, handle code with it, transform code with it, add your code to it, and test your code with it. It does have web-based hosting similar to DataBricks but has a downloadable app IDE as well. It's a database tool that mostly serves S

[2022-10-11 18:18] KayleeDavisGitHub opened #1445 "[ICON REQUEST]: DaVinci Resolve"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

DaVinci is a competitor to Adobe products and is a technology for editing videos, applying color correction, and otherwise transforming video content. Given the inclusion of Adobe products (Photoshop, Aftereffects), this may fall within scope but may require further discussion.

### Links and sou

[2022-10-11 18:25] KayleeDavisGitHub opened #1446 "[ICON REQUEST]: YAML"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

YAML is a human-readable data-serialization language. With the inclusion of Markdown and editors I think this programming language falls within scope.

### Links and sources

#### About:
https://en.wikipedia.org/wiki/YAML

#### Image:
https://en.wikipedia.org/wiki/File:Official_YAML_Logo.svg

###

[2022-10-11 18:47] KayleeDavisGitHub commented on #1444
I just now saw that LaTeX is in the icon library, just to clear up any confusion here are some pages I found on the difference between the two languages:
https://tex.stackexchange.com/questions/49/what-is-the-difference-between-tex-and-latex
https://tug.org/levels.html

Essentially TeX is the root variation of LaTeX, and LaTeX functions are made up of TeX arguments. A minor difference, but I think

[2022-10-12 19:35] yeyeto2788 commented on #1421
Can I work on this one?

[2022-10-12 21:37] Snailedlt opened #1453 "[FEATURE REQUEST] Make bot/worflow which responds with a preview of .eps files if they exist in a PR"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

There are quite a few PRs that include .eps files with the original unedited icons in it.
It would be nice if it was possible to see a preview of it without opening it up locally.

### Possible Solution

Maybe we could make a github bot/workflow which opens the file and takes a screenshot of the content

[2022-10-13 11:47] AnshSinghSonkhia commented on #1441
I was not able to find it.

[2022-10-13 11:47] #1441 closed

[2022-10-13 21:02] cdhunt opened #1455 "[ICON REQUEST]: GitKraken"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Popular GUI Git Client

### Links and sources

https://www.gitkraken.com/

https://www.gitkraken.com/media

https://fontawesome.com/icons/gitkraken?s=solid&f=brands

<img src="https://www.gitkraken.com/wp-content/uploads/2021/06/gitkraken-logo-mono-dark-sq.svg"/>
<img src="https://www.gitkraken.c

[2022-10-14 08:48] AmreshSinha commented on #1282
I would love to work on this if no one is already working on the same.

[2022-10-14 11:40] Snailedlt commented on #1282
Please go ahead :) I don't think anyone else is working on it atm

[2022-10-14 13:57] weh commented on #1374
Icon is already in development
- PR: https://github.com/devicons/devicon/pull/1412
- Issue: https://github.com/devicons/devicon/issues/1163

[2022-10-14 17:22] Snailedlt commented on #1148
Looks like the wrong logos have been linked here. The link to `svg` is for the company logo. Here are the product logos: https://influxdata.github.io/branding/logo/brands/

[2022-10-14 20:03] wvinson43 commented on #1422
do you mean add a section to the Readme like that or to the webpage?

[2022-10-14 20:22] Snailedlt commented on #1422
@wvinson43 Yes, sorry for not specifying. It should be added to the README.

Edited the issue description to specify it, thanks for asking :)

[2022-10-14 20:56] wvinson43 commented on #1422
Ah cool, I may be able to help with that.  No promises, but I can give it a whack!

    On Friday, October 14, 2022 at 03:22:28 PM CDT, Jørgen Kalsnes Hagen ***@***.***> wrote:

@wvinson43 Yes, sorry for not specifying. It should be added to the README.

Edited the issue description to specify it, thanks for asking :)

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are rece

[2022-10-14 21:03] wvinson43 commented on #1422
So to adjust the Read.me would I first initiate a PR?  I am pretty new to this!

[2022-10-14 21:49] Snailedlt commented on #1422
Great!
New to GitHub, or just this repo? I'll try and guide you either way,:)

So first create a fork, then create a new branch based on the `develop` branch, and edit the README file either locally or on GitHub. When you've edited it create a PR to the `develop` branch.

If you did it correctly the only change in your PR should be in the README.md file. Good luck, and let me know if you need any

[2022-10-14 22:44] wvinson43 commented on #1422
Not new to Github, but new to opensource.  I will give it a go later tonight!

[2022-10-15 05:13] wvinson43 commented on #1422
I may have to postpone it a bit.  I will try to get to it ASAP!

[2022-10-15 11:30] Snailedlt opened #1458 "[FEATURE REQUEST] Automatically check if a PR is being committed into the `develop` branch"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

A few times PR's are being merged into `master` instead of `develop`. If the reviewer doesn't notice this, and merges it directly into master it can cause issues, and at the very least it will be a big timesink to fix it. Ideally we'd want this to never happen.

### Possible Solution

Add a check to the

[2022-10-15 11:30] Snailedlt commented on #1458
Good first issue if you want to do a `devops` issue

[2022-10-15 12:38] Snailedlt commented on #1445
Thanks for the suggestion :)

Since this is not strictly a development tool, we'll have to (like you said) discuss this further.
ref: https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#special-cases-see-this-discussion-for-more-details

I added the `discussion` and `awaiting triage` labels to the issue for that reason :)

[2022-10-15 12:41] Snailedlt commented on #1445
I'm not sure exactly what Davinci Resolve does, but it seems like it's mostly editing of videos. I couldn't find much use for it in software development, nor game development, so I'm not sure it is a great fit for devicons.

@BenSouchet I know you've done a fair bit of design and such. Do you think this icon should be added to devicons?

[2022-10-15 12:48] Snailedlt commented on #868
This falls under the special cases category for icons: https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#special-cases-see-this-discussion-for-more-details

Mattermost is very similar to Discord. However I think it fits within the scope of devicons because it's tailored to help with development collaboration, so in a sense it's also similar to Trello and Jira. I've personally use

[2022-10-15 12:51] Snailedlt commented on #1143
@daczarne Does https://github.com/devicons/devicon/pull/1364 solve your issue, or do you think there's more to be done here?

[2022-10-15 12:52] Snailedlt commented on #1383
Related to #977

[2022-10-15 13:01] Snailedlt commented on #1383
@lunatic-fox That website looks incredible!

I can see there's a lot of languages there which aren't on devicons though. Feel free to make PRs or Issues for the languages that are missing on devicons, and are within our scope ([What Icons Do We Accept?](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F)), we want to add as many icons as possible :)

[2022-10-15 14:40] daczarne commented on #1143
@Snailedlt yes, adding `.editorconfig` is another way of addressing the issue for VS-Code users. Not sure if `.editorconfig` works with other IDEs though.

[2022-10-15 16:16] Snailedlt commented on #1143
@daczarne
A lot of different editors and IDE's support .editorconfig out of the box:
https://editorconfig.org/#pre-installed

Some of them do require you to download a plugin for it to work though:
https://editorconfig.org/#download

I guess an improvement we could do is add the [extension for vscode](https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig) as a recommendatio

[2022-10-15 17:03] daczarne commented on #1143
@Snailedlt I was not aware that `.editorconfig` was available for so many IDEs (being a VS Code user myself). I think in this case this issue can be closed.

[2022-10-15 17:33] Snailedlt commented on #1458
Proof of concept: https://github.com/Snailedlt/devicon/pull/56
![image](https://user-images.githubusercontent.com/43886029/196000099-e9c3c9a3-f087-4b47-ab3a-dbec5def0c17.png)

[2022-10-15 19:14] Snailedlt commented on #1143
The extension is still needed for vscode, so I think we can just change the issue to `add editorconfig vscode extension to workspace recommendations`.

I'll make a PR on it when I have time, unless you wanna do it yourself :)

[2022-10-15 20:48] KayleeDavisGitHub commented on #1445
We're on the same wavelength @Snailedlt, I just saw [Adobe Premiere Pro in the current list](https://github.com/devicons/devicon/tree/master/icons/premierepro) and given that Davinci is a direct competitor to this software, and is the preferred alternative by many to using this software, I thought it fit the scope through association. I did check [the list](https://github.com/devicons/devicon/wiki

[2022-10-16 00:03] lunatic-fox commented on #1383
Thank you very much @Snailedlt!

Talking about the API that I proposed, I've made it, but I don't deploy it, because I want some opinions on it first.

Here are some results:

`?icon=podman`
![000](https://user-images.githubusercontent.com/76992016/196011686-64fcdb44-e661-47eb-a193-38ca900b2082.png)

`?icon=ember&size=300`
![001](https://user-images.githubusercontent.com/76992016/196011687-95b7969

[2022-10-16 02:27] lunatic-fox commented on #1383
Thank you very much @Snailedlt!!! 🤩

---
By the way, I made the API, but I didn't deploy it, because I want to know if this suggestion is ok or not. 🤔

[2022-10-17 05:57] Snailedlt commented on #1383
@lunatic-fox
Sounds good to me :)
You don't really need our permission though, since devicons is open source, so you can do with it whatever you want :)

[2022-10-17 07:38] yeyeto2788 commented on #1421
Any updates on this one?

[2022-10-17 08:36] Chgv99 commented on #1421
Sorry for the late reply. Yes, you can work on this. 😊

[2022-10-17 10:39] agriffard opened #1464 "[ICON REQUEST]: Astro"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Astro, static site generator similar to Next.js, Gatsby, ...

### Links and sources

https://astro.build/
https://github.com/withastro/astro/blob/dd354f83e8d5191a5e962c999f0a0d859da94a7c/assets/brand/logo-square-white.png
https://github.com/withastro/astro/blob/dd354f83e8d5191a5e962c999f0a0d859da

[2022-10-17 11:33] yeyeto2788 commented on #1421
Hey @Chgv99! Thanks for the reply but my message was for @Snailedlt or any other person able to assign tickets within this repo.

[2022-10-17 11:45] Snailedlt commented on #1421
@yeyeto2788 Yes ofc! :)
Feel free to just start working on it, since we usually don't assign issues to anyone. So next time you can just write a comment that you're working on it, and perhaps link to your branch or something so people can see if it's being actively worked on :)

[2022-10-18 04:44] lunatic-fox commented on #1383
After a long time making the docs it's all done! 😅
[**Devicon API project**](https://github.com/lunatic-fox/deviconapi) 🚀

And here are some examples:
|**Next.js in dark theme**|**Next.js in light theme**|
|:-:|:-:|
|![nextjs](https://deviconapi.vercel.app/?nextjs&theme=dark)|![nextjs](https://deviconapi.vercel.app/?nextjs&theme=light)|

[2022-10-18 08:52] Snailedlt commented on #1143
@daczarne

[2022-10-18 10:33] ShyAssassin opened #1466 "[ICON REQUEST]: Vulkan"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Vulkan is a graphics API, since OpenGL is in the project it is only fitting to have Vulkan to make sure OpenGL isnt lonely!

### Links and sources

https://www.vulkan.org/
https://www.vulkan.org/user/themes/vulkan/images/logo/vulkan-logo.svg

### Additional information

_No response_

[2022-10-18 21:13] Snailedlt opened #1467 "[OTHER] Update the issue template for icon requests to be more detailed"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

It would be nice if there was a stricter format on the icon requests. So the [icon_request.yml](https://github.com/devicons/devicon/blob/master/.github/ISSUE_TEMPLATE/icon_request.yml) issue template should be updated.

### Imo we should add some more required and encouraged fields

[2022-10-19 07:32] yeyeto2788 commented on #789
I'll be working on this one.

[2022-10-19 12:29] DaniyalRizvi opened #1469 "[ICON REQUEST]: Photonengine"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Photon is a Multiplier Gaming Engine Backend SDK

### Links and sources

https://www.photonengine.com
This is a multiplayer gaming engine service provided to build multiplayer games in unity

### Additional information

_No response_

[2022-10-19 12:31] DaniyalRizvi opened #1470 "[ICON REQUEST]: <PlayFab>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

PlayFab a backend data storage service

### Links and sources

https://playfab.com
Acquired By Microsoft Recently, playfab is a backend storage service used by game development studios that build their games using unity engine

### Additional information

_No response_

[2022-10-19 13:14] Snailedlt commented on #789
All Atlassian logos can be found here: https://atlassian.design/resources/logo-library

Direct download for Jira Align: https://assets.ctfassets.net/8j5aqoy0ts8s/3lCp3ysGSidBd0wkWyPM4D/e4b8269fb78936b9f542b1e11392f24a/Jira_Align-Attribution-Lockup.zip

[2022-10-19 13:16] Snailedlt commented on #789
Here's some previews:
![jira-align-logo-gradient-white-attribution_rgb](https://user-images.githubusercontent.com/43886029/196701722-789cc2da-2d12-4a20-978e-0a660bb6424c.svg)
![jira-align-logo-gradient-blue-attribution_rgb](https://user-images.githubusercontent.com/43886029/196701727-fafa5f0c-03c9-42db-b104-595882e61306.svg)
![jira-align-logo-gradient-neutral-attribution_rgb](https://user-images.g

[2022-10-19 13:20] Snailedlt commented on #1421
Official logo from their website:
![image](https://user-images.githubusercontent.com/43886029/196702613-a09b6cc1-0c0a-4b02-9fc6-fe9697329bff.png)

https://p5js.org/assets/img/p5js.svg
![](https://p5js.org/assets/img/p5js.svg)

[2022-10-19 13:49] Snailedlt commented on #1374
Duplicate of #1163

[2022-10-19 13:49] #1374 closed

[2022-10-19 13:50] Snailedlt commented on #1467
I'll work on this once I get some more free time. Hopefully this weekend or next week :)

[2022-10-19 13:54] Snailedlt commented on #1192
Official logos can be found here: https://www.apache.org/logos/#cassandra

I think these are the ones we should use:

## cassandra-original-wordmark.svg
https://svn.apache.org/repos/asf/comdev/project-logos/originals/cassandra-2.svg
![](https://svn.apache.org/repos/asf/comdev/project-logos/originals/cassandra-2.svg)

## cassandra-original.svg
https://svn.apache.org/repos/asf/comdev/project-logos/o

[2022-10-19 14:14] Snailedlt commented on #1398
Nice catch!
However since it's updating an icon, and not requesting a new one, It's allowed. All icons are kept for backwards compatability.
Added some more info about updating icons to the wikipage though :) You can see the diff [here](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F/_compare/1c8d8607aa477da068fbffbfdd1312753beb3cff...609393d9814b365b2b365a0518f87013aff8520e)

[2022-10-19 14:22] Snailedlt commented on #1398
# Official Atlassian logos can be found here
https://atlassian.design/resources/logo-library

## Direct download for Jira Logos
https://assets.ctfassets.net/8j5aqoy0ts8s/1y9Zan62VaterUggPDIDAx/7537cd8851766dfce84d0785dc8200d7/Jira.zip

## Previews
![logo-gradient-blue-jira](https://user-images.githubusercontent.com/43886029/196718412-23ee80c6-cdef-48ee-97e3-5c2d7e8831b0.svg)
![mark-gradient-blue-j

[2022-10-19 14:26] Snailedlt opened #1471 "Apply for Maintainer"
### Discussed in https://github.com/devicons/devicon/discussions/1436

<div type='discussions-op-text'>

<sup>Originally posted by **Snailedlt** October  8, 2022</sup>
# Hi everyone! 👋

We are in need of more active maintainers who can take Devicons to the next level 🚀

[Devicons has grown a lot recently](https://star-history.com/#devicons/devicon), and it has grown into an active community of con

[2022-10-19 15:01] Snailedlt commented on #1471
Anyone interested in this?

I'll tag some of the most active contributors in case any of you are interested :)
@weh @BenSouchet @kilian-paquier @lunatic-fox

[2022-10-19 15:01] Snailedlt commented on #1471
Ofc anyone else are also free to apply and ask questions

[2022-10-19 19:09] Snailedlt commented on #1398
Agreed that it may confuse people. But those are examples, and not rules, and Jira is a good example of a project management tool. I'll add a little text before explaining that they are examples though :)

[2022-10-19 19:13] Snailedlt commented on #1398
@GuilhermeFernandes01
I added this:
![image](https://user-images.githubusercontent.com/43886029/196782985-7ca5bc38-8ea0-4257-a930-c59b737aaf9e.png)

[2022-10-20 07:14] yeyeto2788 commented on #1421
That is exactly from where I took it from.

[2022-10-22 20:44] lunatic-fox commented on #1464
Hello there @agriffard!
Thank you for the request, but **Astro** icon is already `in-develop` state.
* #1034
* #1350

To be extra sure for future requests, you can also check if the icon is in `icons` repository of `develop` branch.

[2022-10-23 05:53] Alireza-Farahani opened #1477 "[ICON REQUEST]: Scrapy"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Scrapy is the most starred crawl framework

### Links and sources

[Scrapy website](https://scrapy.org)

### Additional information

_No response_

[2022-10-23 08:58] daczarne commented on #1143
@Snailedlt added the PR: https://github.com/devicons/devicon/pull/1478

[2022-10-23 10:12] CBID2 opened #1479 "[ICON REQUEST]: <Canvas LMS>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Canvas is a learning management system that educators & instructional designers use to host instructional materials for  their online courses. They sometimes use languages like CSS to impact their modules’ appearance. As someone who’s learning how to code for this purpose, I highly recommend addi

[2022-10-23 12:59] #1143 closed

[2022-10-23 13:15] Snailedlt commented on #1143
@daczarne Why did you close this? It's not fixed yet, right?

[2022-10-25 12:56] megaacheyounes opened #1480 "[ICON REQUEST]: HamronyOS"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

its new operating system created by Huawei

### Links and sources

https://en.wikipedia.org/wiki/HarmonyOS

![image](https://user-images.githubusercontent.com/36759976/197778706-7cd96abb-8bfb-4897-af77-2233fc463437.png)

### Additional information

_No response_

[2022-10-26 00:24] mudouasenha commented on #1383
Great @lunatic-fox , thank you!

[2022-10-26 07:36] weh commented on #1446
i think this is a duplicate of #1446
there is a PR already #1448

[2022-10-26 18:01] lunatic-fox opened #1481 "[FEATURE REQUEST] Validate and add snippet to `devicon.json` in VS Code"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

In `devicon.json`, we can sometimes miss a property or even get confused about the value that should be added.

### Possible Solution

I think many users use VS Code or GitHub Codespaces. Also I got inspired by [@BenSouchet comment](https://github.com/devicons/devicon/issues/988#issuecomment-1265112532)

[2022-10-26 18:25] lunatic-fox commented on #1383
Thank you too @mudouasenha! 🤩

[2022-10-26 20:48] KayleeDavisGitHub commented on #1446
@weh this is #1446, #1448 was made as a result of this :)

[2022-10-27 01:11] DeanLonergan opened #1482 "[ICON REQUEST]: MatLab Simulink"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

While there is already a MatLab icon, I think it would be appropriate to include the icons of some of the MatLab suites.

### Links and sources

https://commons.wikimedia.org/wiki/File:Simulink_Logo_(non-wordmark).png

### Additional information

_No response_

[2022-10-27 11:29] Snailedlt commented on #921
Haven't gotten around to this issue yet, so unassigning myself. Hope someone else can take it, since it would be a nice addition :)

[2022-10-28 11:17] weh commented on #1446
hahaha sorry, mi fault. must have been before coffee.

[2022-10-29 08:28] Snailedlt commented on #1481
Looks awesome! Ship it! 😁
The tags probably need to be reworked though, but that can also come at a later date :)

[2022-10-29 11:36] Snailedlt opened #1483 "[FEATURE REQUEST] Add dependency review (automatically check PR's for security"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

[Dependency review](https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review) adds the ability to block pull requests that introduce vulnerable dependencies. We can select what order of severity we want to accept too, so that for exa

[2022-10-29 11:41] Snailedlt opened #1484 "[FEATURE REQUEST] Check icon requests for changes to wrong files"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Sometimes icon request PR's contain other changes than to `devicon.json` and the folder `icons/{iconname}. This should never be the case.

### Possible Solution

Add a check to check-bot to check if other files are updated. If they are, the workflow should fail and respond with a message telling the use

[2022-10-29 14:39] lunatic-fox commented on #1481
Hello there @Snailedlt!
I agree about reworking on `tags`, but I think this is long term discussion.
I'll be making a derivative branch using the generic validation of type on `tags`, that way may be possible to add the other functionalities, while `tags` is not yet standardized.

[2022-10-29 16:12] lunatic-fox commented on #1481
[**vscode_intellisense_no_tags**](https://github.com/lunatic-fox/devicon/tree/vscode_intellisense_no_tags) branch.
- `tags` property has a generic validation against string type
- `aliases` property has validation to its inner objects

[2022-10-29 20:23] Snailedlt commented on #1481
Couldn't agree more! I think we should use the one you made with the tags though, makes it easier to add more tags, and refactor them later on :)

[2022-10-29 20:30] lunatic-fox commented on #1481
Great! 🤩
So later I'll be doing a pull request of the first branch with the updates of the second one.

[2022-10-29 20:36] Snailedlt opened #1486 "[FEATURE REQUEST] Make `check-bot` check that base and alias have different vaalues."
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Currently it's possible to add a new entry to `devicon.json` with the following code:
[code]
Notice how the base and alias have the same value. This

### Possible Solution

_No response_

### Additional information

_No response_

[2022-10-29 23:07] Snailedlt commented on #1306
How to unite paths in Inkscape:
1. Ungroup the objects Ctrl Shift G
1. Select all Ctrl A
1. Path > Union Ctrl + +

[2022-10-29 23:11] Snailedlt commented on #1306
How to convert bitmap images (PNG, JPG,...) to vector images (SVG...): https://github.com/devicons/devicon/issues/1279#issuecomment-1195433256

[2022-10-29 23:13] Snailedlt commented on #1306
How to optimize and minimize SVG's with SVGOMG: https://github.com/devicons/devicon/issues/1279#issuecomment-1195433256

[2022-10-29 23:16] Snailedlt commented on #1481
Great! Can't wait to get this merged! Will be a huge improvement, and surely speed up the process both for code contributors and reviewers! 🚀

[2022-10-29 23:25] Snailedlt commented on #1368
@KayleeDavisGitHub Interesting. Sounds like snowflake is also a platform. Do you know if any of the tools you mention have their own names, or if they just go under the umbrella term `snowflake`?

Some links to the individual tools would also be useful, as I couldn't find them from quickly browsing their website.

Like I said, I'm not familiar with snowflake, so I need more info before making a de

[2022-10-30 01:24] lunatic-fox commented on #1306
Instructions of how to resize to square in Inkscape: [#1465 (comment)](https://github.com/devicons/devicon/pull/1465#issuecomment-1287950577)

[2022-10-30 01:28] lunatic-fox commented on #1306
Checking grouped layers in Inkscape: [#1468 (comment)](https://github.com/devicons/devicon/pull/1468#issuecomment-1290702218)

[2022-10-30 09:38] theabhayprajapati opened #1489 "[ICON REQUEST]: <tailwind CSS> new icon. Update"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Can you please update the current icon which is there for tailwindCSS.

### Links and sources

[TailwindCSS's website](https://tailwindcss.com/)

[Github link for tailwindcss](https://github.com/tailwindlabs/tailwindcss)

### Additional information

_No response_

[2022-10-30 20:08] Snailedlt commented on #1325
The issue can also be seen in this PR: #1488

I think we can simplify the fix for this issue by simply checking the `font` attribute in `devicon.json`, which tells us whether or not the icon will be uploaded to icomoon. So pretty much, if the icon exists inside `font`, check the stroke property, otherwise it can be skipped.

Should only need to modify these lines then: https://github.com/devicons/

[2022-10-31 20:11] kilianpaquier commented on #1306
Transforming plain or original logos into outline ones :

- First of all, select the path (right panel, section `Layers and Objects`) you want to transform into an outline.
- Head to the section `Fill and Stroke` on the right panel and select the sub-section `Stroke paint`.
- Here, select the first option `Flat color`.
- If needed, you can adjust the border width on the sub-section `Stroke style`

[2022-11-03 00:25] Snailedlt commented on #1453
Related [vscode extension]() to preview .eps files: https://github.com/ahnafnafee/PostScript-Preview

It's pretty bare-bones, but it works:
![image](https://user-images.githubusercontent.com/43886029/199626183-0b98d857-bcea-4adf-a81b-94ae5977e7a7.png)

[2022-11-03 00:55] Snailedlt commented on #633
How to convert bitmap images (PNG, JPG,...) to vector images (SVG...): https://github.com/devicons/devicon/pull/1428#issuecomment-1271702666

[2022-11-03 01:39] Snailedlt commented on #1486
related to #1487 , specifically the [devicon-schema.json: 97-210](https://github.com/devicons/devicon/pull/1487/files#diff-23e58c2c49c58c9437dbd90ae4ed2512742afbda276c88d0cf52848742b0916bR97-R210), which also checks that alias and base don't have the same names

[2022-11-03 01:51] Snailedlt commented on #1453
Possible tools we could use:
- https://epsviewer.org/onlineviewer.aspx
- https://www.fviewer.com/view-eps
- https://ehubsoft.herokuapp.com/psviewer/

[2022-11-03 01:56] Snailedlt commented on #1453
I haven't been successful in getting .eps file syntax highlighting for devicon's .eps files inside of vscode, even with the [PostScript Language](https://marketplace.visualstudio.com/items?itemName=mxschmitt.postscript) extension.
![image](https://user-images.githubusercontent.com/43886029/199634332-7d1e1e48-abb4-4292-b09a-5f2d104a5f52.png)
![image](https://user-images.githubusercontent.com/438860

[2022-11-03 05:48] lunatic-fox commented on #1453
### Reason 3 ✔

*Source: [**Adobe Creative Cloud - EPS files.**](https://www.adobe.com/creativecloud/file-types/image/vector/eps-file.html)*

### #&#8203;1 Input
We can locally convert `.eps` to `.svg` using Inkscape, but we will need to install Ghostscript first.
Here's the tutorial made by Open Source Bug: [**Youtube - IMPORT EPS IN INKSCAPE ON WINDOWS | Open File Tutorial**](https://www.youtube

[2022-11-03 08:40] Snailedlt commented on #1453
Seems like the software you need to open and edit .eps files depend on which software made the .eps file to start with: https://www.quora.com/How-do-I-open-and-edit-an-EPS-file/answer/Monika-Gause

Question:

Answer:

I'd say this is most likely a very accurate answer, seing as [Monica Guase](https://www.quora.com/profile/Monika-Gause) (the person who wrote the answer) has 15 years of experience w

[2022-11-03 09:20] Snailedlt opened #1496 "[ICON REQUEST]: jule"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Jule is a statically typed compiled programming language designed for system development, building maintainable and reliable software

### Links and sources

Website: https://jule.dev/
GitHub: https://github.com/julelang
Logos and Resources: https://github.com/julelang/resources

#### Official SV

[2022-11-03 14:04] KayleeDavisGitHub commented on #1368
@Snailedlt I do not know what underlying stuff goes into Snowflake, a lot of the individual "tools" that go into Snowflake is just SQL coding and other data engineering tools like I mentioned above.

Sorry I can't be of more help here!

[2022-11-03 14:23] Spince commented on #1368
Snowflake is a platform that is a hosted data warehouse. You can interact
with it through an api, sql client, jypiter notebook, etc. Snowsight is
their visualization UI. Snowpark is their Python/Java tool.

Closest equivalents to Snowflake are BigQuery from Google and Redshift from
Amazon. Databricks is another similar tool.

On Thu, Nov 3, 2022 at 08:04 Kaylee L. Davis ***@***.***>
wrote:

[2022-11-03 14:51] Snailedlt commented on #1368
@Spince
I see, so Snowflake is more comparable to tools inside of Azure/AWS/GCP than Azure/AWS/GCP themselves. Does that sound about right?

I guess if that's the case, then I would consider it a tool.

[2022-11-03 14:54] Spince commented on #1368
That is correct. Snowflake can be run on any of the cloud providers but is
a third party tool.

On Thu, Nov 3, 2022 at 08:51 Jørgen Kalsnes Hagen ***@***.***>
wrote:

[2022-11-03 14:57] Snailedlt commented on #1368
Well, I'm convinced that this fits the requirements then.

@BenSouchet take a look at the last few messages and see if it changed your mind or not :)

[2022-11-03 17:20] lunatic-fox commented on #992
I agree with @kilianpaquier. Maybe #1383 solves it.

[2022-11-03 17:36] lunatic-fox commented on #1002
Thank you for the request! 👍🏼
But it looks like this icon request falls under [**Project management tools**](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#special-cases-see-this-discussion-for-more-details) category, which is not accepted.
Anyway, I'm open to discussions.

[2022-11-03 17:37] lunatic-fox commented on #1035
#1432 discussion solves it!

[2022-11-03 17:38] lunatic-fox commented on #1178
Agree with @BenSouchet. 👍🏼

[2022-11-03 18:15] lunatic-fox commented on #1259
@grandslammer is right about the category. However, I agree with @BenSouchet and @Snailedlt, since those tools are more related to design than to development.

I think they are great tools, but both artists and developers can only use them as designer tools in their respective use cases. That way, even if you are doing an UI for some app, for instance, you still need another tool to add the functi

[2022-11-03 18:26] lunatic-fox commented on #1299
I'm not sure, but I think SVGO can already solve it. 🤔

[2022-11-03 19:28] lunatic-fox commented on #1445
Agree with @KayleeDavisGitHub about clarify the wiki.

[2022-11-03 20:41] yeyeto2788 commented on #1469
I'll handle this one.

[2022-11-04 11:40] PantheraRed opened #1500 "[BUG] Jira plain-wordmark font (Visual bug/Improper rendering)"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

In this bug, the Jira plain-wordmark font can be seen missing some colors. I have verified this bug on both android chrome and windows chrome.

Android chrome:
<img src="https://user-images.githubusercontent.com/41539361/199949351-0ccb44bc-e368-4187-878a-33c2f11becb2.png" height="265" />

Window

[2022-11-04 11:57] saveriogzz commented on #1192
Great job @Snailedlt ! How can I help you merging it?

[2022-11-04 12:03] Snailedlt commented on #249
This looks awesome!
https://www.youtube.com/watch?v=WHyOHQ_GkNo

[2022-11-04 17:47] lunatic-fox commented on #1500
Great catch! 🕵🏼‍♂️
Thank you for this contribution! 🤩

I'll make a fixing PR for this icon soon.

**Problems:**
- major: paths are not unified
- minor: icons have `fill` property

[2022-11-05 19:02] lunatic-fox commented on #1453
### #&#8203;3 Input
I used [**Cloud convert - EPS to SVG**](https://cloudconvert.com/eps-to-svg) and I noticed that the `.svg` file was generated by Inkscape, so that make me think: *"It must have a CLI version."* And it actually does! 🤩

After playing with it for a while I came to this result:

https://user-images.githubusercontent.com/76992016/200136191-789ea299-6aec-413d-8aa3-0257f3e7588c.mp4

[2022-11-06 02:25] lunatic-fox opened #1502 "[BUG] Incorrect references in `devicon.json`"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

In `devicon.json` some entry objects are with incorrect references in `versions.svg[]` or `aliases[]`.

***Example in heroku entry***
- [ x ] SVG array equals SVG files
[code]

### All detailed information are wrapped in this [**gist**](https://gist.github.com/lunatic-fox/a8cd1ee5b2c7bbd79a95498

[2022-11-07 16:09] Snailedlt commented on #1259
Just for clarity. This falls under the following [special case](https://github.com/devicons/devicon/wiki/What-Icons-Do-We-Accept%3F#special-cases-see-this-discussion-for-more-details):

With that in mind, this is pretty much up to what the community as a whole decides... so let the discussion commence! 🗣️

[2022-11-07 16:19] Snailedlt commented on #1299
@lunatic-fox You're absolutely right! In fact, if you take a look at the comments in the linked issue (#1277), and search for SVGO, you will find a few references to it :)

So pretty much we can use one of these scripts depending on what it is we want to do:
1. Convert style tags into inline style attributes -> [inlineStyles.js](https://github.com/svg/svgo/blob/main/plugins/inlineStyles.js)
2. Rem

[2022-11-07 16:20] Snailedlt commented on #1299
Maybe we can go a few steps further, and just automate the whole optimization process so that contributors no longer need to use SVGOMG for that :)

[2022-11-07 16:24] Snailedlt commented on #1445
Agreed! But before we can do that, we need to figure out if video editors should be allowed or not. My vote is on disallowing it, since it's not a tool most developers need afaik. Open to discussion though, and ultimately up to the community as a whole to make the decision!

[2022-11-07 16:55] Snailedlt commented on #1192
Hi @saveriogzz
I'm glad you're following up on this
Sorry for the late response. Been busy lately since we're only two maintainers atm, and both of us have had busy weeks :)

Anyways, if you want to get it merged as fast as possible, the best way would be to make a PR with the new icons like so -> [Overview-on-Submitting-Icons](https://github.com/devicons/devicon/wiki/Overview-on-Submitting-Icons)

[2022-11-07 19:49] PantheraRed opened #1503 "[ICON REQUEST]: parcel"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Parcel is an open-source JavaScript bundler.

### Links and sources

**Website:** https://parceljs.org/

**Official Logo (png):**

![image](https://user-images.githubusercontent.com/19409/135924939-03845d0b-e7bb-414b-89b6-e627dfa9f614.png)
**Image source:** https://github.com/parcel-bundler/parce

[2022-11-08 03:29] lunatic-fox commented on #1445
I also vote the same: disallow icons related to video editors.
So I thought in other questions that may appear and some solutions to them.

[code]

[2022-11-08 07:29] Snailedlt commented on #1445
Nice flowchart @lunatic-fox

I vote for taking the left route... just modify it a bit:
![image](https://user-images.githubusercontent.com/43886029/200500324-6744e10e-9971-4f06-ae28-f3f1fc81062f.png)

So video editors are generally disallowed, we should keep the existing icons for backwards-compatability, and we should update the wiki with a point under Not Allowed, and crucially also make a list o

[2022-11-08 15:59] KayleeDavisGitHub commented on #1445
For what it's worth I think this makes sense as well :)

[2022-11-08 17:15] bardpedersen opened #1504 "[ICON REQUEST]: <ROS>"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Robot operation system

### Links and sources

https://www.ros.org

### Additional information

_No response_

[2022-11-10 15:33] yeyeto2788 commented on #1193
@Snailedlt I'll handle this one.

[2022-11-15 15:20] rahulps1000 opened #1510 "[ICON REQUEST]: Pypi"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Python Package

### Links and sources

https://pypi.org/

### Additional information

_No response_

[2022-11-15 15:22] rahulps1000 commented on #1510
Closing this since there is already an issue open for the same icon. I hope this will be added soon.

Thanks

[2022-11-15 15:22] #1510 closed

[2022-11-18 17:06] Snailedlt opened #1512 "[ICON REQUEST]: SVGO"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

SVGO is what we use in devicons to optimize SVG icons

### Links and sources

- [GitHub repo](https://github.com/svg/svgo)
- [Logos](https://github.com/svg/svgo/tree/main/logo)

### Official Logos
#### original & original-wordmark
![](https://raw.githubusercontent.com/svg/svgo/ae32acf5144be318872

[2022-11-19 16:00] Snailedlt commented on #1420
I'll create an issue on introducing codepoint stability

[2022-11-19 16:03] Snailedlt opened #1516 "[FEATURE REQUEST] Add codepoint stability"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

So in order to get devicons into [nerdfonts](https://github.com/ryanoasis/nerd-fonts) we need to introduce codepoint-stability. A codepoint is basically just the index of a given icon in a font. codepoint-stability means that the codepoints for each icon need to be the same between each version.

### Po

[2022-11-19 16:04] Snailedlt commented on #1516
@lunatic-fox Is this something you'd want to work on?

[2022-11-19 16:26] Snailedlt commented on #1471
We're still looking for a few more maintainers btw :)

[2022-11-19 18:50] cyberalien opened #1517 "[BUG] vscode-*-wordmark.svg contains raster image"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

`vscode-*-wordmark.svg` images contain `<image>` tag with PNG image, used as mask

### Possible fixes or solutions

Remove it. It is used for text shadow, which is not needed in a vector image.

### Additional information

_No response_

[2022-11-19 19:16] cyberalien opened #1518 "[BUG] Bad code in `discordjs-plain-wordmark.svg`"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

`<g stroke="null" fill="#2A2C3E">`

Null is not a valid color

### Possible fixes or solutions

`<g stroke="none" fill="#2A2C3E">`

### Additional information

_No response_

[2022-11-19 19:18] cyberalien opened #1519 "[BUG] Bad code in phoenix-plain-wordmark.svg"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Icon contains this code: `<use xlink:href="#phoenix-plain-wordmark-image7"/>`.

There is no element with id `phoenix-plain-wordmark-image7`.

### Possible fixes or solutions

Redo image

### Additional information

_No response_

[2022-11-19 19:23] cyberalien opened #1520 "[BUG] Invalid color in polygon-plain.svg"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

`fill="rgb(%100,%100,%100)"` is not a valid color. % is on wrong side of numbers.

### Possible fixes or solutions

Change to `fill="#fff"`

### Additional information

_No response_

[2022-11-19 19:29] cyberalien opened #1521 "[BUG] Invalid color in grails-plain.svg"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

`fill="#00000"` is not a valid fill color.

### Possible fixes or solutions

Replace with `fill="#000"`

### Additional information

_No response_

[2022-11-19 19:52] cyberalien commented on #1517
Same with few more icons, not sure if separate issues are needed for each one of them:
- `apache-original*`
- `phoenix-original-wordmark`
- `php-original`
- `tensorflow-original-wordmark`
- `yii-original*`

[2022-11-19 19:52] cyberalien opened #1522 "[BUG] Icons contain text"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Few icons contain text. It is not recommended because text renders differently, depending on browser and operating system, making icon look different for different users.

The following icons contain it:
- `bootstrap-original-wordmark`
- `ember-original-wordmark`
- `safari-original-wordmark`

##

[2022-11-19 19:55] cyberalien commented on #1518
Same issue in related icon `discordjs-original-wordmark`

[2022-11-19 19:58] cyberalien opened #1523 "[BUG] Bad code in kaggle-original-wordmark"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Shape uses this clip-path: `clip-path="url(#kaggle-original-wordmark-b)"`, but it does not exist in icon.

### Possible fixes or solutions

Probably remove clip-path because icon seem to be fine without it

### Additional information

_No response_

[2022-11-19 20:01] cyberalien commented on #1518
Also `qt-original` contains `stroke="null"`

[2022-11-20 00:42] Snailedlt commented on #1518
If I understand this correctly, you want `stroke="null"` to be removed, right?

[2022-11-20 07:24] cyberalien commented on #1518
Yes, removing it is one of solutions. Another solution is to set value to `none`, which I guess was the intended value but someone made a typo (probably after long coding session dealing with `null` 😄).

[2022-11-20 07:42] Snailedlt commented on #1518
Ahh, now I see that the solution is different from the bug!
Yeah, I would definitely have done the same 😅

[2022-11-20 09:00] cyberalien commented on #1517
Additionally, `vscode-*-wordmark` icons have bad logo shapes, incorrectly aligned:

![vscode-bugged](https://user-images.githubusercontent.com/822287/202893830-df7656c2-f3a2-4132-8813-4d0074c3423e.png)

[2022-11-20 09:26] cyberalien opened #1525 "[BUG] apache logos are wrong"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Official apache logo: https://www.apache.org/logos/res/httpd/httpd_highres.png

Logo in devicon: https://github.com/devicons/devicon/blob/master/icons/apache/apache-original-wordmark.svg

Official logo is vertical and does not have outline. Also font used in text is wrong.

Though it could be ju

[2022-11-20 11:47] cyberalien opened #1528 "[BUG] Phoenix icons issues"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Several issues:
1. `phoenix-original-wordmark` contains raster image, used as shadow for text.
2. `phoenix-plain-wordmark` contains gradients (black to black), but it is supposed to be a monotone image, so color removal was done incorrectly.

### Possible fixes or solutions

Fix palette, remove

[2022-11-20 12:40] cyberalien opened #1530 "[BUG] php logo bugs"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

php logo has 2 bugs:
- it contains raster image, used as outer shadow
- color is wrong. official logo color is `#777BB3`, not `#6181b6`

### Possible fixes or solutions

fix it

### Additional information

_No response_

[2022-11-20 13:22] cyberalien opened #1532 "[BUG] Yii framework icons bugged and outdated"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

There are problems with "yii" icons:
- `yii-original*` include raster images
- All versions are outdated, not latest version of official icons
- Color is wrong. Official color is `#40b3d8`, not `#0073bb`

### Possible fixes or solutions

Redo icons

### Additional information

_No response_

[2022-11-20 19:16] cyberalien opened #1541 "[OTHER] Validation"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

I wanted to share validation script, which could help find errors in icons quicker. It is based on tools I use to validate icon sets for Iconify.

It checks for:
- Files that aren't supposed to be there and bad filenames.
- Icon dimensions.
- If icons contain any raster images, tex

[2022-11-20 20:31] cyberalien opened #1542 "[BUG] Bad code in astro-plain-wordmark"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

Icon contains `fill="#00000"` which is not a valid color

### Possible fixes or solutions

Replace with `fill="#000"`

### Additional information

_No response_

[2022-11-20 20:50] cyberalien opened #1544 "[BUG] issues in ballerina icons"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

There are multiple issues with `ballerina` icons:
- Icons have height of 128.00001 instead of 128
- Line icon uses stroke
- Icons without text are not scaled properly, leaving huge padding on all sides
- [ballerina-line.svg](https://github.com/devicons/devicon/blob/develop/icons/ballerina/baller

[2022-11-20 21:26] PantheraRed opened #1546 "[OTHER] denojs should be called deno"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### What would you like to share?

Originally, **Deno** does not have a suffix "js". But in devicons it is named `denojs`. In my opinion, the suffix "js" should dropped with respect to its original name `deno`.

### Additional information

# Sources
https://deno.land/
https://github.com/denoland/deno

[2022-11-20 21:29] Snailedlt opened #1547 "[FEATURE REQUEST]: Automatically optimize icons with SVGO"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Every contributor has to optimize the icons they add. The main way to do this is following [this]() guide, to optimize the icons using SVGOMG (a SVGO UI tool). It would be much better if this process was automated

### Possible Solution

Make a workflow to optimize icons using SVGO. If there is no GitHu

[2022-11-20 21:34] Snailedlt opened #1548 "[FEATURE REQUEST] Automatically check if SVGs contain raster images"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Currently raster images are allowed in the SVG's by the check-bot. This should not be the case, since raster images are not scalable, and therefore don't belong in our icons.

### Possible Solution

Add checks to `check-bot`. The bot should check for <img> and <image> tags

### Additional information

S

[2022-11-20 21:47] Snailedlt opened #1549 "[FEATURE REQUEST] Automatically check if .svg files contain widrh and height attributes"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Icons should use the `viewbox` attribute instead of the `width` and `height` attributes. Atm we have to check this manually when reviewing a PR, but it can easily be automated with `check-bot`

### Possible Solution

Add checks to `check-bot` and respond with an error message if any .svg files in a PR c

[2022-11-20 21:49] Snailedlt commented on #1546
Agreed, like I mentioned in your PR #1526 this will be a breaking change, so I added the major label to it

[2022-11-21 07:40] Snailedlt opened #1550 "[FEATURE REQUEST] Automatically check if icons used as font have more than one path"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Problem

Icons that are used as fonts should not have more than one path element. Currently we have to manually check this, but it should be an automated process

### Possible Solution

Add a check to `check-bot` to make sure that all icons inside the `fonts` object in `devicon.json` have only one path. If more

[2022-11-21 07:57] Snailedlt commented on #1541
Looks like we at least want some of the checks in this script. I'll look into using it in devicon. Maybe we could even make a more generic GitHub Action from this eventually?

Anyways, this is related to #1548 #1547 #1550 #1549 #1325

[2022-11-21 11:24] Snailedlt opened #1551 "[BUG] `rust-plain.svg` should be renamed to `rust-original.svg`"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### Bug description

The `plain` version of the Rust icon can also be used as `original` version, therefore it should be named `rust-original.svg` and an alias should be added to the `devicon.json` entry between `original` and `plain`. As explained [here](https://github.com/devicons/devicon/wiki/Updating-%60devicon.

[2022-11-21 11:28] Potherca opened #1552 "[ICON REQUEST]: Apache Ignite"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

"Ignite" is a Distributed Database from Apache. As other Apache and database are included, Apache Ignite should not be missing!

### Links and sources

## Links

- Official website: https://ignite.apache.org/
- Wikipedia entry: https://en.wikipedia.org/wiki/Apache_Ignite
- GitHub repository: http

[2022-11-21 11:32] Snailedlt opened #1553 "[ICON REQUEST]: Cargo"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Cargo is the package manager for the Rust programming language

### Links and sources

Rust and Cargo branding: https://foundation.rust-lang.org/img/cargo.png

### Official logos:
Sadly I couldn't find any .svg files, but I found this official .png logo which can be converted using the method lay

[2022-11-23 04:00] Panquesito7 commented on #1124
Has this been addressed?

[2022-11-23 06:49] lunatic-fox commented on #1541
I think #1502 is kinda related. Also that I should make a PR soon to seal with the issue. 🙂

[2022-11-23 19:38] septatrix opened #1555 "[ICON REQUEST]: linux-flat"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Unshaded version of linux-original to reduce size

### Links and sources

https://commons.wikimedia.org/wiki/File:Tux-flat.svg

### Additional information

Currently there are linux-original and linux-plain. I would like a colored variant, however, the original variant is a whole 190KiB in size.

[2022-11-28 08:04] yeyeto2788 commented on #903
@Snailedlt please assign this one to me 🥳

I'll be using [this](https://static1.smartbear.co/swagger/media/assets/images/swagger_logo.svg) which is the one on the swagger website.

[2022-11-28 08:22] Snailedlt commented on #903
Sounds good to me.

You can find the logos here: https://github.com/search?l=SVG&q=org%3Aswagger-api+logo&type=Code

And here:
https://github.com/swagger-api/swagger.io/tree/c3449cde8b570664c04c9661e98dc6dc941f5395/images/assets

[2022-11-28 19:04] biofsphere opened #1559 "[ICON REQUEST]: Wagtail"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Wagtail is a CMS built on top of Django that is skyrocketing in popularity due to its flexibility.

### Links and sources

All about this particular CMS can be found at [Wagtail.org](https://wagtail.org/).

### Additional information

The icon is a bird known for its tail wagging behavior.

[2022-11-29 03:22] lunatic-fox commented on #1548
Hello there! Perhaps, we can use this regular expression.
[code]

Well, let me try to convert it to Python: 😅
[code]

[2022-11-29 17:27] Snailedlt commented on #1548
@lunatic-fox no need to re-invent the wheel here. I think we can just re-use what SVGO has here: https://github.com/svg/svgo/blob/ae32acf5144be318872a45f49b3ece50c0a4cb18/plugins/removeRasterImages.js#L24

[2022-11-29 18:06] lunatic-fox commented on #1548
Hmm, the idea came from [here](https://github.com/devicons/devicon/pull/1554#discussion_r1030304788). They're regex is a step before and it will totally work.

The full regular expression with common image extensions would be something like this:
[code]

But since there are more extensions we could reduce to this:
[code]

Or to simplify everything we can just ask if the svg has the `<image>` tag,

[2022-11-29 19:13] Snailedlt commented on #1548
Yeah, seems like a good idea to just generally not allow the image element. That way we disallow raster images and other linked images, so we have the entire source code in our repo instead of linking to external images.

[2022-11-29 22:16] eduardocesb opened #1560 "[ICON REQUEST]: Hacklang"
### I have searched through the issues and didn't find my problem.

- [X] Confirm

### About the icon

Hack is a programming language for the HipHop Virtual Machine (HHVM), created by Meta as a dialect of PHP. The language implementation is open-source.

### Links and sources

https://hacklang.org/

https://github.com/facebook/hhvm

### Additional information

_No response_